<div class="row">
    <div class="col-1-4">
        <div class="row">
            <form name="newReport" method="post" enctype="multipart/form-data" novalidate>
                <div class="col-1">
                    <div class="form__field form__field--select">
                        <label translate="REPORTING.EVENT_TYPE"></label>
                        <div selectric model="finder.eventType" options="finder.eventTypes" label="value" value="value"
                            placeholder="{{'LABEL.SELECT' | translate}}">
                        </div>
                    </div>
                </div>

                <div class="col-1-2">
                    <div class="form__field">
                        <label translate="REPORTING.EVENT_DATE_FROM"></label>
                        <input type="text" ng-model="finder.dateFrom" date-val="finder.dateFrom" datepicker />
                     </div>
                 </div>

                <div class="col-1-2">
                     <div class="form__field">
                        <label translate="REPORTING.EVENT_DATE_TO"></label>
                        <input type="text" ng-model="finder.dateTo" date-val="finder.dateTo" datepicker />
                    </div>
               </div>

                <div class="col-1">
                    <button name="submit" class="btn btn--primary" ng-click="runReport(category)" type="submit"
                        translate="REPORTING.RUN_TITLE"></button>
                </div>

                <input type="hidden" name="category.id" ng-value="category.id"/>
            </form>
        </div>
    </div>
</div>
