<div class="row">
    <div class="col-1">
        <h1 translate="REPORTING.RUN_TITLE" translate-values="{category: category.name}"></h1>
    </div>
</div>
<div class="row">
    <div class="col-1-4">
        <div class="row">
            <form name="newReport" method="post" enctype="multipart/form-data" novalidate>
                <div class="col-1 form__field">
                    <label translate="REPORTING.MP9073.EVENT_TYPE"></label>
                    <select name="eventType" id="eventType" ng-model="category.eventType">
                        <option ng-repeat="eventType in category.eventTypes" value="{{eventType}}">{{eventType}}</option>
                    </select>
                </div>
               
                <div class="col-1-2">
                    <div class="form__field">
                        <label translate="REPORTING.MP9073.EVENT_DATE_FROM"></label>
                        <input type="date" name="eventDateFrom" id="eventDateFrom" ng-model="reportParams.eventDateFrom">
                     </div>
                 </div>

                <div class="col-1-2">
                     <div class="form__field">
                        <label translate="REPORTING.MP9073.EVENT_DATE_TO"></label>
                        <input type="date" name="eventDateTo" id="eventDateTo" ng-model="reportParams.eventDateTo">
                    </div>
               </div>

                <div class="col-1">
                    <button name="submit" class="btn btn--primary" ng-click="runReport(reportParams)" type="submit"
                        translate="REPORTING.RUN_TITLE"></button>
                </div>

                <input type="hidden" name="reportParams.definitionId" ng-value="category.id"/>
            </form>
        </div>
    </div>
</div>
