<div class="row row--alley-2">

    <div class="col-1">
        <h1 translate="REPORTING.TITLE"></h1>
        <span class="label label--inverse vertical-space--thick" ng-bind="category.desc"></span><p>
        <button name="submit" class="col-1-3 btn btn--primary" ng-click="goToRun(category.id)" type="submit" translate="REPORTING.RUN"></button>
        <p>
        <table ng-show="reports.length > 0" class="table table--condensed table--even table--responsive text--small" data-js="responsive-table">
            <thead>
                <tr>
                    <th translate="{{'REPORTING.NAME' |translate}}"></th>
                    <th translate="{{'REPORTING.DATE' | translate}}"></th>
                    <th translate="{{'REPORTING.STATUS' | translate}}"></th>
                    <th translate="{{'REPORTING.ACTION' | translate}}"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="report in reports">
                    <td>
                        <a href="" ng-click="goToRead(report.id)" ng-bind="report.desc"></a>
                    </td>

                    <td ng-bind="report.date"></td>
                    <td ng-bind="report.status"></td>
                    <td>
                        <a title="{{ LABEL.DELETE | translate }}" href="" 
                           ng-click="removeReport(report.id)" translate="LABEL.DELETE"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
