<div class="row">
    <div class="col-2-3">
    <h1 translate="REPORTING.RUN_TITLE">{{category.name}}</h1>
</div>
<div class="row">
    <div class="col-1-4">
        <form name="newReport" method="post" enctype="multipart/form-data" novalidate>
            <div class="form__field">
                <label translate="REPORTING.MP9073.EVENT_TYPE"></label>
                <select name="eventType" id="eventType" ng-model="reportParams.eventType">
                    <option ng-repeat="eventType in reportParams.eventTypes" value="{{eventType}}">{{eventType}}</option>
                </select>
            </div>
            <div class="form__field">
                <label translate="REPORTING.MP9073.EVENT_DATE_FROM"></label>
                <input type="date" name="eventDateFrom" id="eventDateFrom" ng-model="reportParams.eventDateFrom">
             </div>
             <div class="form__field">
                <label translate="REPORTING.MP9073.EVENT_DATE_TO"></label>
                <input type="date" name="eventDateTo" id="eventDateTo" ng-model="reportParams.eventDateTo">
            </div>
            <div class="form__field">
                <button name="submit" class="btn btn--primary" ng-click="runReport(reportParams)" type="submit"
                    translate="REPORTING.RUN_TITLE"></button>
            </div>
            <input type="hidden" name="reportParams.definitionId" ng-value="category.id"/>
        </form>
    </div>
</div>
