.screen-reader {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
}
.site-wrapper:after,
.site-header:after,
.site-nav:after,
.site-content:after,
.site-footer:after {
  clear: both;
  content: "";
  display: block;
}
.site-nav {
  width: 300px;
}
.site-wrapper {
  min-height: 100%;
  overflow: hidden;
}
.site-header {
  padding: 12px 10px;
}
.site-header .page-title {
  padding: 12px 0;
  margin: 0;
}
.site-content {
  overflow-x: auto;
  min-height: 350px;
}
.site-content > :last-child {
  margin-bottom: 0;
}
.site-content p a {
  text-decoration: none;
}
.site-footer {
  padding: 12px 10px;
}
.site-footer .logo {
  float: left;
  border-right: 1px solid;
}
.site-footer .logo img {
  display: block;
}
.site-footer .copyright {
  float: left;
  padding: 12px 20px;
}
.site-footer .util-nav {
  float: right;
  padding: 12px 0;
}
.site-footer .util-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer .util-nav ul li {
  float: left;
  padding: 0 10px;
}
.site-footer .util-nav ul li:last-child {
  border-right: 0;
}
.page-header,
.page-content {
  padding: 24px 20px;
}
@media only screen and (min-width: 74em) {
  .page-header,
  .page-content {
    padding: 24px 50px;
  }
}
@media only screen and (min-width: 54em) and (max-width: 74em) {
  .page-header,
  .page-content {
    padding: 24px 50px;
  }
}
.page-header:after,
.page-content:after {
  clear: both;
  content: "";
  display: block;
}
.page-header {
  background-color: #eff0f6;
  font-size: 16px;
}
.page-header hr {
  border: 0;
  border-top: 2px solid #c9c9d1;
}
@media only screen and (max-width: 34em) {
  .page-header hr {
    margin-bottom: 24px;
  }
}
.page-content hr,
.page-tabs hr {
  border: 0;
  border-top: 2px solid #c9c9d1;
}
.page-tabs h2 {
  display: inline-block;
}
/** DASHBOARD MOCK **/
.dashboard .blue {
  color: #0061de;
}
.dashboard .form__field {
  margin-bottom: 36px;
}
.dashboard .border--right {
  border-right: 1px solid #c9c9d1;
}
.dashboard .card {
  box-shadow: none;
  border: none;
}
.dashboard .card p {
  color: #ffffff;
}
.dashboard .card .card__content {
  padding: 24px 30px 72px 30px;
}
.primary-contact-action {
  margin-top: 24px;
}
a.read-more {
  display: block;
  margin-top: -20px;
}
.action-bar h4 {
  padding: 0;
  margin: 0;
}
.action-bar p {
  padding: 0;
  margin: 0;
}
.action-bar .report-tab {
  border: 1px solid #ccc;
  height: 130px;
}
.dashboard-widget {
  border: 1px solid #ccc;
}
/** END DASHBOARD MOCK **/
.btns {
  marign-bottom: -12px;
  margin-left: -10px;
}
.btns:after {
  clear: both;
  content: "";
  display: block;
}
.btns .btn {
  margin: 0 0 12px 10px;
}
@media only screen and (max-width: 34em) {
  .btns .btn {
    width: 100%;
  }
}
.btn--secondary {
  border: solid 2px #a5a5aa;
}
.top-btn {
  display: block;
  padding: 12px 10px;
  text-align: center;
}
.site-content .btn {
  margin-right: 20px;
  margin-bottom: 36px;
}
.page-header .btn {
  margin-right: 0;
}
textarea {
  width: 100%;
  box-sizing: border-box;
}
.selectric .form__field__current-option {
  margin-right: 60px;
}
.selectricButton {
  height: 52px;
}
.selectricHover .selectric {
  border: 1px solid #0061de;
}
.form__field label:after {
  content: "";
}
.form__field--required.form__field label:before {
  content: "";
}
.form__field--required.form__field label:after {
  content: " *";
}
label.question {
  font-weight: 300;
}
.selectricItems li:hover,
.selectricItems li:active,
.selectricItems li.selected {
  background: #0061de;
  color: #ffffff;
}
.info-list {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
.info-list:after {
  clear: both;
  content: "";
  display: block;
}
.info-list__item:after {
  clear: both;
  content: "";
  display: block;
}
.info-list__item-name {
  float: left;
  font-weight: bold;
  margin-right: 20px;
}
.info-list__item-name:after {
  content: ":";
}
.info-list__item-value {
  float: left;
  margin-right: 20px;
}
p.info-list .item-name {
  font-weight: bold;
}
p.info-list .item-name:after {
  content: ":";
}
.nav-btn {
  display: block;
  padding: 12px 10px;
}
.nav-btn .icon {
  vertical-align: baseline;
}
.rail-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rail-nav li {
  margin: 0;
  padding: 0;
  position: relative;
}
.rail-nav .nav-item {
  display: block;
  padding: 12px 10px;
  position: relative;
  border-left: 10px solid;
  transition: .1s;
}
.rail-nav .nav-item .icon {
  line-height: .95;
}
.rail-nav .nav-item .item-icon {
  font-size: 1.45em;
  padding-right: 5px;
}
.rail-nav .sub-nav .nav-item {
  padding: 12px 20px;
}
.top-logo {
  width: 200px;
  height: 41px;
  float: left;
  display: inline;
  margin-top: 20px;
  margin-left: 10px;
}
@media (max-width: 54em) {
  .top-logo {
    display: none;
  }
}
.title {
  display: inline;
  float: left;
}
.title h1 {
  padding: 0 20px;
  position: absolute;
  top: 18px;
}
@media only screen and (min-width: 74em) {
  .title h1 {
    padding: 12px 125px;
  }
}
@media only screen and (min-width: 54em) and (max-width: 74em) {
  .title h1 {
    padding: 12px 125px;
  }
}
@media (max-width: 54em) {
  .title h1 {
    display: none;
  }
}
/* <tabs> */
.page-tabs {
  padding: 24px 20px;
}
@media only screen and (min-width: 54em) {
  .page-tabs {
    padding: 0;
  }
}
.page-tabs > .set .set__tab-container {
  background-color: #eff0f6;
  border-bottom: 1px solid #a5a5aa;
  padding: 0 50px;
}
.page-tabs > .set .set__tab-container .set__trigger {
  border-right: 1px solid #ffffff;
  border-left: 0;
  border-top: 1px solid #c9c9d1;
  border-bottom: 1px solid #a5a5aa;
  margin: 0 0 -1px 0;
}
.page-tabs > .set .set__tab-container .set__trigger a {
  background-color: #c9c9d1;
  color: #1d1d25;
  display: block;
  border-top: 3px solid #c9c9d1;
  padding-left: 20px;
  padding-right: 90px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.page-tabs > .set .set__tab-container .set__trigger a:hover,
.page-tabs > .set .set__tab-container .set__trigger a:active,
.page-tabs > .set .set__tab-container .set__trigger a:focus {
  background-color: #e6e6f0;
  border-top-color: #e6e6f0;
}
.page-tabs > .set .set__tab-container .set__trigger.set--is-active {
  border-bottom-color: #ffffff;
}
.page-tabs > .set .set__tab-container .set__trigger.set--is-active a {
  background-color: #ffffff;
  color: #006446;
  font-weight: 500;
  border-top-color: #00ad21;
  border-bottom-color: #ffffff;
}
.page-tabs > .set .set__content-container .set__content {
  border: 0;
  padding: 24px 40px;
}
/* <FEF hax> */
.set__content.set--is-active,
.set__tab-container .set__trigger.set--is-active {
  z-index: auto;
}
/* </FEF hax> */
/* </tabs> */
/* <Tree Module> */
.tree {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 160px;
}
.tree__item {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  position: relative;
}
.tree__toggle {
  color: #008945;
  cursor: pointer;
  padding: 0 5px;
  position: absolute;
  top: 0;
  left: 0;
}
/* </Tree Module> */
/* <ui-grid> */
.table,
.table-image {
  max-width: 100%;
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  font-size: 9pt;
}
.table .ui-grid-row:nth-child(odd),
.table-image .ui-grid-row:nth-child(odd) {
  border-bottom: 1px solid #a5a5aa;
}
.table .ui-grid-cell-contents,
.table-image .ui-grid-cell-contents {
  padding: 0;
  margin: 0;
}
.table .ui-grid-canvas,
.table-image .ui-grid-canvas {
  position: relative;
  padding-top: 0;
}
.table .ui-grid-header-cell.bookmark-header,
.table-image .ui-grid-header-cell.bookmark-header {
  padding: 10px 0 0 0 !important;
}
.table .ui-grid-header-cell:first-child,
.table-image .ui-grid-header-cell:first-child {
  border-left: 1px solid #a5a5aa;
  padding: 12px 20px;
}
.table .ui-grid-header-cell:last-child,
.table-image .ui-grid-header-cell:last-child {
  border-right: 2px solid #a5a5aa;
}
.table .ui-grid-header-cell,
.table-image .ui-grid-header-cell {
  font-weight: bold;
  padding: 6px 10px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #a5a5aa;
  background-color: #eff0f6;
}
.table .ui-grid-canvas .ui-grid-row-header-cell:first-child,
.table-image .ui-grid-canvas .ui-grid-row-header-cell:first-child {
  padding: 5px 5px 5px 0;
}
.table .ui-grid-row:last-child,
.table-image .ui-grid-row:last-child,
.table tfoot > tr:last-child,
.table-image tfoot > tr:last-child {
  border-bottom: solid 1px #a5a5aa;
}
.table .ui-grid-cell:first-child,
.table-image .ui-grid-cell:first-child,
.table td:first-child,
.table-image td:first-child {
  border-left: solid 1px #a5a5aa;
}
.table td,
.table-image td {
  border-right: solid 1px #a5a5aa;
}
.table .ui-grid-canvas .ui-grid-cell,
.table-image .ui-grid-canvas .ui-grid-cell,
.table .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child,
.table-image .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
  text-align: left;
  vertical-align: top;
  padding: 12px 10px;
  border-top: none;
  border-right: solid 1px #a5a5aa;
}
.table .ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell,
.table-image .ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: #eff0f6;
  border: #a5a5aa;
}
.table .selection,
.table-image .selection,
.table .bookmark,
.table-image .bookmark {
  padding: 12px 5px !important;
}
.table .selection,
.table-image .selection {
  border-right: none !important;
}
.table tfoot td,
.table-image tfoot td {
  background-color: #eff0f6;
}
.no-border {
  border-left: 0 none !important;
}
.ui-grid-header-cell {
  border-left: solid 1px #a5a5aa;
}
div.ui-grid-cell .form__field input {
  background-color: #fff;
  border: 1px solid #7e7e85;
  box-sizing: border-box;
  box-shadow: none;
  color: #1d1d25;
  display: block;
  padding: 0px 20px;
  margin: 0;
  width: 100%;
  font-family: tpHero, Arial, Sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
}
div.ui-grid-cell .form__field--has-alert.form__field input,
div.ui-grid-cell .form__field--has-alert.form__field select {
  border-color: #ea1b3d;
  color: #ea1b3d;
}
.table .ui-grid-canvas .ui-grid-cell:first-child {
  padding-top: 8px;
}
.pagination {
  margin-top: 48px;
}
.pagination button {
  padding: 12px 10px;
  height: 48px;
  width: 44px;
  color: #0061de;
  background-color: #FFFFFF;
  font-weight: bold;
  border: 1px solid #d3d3d3;
}
.pagination .icon {
  margin: 0;
}
.pagination .current {
  border-top: 3px solid #1d1d26;
  border-left: 1px solid #1d1d26;
  border-right: 1px solid #1d1d26;
  margin-top: 3px;
  color: black;
}
.pagination .page-number:visited {
  color: #884fad;
}
.catalog {
  /* hover state of row */
  /* selected state of row */
}
.catalog .ui-grid .ui-grid-row {
  border-top: 0px solid none;
}
.catalog .ui-grid-row .ui-grid-cell {
  border: none;
}
.catalog .ui-grid-row .ui-grid-cell:first-child {
  border-left: solid 1px #a5a5aa;
}
.catalog .ui-grid-row .ui-grid-cell:last-child {
  border-right: solid 1px #a5a5aa;
}
.catalog .ui-grid-row:hover .ui-grid-cell,
.catalog .ui-grid-row:last-child:hover .ui-grid-cell {
  border-top: solid 2px #0061de;
  border-bottom: solid 2px #0061de;
}
.catalog .ui-grid-row:hover .ui-grid-cell:first-child {
  border-left: solid 2px #0061de;
}
.catalog .ui-grid-row:hover .ui-grid-cell:last-child {
  border-right: solid 2px #0061de;
}
.catalog .ui-grid-row-selected .ui-grid-cell {
  border-top: solid 2px #a5a5aa !important;
  border-bottom: solid 2px #a5a5aa !important;
}
.catalog .ui-grid-row-selected .ui-grid-cell:first-child {
  border-left: solid 2px #a5a5aa !important;
}
.catalog .ui-grid-row-selected .ui-grid-cell:last-child {
  border-right: solid 2px #a5a5aa !important;
}
.summary .form__field {
  margin: 0px;
}
.total td {
  width: 50%;
  background-color: white;
  text-align: right;
}
.catalog .ui-grid-row:nth-child(odd) .ui-grid-cell,
.summary .ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: white;
}
.long-text-wrap .ui-grid-cell-contents {
  overflow: visible;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal !important;
  overflow-wrap: break-word;
}
/* </ui-grid> */
.user {
  overflow: hidden;
}
.user__img {
  margin-right: 10px;
}
.user__info {
  overflow: hidden;
}
.user__notify {
  box-sizing: border-box;
  height: 50px;
  border-right: 1px solid #a5a5aa;
  padding: 12px 10px;
  margin-right: 10px;
}
/* columnpicker directive, logic in columnPickerController.js */
.dropdown__menu {
  min-width: 720px;
}
.dropdown.columnpicker {
  border: 1px solid transparent;
}
.dropdown.columnpicker .btn {
  background: #e6e6f0;
  background: -webkit-linear-gradient(#ffffff, #e6e6f0);
  background: -o-linear-gradient(#ffffff, #e6e6f0);
  background: linear-gradient(#ffffff, #e6e6f0);
  border: 1px solid #7e7e85;
  padding: 10px 0 5px 10px;
  height: 54px;
  width: 54px;
  margin-bottom: 0;
}
.dropdown.columnpicker .btn:hover,
.dropdown.columnpicker .btn.focus {
  background: #000000;
}
.dropdown.columnpicker .btn .icon.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.9); */
  -ms-transform: rotate(90deg);
}
.dropdown.columnpicker.active .btn {
  background: #000000;
}
.columnpicker__menu {
  border: 1px solid #000000;
  margin-bottom: 10px;
}
@media only screen and (min-width: 54em) {
  .columnpicker__menu {
    margin-top: -25px;
  }
}
.filter--search {
  height: 54px;
  border: 1px solid transparent;
}
.filter--search.form__field {
  overflow: visible;
}
.filter--search.focus {
  box-shadow: 0 0 5px 0px #b5cff5;
  border-color: #6ca0eb;
  outline: none;
}
.filter--search .selectric {
  border-right: none;
}
.filter--search .selectric:hover {
  border-right: none;
}
.filter--search .selectric.hover,
.filter--search .selectric.focus {
  border-top: 1px solid #0061de;
  border-right: none;
  border-bottom: 1px solid #0061de;
  border-left: 1px solid #0061de;
}
.filter--search .selectricHover .selectric {
  border-top: 1px solid #0061de;
  border-right: none;
  border-bottom: 1px solid #0061de;
  border-left: 1px solid #0061de;
}
.filter--search .selectricItems li:hover,
.filter--search .selectricItems li:active,
.filter--search .selectricItems li.selected {
  background: #0061de;
  color: #ffffff;
}
.filter--search .search {
  background: #e6e6f0;
  background: -webkit-linear-gradient(#ffffff, #e6e6f0);
  background: -o-linear-gradient(#ffffff, #e6e6f0);
  background: linear-gradient(#ffffff, #e6e6f0);
  border: 1px solid #7e7e85;
  height: 54px;
  width: 100%;
  border-left: none;
  cursor: pointer;
}
.filter--search .search:focus {
  outline: none;
}
.filter--search .search.hover,
.filter--search .search.focus {
  border-top: 1px solid #0061de;
  border-right: 1px solid #0061de;
  border-bottom: 1px solid #0061de;
  border-left: none;
}
.filter--search .form__field {
  position: relative;
  margin-bottom: 0;
}
.filter--search .form__field input.hover,
.filter--search .form__field input.focus {
  border-top: 1px solid #0061de;
  border-right: 1px solid #7e7e85;
  border-bottom: 1px solid #0061de;
  border-left: 1px solid #7e7e85;
}
.filter--search .close-icon {
  background-color: #e6e6f0;
  color: #a5a5aa;
  font-size: 16px;
  font-style: normal;
  padding-bottom: 3px;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 86%;
  top: 50%;
  margin-top: -13px;
  text-align: center;
  cursor: pointer;
}
.filter--search .close-icon:active {
  color: #1d1d25;
}
.filter--search .search-box:focus {
  outline: none;
}
@media only screen and (max-width: 74em) {
  .filter--search .close-icon {
    left: 84.5%;
  }
}
@media only screen and (max-width: 54em) {
  .filter--search {
    height: 132px;
  }
  .filter--search.focus {
    box-shadow: none;
    border-color: transparent;
    outline: none;
  }
  .filter--search .search-menu {
    padding-top: 0;
  }
  .filter--search .selectric {
    border-right: 1px solid #7e7e85;
  }
  .filter--search .selectric.hover,
  .filter--search .selectric.focus,
  .filter--search .selectric:hover {
    border: 1px solid #0061de;
  }
  .filter--search .form__field {
    margin-top: 24px;
  }
  .filter--search .close-icon {
    left: 79.5%;
  }
  .filter--search .selectricHover .selectric {
    border: 1px solid #0061de;
  }
  .filter--search .form__field.form__field-btn.focus {
    box-shadow: 0 0 5px 0px #b5cff5;
    border-color: #6ca0eb;
    outline: none;
  }
  .filter--search .form__field input.hover,
  .filter--search .form__field input.focus {
    border: 1px solid #0061de;
  }
}
.print-export {
  float: right;
  margin-top: 10px;
}
.print-export i {
  margin: -3px 5px 0 0;
}
.print-export span:first-of-type {
  padding-right: 20px;
  border-right: 2px solid #a5a5aa;
  margin: -3px 0;
}
.print-export span {
  margin-left: 20px;
}
.media > .media__visual > .card {
  display: inline-block;
  margin-right: 10px;
  box-shadow: none;
}
.call-to-action:hover {
  color: #884fad;
}
/** Sprite based icons **/
.icon--mps {
  background-image: url(/etc/resources/img/mps-icons.png);
}
.icon--mps.icon--bookmark {
  background-position: 0 0;
  height: 22px;
  width: 19px;
  margin: 6px 7px 0 0;
}
.icon--mps.icon--print {
  background-position: -20px 0;
  height: 18px;
  width: 21px;
  margin: 1px 7px 0 0;
}
.icon--mps.icon--download {
  background-position: -41px 0;
  height: 18px;
  width: 21px;
  margin: 3px 2px 0 0;
}
/** Font based icons **/
.icon-16 {
  font-size: 16px;
}
.icon-24 {
  font-size: 24px;
}
[class^="icon-mps"],
[class*=" icon-mps"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mps' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mps-lbs_map:before {
  content: "\e90c";
}
.icon-mps-spreadsheet:before {
  content: "\e90d";
}
.icon-mps-pdf_document:before {
  content: "\e90e";
}
.icon-mps-blank_document:before {
  content: "\e90f";
}
.icon-mps-location:before {
  content: "\e900";
}
.icon-mps-strategic:before {
  content: "\e901";
}
.icon-mps-requests:before {
  content: "\e902";
}
.icon-mps-report:before {
  content: "\e903";
}
.icon-mps-pin:before {
  content: "\e904";
}
.icon-mps-orders:before {
  content: "\e905";
}
.icon-mps-invoice:before {
  content: "\e906";
}
.icon-mps-global:before {
  content: "\e907";
}
.icon-mps-device:before {
  content: "\e908";
}
.icon-mps-contact:before {
  content: "\e909";
}
.icon-mps-browse:before {
  content: "\e90a";
}
.icon-mps-admin:before {
  content: "\e90b";
}
/** From https://pswgithub.rds.lexmark.com/pages/ClientFramework/controls/icons.html **/
[class^="icon-psw"],
[class*=" icon-psw"] {
  font-family: 'Action-Icons-Library';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-psw-disclosure_right_triangle:before {
  content: "\e020";
}
.icon-psw-project:before {
  content: "\e636";
}
.icon-psw-dashboard:before {
  content: "\e63b";
}
.icon-psw-library:before {
  content: "\e654";
}
.icon-psw-error:before {
  content: "\e017";
}
.icon-psw-gear:before {
  content: "\e030";
}
.icon-psw-delete:before {
  content: "\e02f";
}
.icon-psw-disclosure_down_triangle:before {
  content: "\e04a";
}
.icon-psw-disclosure_up_triangle:before {
  content: "\e049";
}
.rollup {
  background-color: #e6e6f0;
  border-top: 3px solid #00ad21;
  border-right: 1px solid #7e7e85;
  border-bottom: 1px solid #7e7e85;
  border-left: 1px solid #7e7e85;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(29, 29, 38, 0.2);
  -moz-box-shadow: 0px 4px 5px 0px rgba(29, 29, 38, 0.2);
  box-shadow: 0px 4px 5px 0px rgba(29, 29, 38, 0.2);
}
.rollup h1 {
  padding: 12px 24px 0;
  margin: 0 0 12px 0;
}
.rollup h1.blue {
  color: #0061de;
}
@media only screen and (max-width: 74em) {
  .rollup h1 .icon-psw-disclosure_right_triangle {
    margin-top: 15px;
  }
}
.rollup h4 {
  color: #008945;
  padding: 12px 24px 0;
  margin: 0 0 12px 0;
}
.rollup .rollup-label {
  background-color: #ffffff;
  border-bottom: 1px solid #eff0f6;
}
.rollup .rollup-content {
  background-color: #ffffff;
  border-bottom: 1px solid #c9c9d1;
}
.rollup .rollup-footer {
  border-top: 2px solid #ffffff;
}
.rollup .rollup-footer p {
  color: #0061de;
  padding: 12px 24px 0;
  margin: 0 0 12px 0;
}
.alert ul {
  margin-left: 48px;
  margin-top: 12px;
}
/* Styles go here */
.status-bar {
  margin-top: 12px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}
.status-bar-circle {
  position: relative;
  background: #e6e6f0;
  height: 24px;
  width: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  padding: 2px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  top: -16px;
}
.status-bar-circle span {
  display: block;
  margin-top: -1px;
  color: #7e7e85;
  margin-left: 1px;
  margin-right: auto;
}
.status-bar-bar-section {
  float: left;
}
.status-bar-bar-section hr {
  height: 6px;
  background: #e6e6f0;
  border: none;
  z-index: 1;
  margin: 0px;
  padding: 0px;
}
.status-state {
  margin-top: -6px;
  text-align: center;
}
.active .status-bar-circle,
.active hr {
  background: #00ad21;
}
.active span {
  color: #ffffff;
}
.status-details .active span {
  color: #006446;
}
ul.status-details {
  list-style-type: none;
  margin-left: 0px;
}
.theme--dark {
  background: #44434e;
}
.theme--dark h1,
.theme--dark h2,
.theme--dark p {
  color: #1d1d25;
}
.theme--dark .title h1 {
  color: #3af23a;
}
.theme--dark h1.heading {
  color: #00ad21;
}
.theme--dark h2.heading {
  color: #7e7e85;
}
.theme--dark h4 {
  font-weight: 500;
  margin-bottom: 12px;
}
.theme--dark hr.thick {
  border-width: 2px;
}
.theme--dark #mobileNav,
.theme--dark .site-nav,
.theme--dark .site-header,
.theme--dark .site-footer {
  background: #44434e;
  color: #eff0f6;
}
.theme--dark .site-nav a {
  color: #ffffff;
}
.theme--dark .site-content {
  background: #ffffff;
}
.theme--dark .site-footer a {
  color: #ffffff;
}
.theme--dark .site-footer a:hover,
.theme--dark .site-footer a:focus {
  color: #00ad21;
}
.theme--dark .site-footer .logo {
  border-color: #7e7e85;
}
.theme--dark .user__name {
  color: #00ad21;
}
.theme--dark .nav-btn {
  color: #ffffff;
}
.theme--dark .top-btn {
  background: #00ad21;
  color: #ffffff;
}
.theme--dark .rail-nav li {
  border-top: 1px solid #32323c;
  border-bottom: 1px solid #5a5a64;
}
.theme--dark .rail-nav .nav-item {
  background: #44434e;
  color: #eff0f6;
  border-color: #44434e;
}
.theme--dark .rail-nav a.nav-item:hover,
.theme--dark .rail-nav a.nav-item:focus {
  background: #7e7e85;
  border-color: #3af23a;
  color: #ffffff;
}
.theme--dark .rail-nav a.nav-item:active {
  background: #32323c;
  border-color: #3af23a;
  color: #e6e6f0;
}
.theme--dark .rail-nav a.nav-item.is-active {
  background: #00ad21;
  border-color: #3af23a;
  color: #ffffff;
}
.theme--dark .rail-nav .sub-nav {
  background: #1d1d25;
}
.theme--dark .rail-nav .sub-nav .nav-item {
  background: #1d1d25;
  border-color: #1d1d25;
}
.vertical-margin-top-24 {
  margin-top: 24px !important;
}
.vertical-margin-bottom-24 {
  margin-bottom: 24px !important;
}
.vertical-margin-24 {
  margin-bottom: 24px !important;
  margin-top: 24px !important;
}
.vertical-margin-top-48 {
  margin-top: 48px !important;
}
.vertical-margin-bottom-48 {
  margin-bottom: 48px !important;
}
.vertical-margin-48 {
  margin-bottom: 48px !important;
  margin-top: 48px !important;
}
.horizontal-margin-left-0 {
  margin-left: 0px !important;
}
.horizontal-margin-right-0 {
  margin-right: 0px !important;
}
@font-face {
  font-family: 'mps';
  src: url('/etc/resources/fonts/glyphs/mps.eot?hic213');
  src: url('/etc/resources/fonts/glyphs/mps.eot?hic213#iefix') format('embedded-opentype'), url('/etc/resources/fonts/glyphs/mps.ttf?hic213') format('truetype'), url('/etc/resources/fonts/glyphs/mps.woff?hic213') format('woff'), url('/etc/resources/fonts/glyphs/mps.svg?hic213#mps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Action-Icons-Library';
  src: url('/etc/resources/fonts/glyphs/Action-Icons-Library.eot?4ska39');
  src: url('/etc/resources/fonts/glyphs/Action-Icons-Library.eot?4ska39#iefix') format('embedded-opentype'), url('/etc/resources/fonts/glyphs/Action-Icons-Library.ttf?4ska39') format('truetype'), url('/etc/resources/fonts/glyphs/Action-Icons-Library.woff?4ska39') format('woff'), url('/etc/resources/fonts/glyphs/Action-Icons-Library.svg?4ska39#Action-Icons-Library') format('svg');
  font-weight: normal;
  font-style: normal;
}
