.site-wrapper:after,
.site-header:after,
.site-nav:after,
.site-content:after,
.site-footer:after {
  clear: both;
  content: "";
  display: block;
}
.site-nav {
  width: 300px;
}
.site-wrapper {
  min-height: 100%;
  overflow: hidden;
}
.site-header {
  padding: 12px 10px;
}
.site-header .page-title {
  padding: 12px 0;
  margin: 0;
}
.site-content {
  overflow-x: auto;
  min-height: 350px;
}
.site-content > :last-child {
  margin-bottom: 0;
}
.site-footer {
  padding: 12px 10px;
}
.site-footer .logo {
  float: left;
  border-right: 1px solid;
}
.site-footer .logo img {
  display: block;
}
.site-footer .copyright {
  float: left;
  padding: 12px 20px;
}
.site-footer .util-nav {
  float: right;
  padding: 12px 0;
}
.site-footer .util-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer .util-nav ul li {
  float: left;
  padding: 0 10px;
  border-right: 1px dotted;
}
.site-footer .util-nav ul li:last-child {
  border-right: 0;
}
.page-header,
.page-content {
  padding: 24px 20px;
}
@media only screen and (min-width: 54em) {
  .page-header,
  .page-content {
    padding: 24px 40px;
  }
}
.page-header:after,
.page-content:after {
  clear: both;
  content: "";
  display: block;
}
.page-header {
  background-color: #e6e6f0;
}
/** DASHBOARD MOCK **/
.primary-contact-action {
  margin-top: 24px;
}
a.read-more {
  display: block;
  margin-top: -20px;
}
.action-bar h4 {
  padding: 0;
  margin: 0;
}
.action-bar p {
  padding: 0;
  margin: 0;
}
.action-bar .report-tab {
  border: 1px solid #ccc;
  height: 130px;
}
.dashboard-widget {
  border: 1px solid #ccc;
}
/** END DASHBOARD MOCK **/
.btns {
  marign-bottom: -12px;
  margin-left: -10px;
}
.btns:after {
  clear: both;
  content: "";
  display: block;
}
.btns .btn {
  margin: 0 0 12px 10px;
}
@media only screen and (max-width: 34em) {
  .btns .btn {
    width: 100%;
  }
}
.top-btn {
  display: block;
  padding: 12px 10px;
  text-align: center;
}
textarea {
  width: 100%;
  box-sizing: border-box;
}
.selectric .form__field__current-option {
  margin-right: 60px;
}
.selectricButton {
  height: 52px;
}
.info-list {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
.info-list:after {
  clear: both;
  content: "";
  display: block;
}
.info-list__item:after {
  clear: both;
  content: "";
  display: block;
}
.info-list__item-name {
  float: left;
  font-weight: bold;
  margin-right: 20px;
  width: 150px;
}
.info-list__item-name:after {
  content: ":";
}
.info-list__item-value {
  float: left;
  margin-right: 20px;
}
.nav-btn {
  display: block;
  padding: 12px 10px;
}
.nav-btn .icon {
  vertical-align: baseline;
}
.rail-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rail-nav li {
  margin: 0;
  padding: 0;
  position: relative;
}
.rail-nav .nav-item {
  display: block;
  padding: 12px 10px;
  position: relative;
  border-left: 10px solid;
  transition: .1s;
}
.rail-nav .nav-item .icon {
  vertical-align: baseline;
  line-height: 1;
}
.rail-nav .nav-item .item-icon {
  font-size: 1.25em;
}
.rail-nav .sub-nav .nav-item {
  padding: 12px 20px;
}
/* <tabs> */
.page-tabs {
  padding: 24px 20px;
}
@media only screen and (min-width: 54em) {
  .page-tabs {
    padding: 0;
  }
}
.page-tabs > .set .set__tab-container {
  background-color: #e6e6f0;
  border-bottom: 1px solid #a5a5aa;
  padding: 0 40px;
}
.page-tabs > .set .set__tab-container .set__trigger {
  border: 1px solid #a5a5aa;
  margin: 0 0 -1px 0;
}
.page-tabs > .set .set__tab-container .set__trigger a {
  background-color: #c9c9d1;
  border-top: 3px solid #c9c9d1;
}
.page-tabs > .set .set__tab-container .set__trigger a:hover,
.page-tabs > .set .set__tab-container .set__trigger a:active,
.page-tabs > .set .set__tab-container .set__trigger a:focus {
  background-color: #e6e6f0;
  border-top-color: #e6e6f0;
}
.page-tabs > .set .set__tab-container .set__trigger.set--is-active {
  border-bottom-color: #ffffff;
}
.page-tabs > .set .set__tab-container .set__trigger.set--is-active a {
  background-color: #ffffff;
  border-top-color: #00ad21;
  border-bottom-color: #ffffff;
}
.page-tabs > .set .set__content-container .set__content {
  border: 0;
  padding: 24px 40px;
}
/* <FEF hax> */
.set__content.set--is-active,
.set__tab-container .set__trigger.set--is-active {
  z-index: auto;
}
/* </FEF hax> */
/* </tabs> */
/* <Tree Module> */
.tree {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tree__item {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  position: relative;
}
.tree__toggle {
  color: #008945;
  cursor: pointer;
  padding: 0 5px;
  position: absolute;
  top: 0;
  left: 0;
}
/* </Tree Module> */
/* <ui-grid> */
.table .ui-grid-cell-contents {
  padding: 0;
  margin: 0;
}
.table .ui-grid-canvas {
  position: relative;
  padding-top: 0;
}
.table {
  max-width: 100%;
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  min-height: 655px;
  font-size: 9pt;
}
.table .ui-grid-header-cell:first-child {
  border-left: 1px solid #a5a5aa;
  padding: 10px 0 0 0;
}
.no-border {
  border-left: 0 none !important;
}
.table .ui-grid-header-cell {
  font-weight: bold;
  padding: 6px 10px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #a5a5aa;
}
.ui-grid-header-cell {
  border-right: 0 black none;
}
.table .ui-grid-canvas .ui-grid-cell,
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
  padding: 6px 10px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #a5a5aa;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.ui-grid-row,
.ui-grid-cell,
.ui-grid-cell .ui-grid-vertical-bar {
  height: 30px !important;
}
.table .ui-grid-canvas .ui-grid-cell:first-child {
  padding-top: 8px;
}
.table .ui-grid-canvas .ui-grid-row-header-cell:first-child {
  padding: 5px 5px 5px 0;
}
.pagination button {
  padding: 12px 10px;
  height: 48px;
  width: 44px;
  color: #0061de;
  background-color: #FFFFFF;
  font-weight: bold;
  border: 1px solid #d3d3d3;
}
.pagination .icon {
  margin: 0;
}
.pagination .current {
  border-top: 3px solid #1d1d26;
  border-left: 1px solid #1d1d26;
  border-right: 1px solid #1d1d26;
  /*border-bottom: 2px solid #d3d3d3;*/
  margin-top: 3px;
  color: black;
}
.pagination .page-number:visited {
  color: #884fad;
}
/* </ui-grid> */
.user {
  overflow: hidden;
}
.user__img {
  margin-right: 10px;
}
.user__info {
  overflow: hidden;
}
.user__notify {
  box-sizing: border-box;
  height: 50px;
  border-right: 1px solid #a5a5aa;
  padding: 12px 10px;
  margin-right: 10px;
}
.filter--search {
  margin-top: 24px;
}
.filter--search.form__field {
  overflow: visible;
  margin-bottom: 24px;
}
.filter--search.focus {
  border: 1px solid #0061de;
}
.filter--search .selectric {
  border-right: none;
}
.filter--search .selectricItems li:hover,
.filter--search .selectricItems li:active,
.filter--search .selectricItems li.selected {
  background: #0061de;
  color: #ffffff;
}
.filter--search .selectricButton {
  border-left: none;
}
.filter--search button.search {
  background: #e6e6f0;
  background: -webkit-linear-gradient(#fff, #e6e6f0);
  background: -o-linear-gradient(#fff, #e6e6f0);
  background: linear-gradient(#fff, #e6e6f0);
  border: 1px solid #7e7e85;
  height: 54px;
  width: 100%;
  border-left: none;
}
.filter--search .form__field {
  position: relative;
  margin-bottom: 0;
}
.filter--search .close-icon {
  background-color: #e6e6f0;
  color: #a5a5aa;
  font-size: 16px;
  font-style: normal;
  padding-bottom: 3px;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 86%;
  top: 50%;
  margin-top: -13px;
  text-align: center;
  cursor: pointer;
}
.filter--search .close-icon:active {
  color: #1d1d25;
}
.filter--search .search-box:focus {
  outline: none;
}
@media only screen and (max-width: 74em) {
  .filter--search .close-icon {
    left: 84.5%;
  }
}
@media only screen and (max-width: 54em) {
  .filter--search .search-menu {
    padding-top: 0;
  }
  .filter--search .selectric {
    border-right: 1px solid #7E7E85;
  }
  .filter--search .form__field {
    margin-top: 24px;
  }
  .filter--search .close-icon {
    margin-top: 0;
    left: 79.5%;
  }
  .filter--search .selectricButton {
    border-left: 1px solid #7e7e85;
  }
}
.theme--dark {
  background: #32323c;
}
.theme--dark h1,
.theme--dark h2,
.theme--dark p {
  color: #1d1d25;
}
.theme--dark #mobileNav,
.theme--dark .site-nav,
.theme--dark .site-header,
.theme--dark .site-footer {
  background: #32323c;
  color: #eff0f6;
}
.theme--dark .site-nav a {
  color: #ffffff;
}
.theme--dark .site-content {
  background: #ffffff;
}
.theme--dark .site-footer a {
  color: #ffffff;
}
.theme--dark .site-footer a:hover,
.theme--dark .site-footer a:focus {
  color: #00ad21;
}
.theme--dark .site-footer .logo {
  border-color: #7e7e85;
}
.theme--dark .user__name {
  color: #00ad21;
}
.theme--dark .nav-btn {
  color: #ffffff;
}
.theme--dark .top-btn {
  background: #00ad21;
  color: #ffffff;
}
.theme--dark .rail-nav .nav-item {
  background: #32323c;
  color: #eff0f6;
  border-color: #32323c;
}
.theme--dark .rail-nav a.nav-item:hover,
.theme--dark .rail-nav a.nav-item:focus {
  background: #c9c9d1;
  border-color: #3af23a;
  color: #1d1d25;
}
.theme--dark .rail-nav a.nav-item:active {
  background: #a5a5aa;
  border-color: #3af23a;
  color: #1d1d25;
}
.theme--dark .rail-nav a.nav-item.is-active {
  background: #00c425;
  border-color: #3af23a;
  color: #ffffff;
}
.theme--dark .rail-nav .sub-nav {
  background: #1d1d25;
}
.theme--dark .rail-nav .sub-nav .nav-item {
  background: #1d1d25;
  border-color: #1d1d25;
}
