.site-header {
  padding-left: 20px;
  border-top: 5px solid #00c425;
  border-bottom: 1px solid #a5a5aa;
}
nav ul {
  margin:0;
  padding:0;
  list-style: none;
}
.site-header nav{
  padding-left: 45px;
}
.site-header nav li > a{
  padding:26px 61px;
  border-left: solid 1px black;
}
.site-header nav .btn--primary{
 background-color: #00c425;
}
.site-header:after {
  clear: both;
  content: "";
  display: block;
}
.site-header .logo {
  padding: 24px 0;
  display: block;
}
@media only screen and (min-width: 34em) {
  .site-header .logo {
    float: left;
  }
}
.site-header .logo img {
  display: block;
}
.site-header .util-nav {
  float: right;
  padding: 12px 0;
}
.site-header .search-btn .icon {
  font-size: 2rem;
  line-height: 1.4;
  margin-right: 5px;
  vertical-align: bottom;
}
.search {
  padding: 12px 20px;
}
.site-content:after {
  clear: both;
  content: "";
  display: block;
}
.site-content .site-nav {
  padding: 24px 40px;
}

.right-border{
  border-right: 1px solid #a5a5aa;
}
.site-content .main-content {
  padding: 24px 40px;
  min-height: 300px;
  border-top: 1px solid #a5a5aa;
}

@media only screen and (min-width: 34em) {
  .site-content .main-content {
    /*border-left: 1px solid #a5a5aa;*/
    border-top: 0;
  }
}
.site-footer {
  padding: 12px 40px;
  border-top: 1px solid #a5a5aa;
  background: #ffffff;
}
.site-footer:after {
  clear: both;
  content: "";
  display: block;
}
.site-footer .logo {
  float: left;
  border-right: 1px solid #a5a5aa;
}
.site-footer .logo img {
  display: block;
}
.site-footer .copyright {
  float: left;
  padding: 12px 20px;
}
.site-footer .util-nav {
  float: right;
  padding: 12px 0;
}
.site-footer .util-nav ul {
  list-style: none;
}
.site-footer .util-nav ul li {
  float: left;
  padding: 0 10px;
  border-right: 1px dotted #a5a5aa;
}
.site-footer .util-nav ul li:last-child {
  border-right: 0;
}
