<div sr-header></div>
<div class="page-content">
    <div order-account-detials></div>
<div class="form__field filter--search">
    <div class="row">
    	<div class="col-lg-4-5 col-md-4-5 col-sm-1-1 col-xs-1-1 floatL">
    	<h4>Search for a device part number</h4>
            <div class="row">
                <div class="form__field form__field-btn">
                    <div class="col-lg-11-12 col-md-11-12 col-sm-11-12 col-xs-7-8 floatL">
                        <input type="text" ng-model="partNumber" class="search-box"/>
                        <a class="icon close-icon" ng-show="partNumber" ng-click="clearPartNumberSearch()">X</a>
                    </div>
                    <div class="col-lg-1-12 col-md-1-12 col-sm-1-12 col-xs-1-8 floatL">
                        <button class="search" ng-click="searchPartNumber()"><i class="icon icon--ui icon--search-secondary"></i></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    <div class="row vertical-margin-72">
        <div class="col-1">
            <div catalog></div>
        </div>
    </div>
    <div class="row vertical-margin-bottom-72">
        <div class="col-1">
            <div order-content editable="{{editable}}" taxable="taxable" max-service-quantity="serviceMaxQuantity" max-supplies-quantity="supplyMaxQuantity" submit-action="submit"
                datasource="orderItems" configure="configure" hide-submit="hideSubmitButton"></div>
        </div>
    </div>

    <div sr-form-buttons></div>
</div>
