<div sr-header></div>
<div class="page-content">
    <div order-account-detials></div>
<div class="form__field filter--search">
    <div class="row">
    	<div class="col-lg-4-5 col-md-4-5 col-sm-1-1 col-xs-1-1 floatL">
    	<h4 translate="ORDER_CATALOGS.SUPPLIES_CATALOG.TXT_SEARCH_PART_NUMBER"></h4>
            <div class="row">
                <div class="form__field form__field-btn">
                    <div class="col-lg-11-12 col-md-11-12 col-sm-11-12 col-xs-7-8 floatL">
                        <input type="text" ng-keydown="$event.keyCode == 13 && searchPartNumber()" ng-model="partNumber" class="search-box"/>
                        <a class="icon close-icon" ng-show="partNumber" ng-click="clearPartNumberSearch()">X</a>
                    </div>
                    <div class="col-lg-1-12 col-md-1-12 col-sm-1-12 col-xs-1-8 floatL">
                        <button class="search" ng-click="searchPartNumber()"><i class="icon icon--ui icon--search-secondary"></i></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    <div class="row vertical-margin-72">
        <div class="col-1">
            <div catalog></div>
        </div>
    </div>
    <div ng-show="showDeviceSelectionErrorMessage" class="alert alert--error" data-js="alert">
        <icon class="alert__icon icon icon--small icon--ui icon--error"></icon>
        <div class="alert__body">
			<span translate="ORDER_CATALOGS.SUPPLIES_CATALOG.TXT_ERROR_NO_ITEM_SELECTION"></span>
        </div>
    </div>
    <div class="row vertical-margin-bottom-72">
        <div class="col-1">
            <div order-content editable="{{editable}}" taxable="taxable" max-service-quantity="serviceMaxQuantity" max-supplies-quantity="supplyMaxQuantity" submit-action="submit"
                datasource="orderItems" configure="configure" hide-submit="hideSubmitButton"></div>
        </div>
    </div>

    <div sr-form-buttons></div>
</div>

<div id="partsInfoDetails" class="modal">
    <div class="modal__body">
    <h2 translate="ORDER_CATALOGS.SUPPLIES_CATALOG.TXT_PART_DETAILS"></h2><hr/>
    <div>
    	<div class="alert alert--info" ng-if="partsInfoDetails.data.length === 0">
            <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
                <div class="alert__body">
                     <span translate="GRID.EMPTY"></span>
                </div>
        </div> 
    	 <div ui-grid="partsInfoDetails" class="table summary" 
              ng-style="{height : partsInfoDetails.height}" ui-grid-auto-resize ui-grid-edit ui-grid-row-edit></div>
    </div>
    <button class="btn" data-js="modalClose" translate="LABEL.COMMON.OK"></button>
    </div>
</div>
