<div class="btns">
    <button class="btn" ng-click="goToSuppliesDeviceCreate()" translate="ORDER_MAN.MANAGE_ORDERS.BTN_ORDER_SUPPLIES"
        ng-if="orderSuppliesAsset"></button>
     <button type="button" class="btn btn--default" href="" ng-click="goToHardwareCreate()"
        translate="ORDER_MAN.MANAGE_ORDERS.BTN_ORDER_DEVICE"
        ng-if="orderDevice"></button>
     <button type="button" class="btn btn--default" href="" ng-click="goToReturnSuppliesCreate()"
        translate="ORDER_MAN.MANAGE_ORDERS.BTN_RETURN_SUPPLIES"
        ng-if="createSuppliesReturn"></button>
     <button type="button" class="btn btn--default" href="" ng-click="goToSuppliesCatalogCreate()"
        translate="ORDER_MAN.MANAGE_ORDERS.BTN_ORDER_SUPPLIES_FROM_CATALOG"
        ng-if="orderSuppliesCatalog"></button>
</div>
