<div class="col-1" ng-if="configure && (!editable || editable === 'false') && orderSummaryGridOptions">
<h2 class="vertical-space--none">
    <span translate="{{configure.order.details.translate.title}}"></span>
</h2>
<hr class="vertical-margin-bottom-12"/>
<div class="vertical-margin-bottom-36">
    <a ng-if="configure.order.details.translate.action" class="order-action" href="#"
        translate="{{configure.order.details.translate.action}}" ng-click="configure.order.details.actionLink()"></a>
</div>
</div>

 <div ng-class="{'well': (!editable || editable === 'false')}" ng-if="orderSummaryGridOptions || (editable && editable === 'true')">
     <div class="col-1" ng-if="(orderSummaryGridOptions && orderSummaryGridOptions.data) || showEmpty">
                <h3 ng-if="editable === 'true'">
                    <span translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_GRID_NEW_ORDER_SUMMARY"></span>
                    <span class="push" translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_HEADER_ITEMS_COUNT_SUMMARY"
                        ng-if="orderSummaryGridOptions && orderSummaryGridOptions.data"
                        translate-values="{ count: orderSummaryGridOptions.data.length}"></span></h3>

                <div class="row alert alert--error" ng-if="editable === 'true' && validationMessages && validationMessages.length > 0">
                    <div class="col-1">
                        <icon class="alert__icon icon icon--small icon--ui icon--error"></icon>
                        <span><strong>Order Errors</strong></span>
                    </div>
                    <div class="col-1">
                        <ul>
                            <li ng-repeat="message in validationMessages">
                                <span translate="{{message.key}}"
                                    translate-values="message"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                                
                <div ng-if="orderSummaryGridOptions && orderSummaryGridOptions.data && orderSummaryGridOptions.data.length > 0">
                    <div ui-grid="orderSummaryGridOptions" class="table summary"
                            ng-style="orderSummaryGridOptions.getStyle()" ui-grid-auto-resize ui-grid-edit ui-grid-row-edit></div>
                </div>
                <span ng-if="gridLoading === true"
                    translate="GRID.LOADING"></span>
                <span ng-if="gridLoading === false && orderSummaryGridOptions && orderSummaryGridOptions.data && orderSummaryGridOptions.data.length === 0"
                    translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_EMPTY_ORDER_SUMMARY"></span>
                <div class="row" ng-if="editable === 'true'">
                    <div class="col-2-3">

                    </div>
                    <div class="col-1-3">
                            <button type="button" class="push btn btn--default vertical-margin-bottom-24 horizontal-margin-right-0"
                                ng-click="removeAllItems()"
                                ng-disabled="!orderSummaryGridOptions  || (orderSummaryGridOptions && orderSummaryGridOptions.data && orderSummaryGridOptions.data.length   === 0)"
                                translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.BTN_NEW_ORDER_CLEAR"></button> <div class="row" ng-if="editable === 'true'">
                <div class="col-1" ng-hide="hideSubmit">
                    <button type="button" class="push btn btn--default horizontal-margin-right-0" ng-click="submit();"
                        translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.BTN_NEW_ORDER_SUBMIT" ng-disabled="submitDisable()"></button>
                </div>
            </div>
                    </div>
                </div>
    </div>
    <div class="row" ng-if="showTax && orderSummaryGridOptions && orderSummaryGridOptions.data && orderSummaryGridOptions.data.length > 0 && total && total !== ''">
        <div class="col-1-3 push">
            <table class="table total">
                <tbody>
                    <tr ng-if="subTotal && subTotal !== '' ">
                        <td><span translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_SUBTOTAL"></span></td>
                        <td><span>{{subTotal}}</span></td>
                    </tr>
                    <tr ng-if="displaytax && displaytax !== '' ">
                        <td><span translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_TAX"></span></td>
                        <td><span>{{displaytax}}</span></td>
                    </tr>
                </tbody>
                <tfoot>
                   <tr ng-if="total && total !== '' ">
                        <td><span translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_TOTAL"></span></td>
                        <td><span>{{total}}</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
