 <div class="col-1" ng-if="(orderSummaryGridOptions && orderSummaryGridOptions.data) || showEmpty">
            <h3 >
                <span translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_GRID_NEW_ORDER_SUMMARY"></span>
                <span class="push" translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_HEADER_ITEMS_COUNT_SUMMARY"
                    ng-if="orderSummaryGridOptions && orderSummaryGridOptions.data"
                    translate-values="{ count: orderSummaryGridOptions.data.length}"></span></h3>
            <div class="row alert alert--error" ng-if="editable === 'true' && validationMessages && validationMessages.length > 0">
                <div class="col-1">
                    <icon class="alert__icon icon icon--small icon--ui icon--error"></icon>
                    <span><strong>Order Errors</strong></span>
                </div>
                <div class="col-1">
                    <ul>
                        <li ng-repeat="message in validationMessages">
                            <span translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.MAX_QTY_VALIDATION"
                                translate-values="message"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-if="orderSummaryGridOptions && orderSummaryGridOptions.data && orderSummaryGridOptions.data.length > 0">
                <div ui-grid="orderSummaryGridOptions" class="table summary" ui-grid-edit ui-grid-row-edit></div>
            </div>
            <span ng-if="!orderSummaryGridOptions  || (orderSummaryGridOptions && orderSummaryGridOptions.data && orderSummaryGridOptions.data.length   === 0)"
                translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_EMPTY_ORDER_SUMMARY"></span>
            <div class="row" ng-if="editable === 'true'">
                <div class="col-2-3">

                </div>
                <div class="col-1-3">
                        <button type="button" class="push btn btn--default"
                            ng-click="removeAllItems()"
                            ng-disabled="!orderSummaryGridOptions  || (orderSummaryGridOptions && orderSummaryGridOptions.data && orderSummaryGridOptions.data.length   === 0)"
                            translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.BTN_NEW_ORDER_CLEAR"></button>
                </div>
            </div>
</div>
<div class="row">
    <div class="col-1-2 push">
        <table class="table">
            <tbody>
                <tr>
                    <td><span translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_SUBTOTAL"></span></td>
                    <td><span>{{subTotal}}</span></td>
                </tr>
                <tr>
                    <td><span translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_TAX"></span></td>
                    <td><span>{{tax}}</span></td>
                </tr>
            </tbody>
            <tfooter>
               <tr>
                    <td><span translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_TOTAL"></span></td>
                    <td><span>{{total}}</span></td>
                </tr>
            </tfooter>
        </table>
        <div class="row" ng-if="editable === 'true'">
            <div class="col-1">
                <button type="button" class="push btn btn--default" ng-click="submit()"
                    translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.BTN_NEW_ORDER_SUBMIT" ng-disabled="submitDisable()"></button>
            </div>
        </div>
    </div>
</div>
