<div sr-header></div>
<div class="clearfix page-content">
    <div class="col-1">
        <div print-export-title titlestring="{{configure.receipt.translate.title}}"
            title-values="{{configure.receipt.translate.titleValues}}"
            print="configure.receipt.print" csv-export="csvModel" native-print="true"></div>
    </div>

    <hr class="vertical-margin-bottom-48"/>
    <a ng-if="configure.queued" href="/queue">view in Queued items &gt; </a>
	<div ng-if="sr.status !== 'CANCELLED'">
    	<h4 translate="{{configure.receipt.translate.subtitle}}"></h4>
    	<div class="vertical-margin-bottom-48 col-1-2" status-bar></div>
    </div>
	<ul class="info-list" ng-if="sr.status === 'CANCELLED'">
                <li class="info-list__item">
                    <div class="info-list__item-name" translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_STATUS"></div>
                    <div class="info-list__item-value" ng-bind="sr.status"></div>
    			</li>
    </ul>
    <div request-contacts></div>

    <div ng-if="configure.detail">
        <h2 translate="{{configure.detail.translate.title}}"></h2>

        <div class="well well--no-shadow col-1-3">
            <ul class="info-list">
                <li class="info-list__item" ng-show="configure.detail.show.referenceId">
                    <div class="info-list__item-name" translate="{{configure.detail.translate.referenceId}}"></div>
                    <div class="info-list__item-value" ng-bind="formattedReferenceId"></div>
                </li>
                <li class="info-list__item" ng-show="configure.detail.show.costCenter">
                    <div class="info-list__item-name" translate="{{configure.detail.translate.costCenter}}"></div>
                    <div class="info-list__item-value" ng-bind="formattedCostCenter"></div>
                </li>
                <li class="info-list__item" ng-show="configure.detail.show.comments">
                    <div class="info-list__item-name" translate="{{configure.detail.translate.comments}}"></div>
                    <div class="info-list__item-value" ng-bind="formattedNotes"></div>
                </li>
                <li class="info-list__item" ng-show="configure.detail.show.attachements">
                    <div class="info-list__item-name" translate="{{configure.detail.translate.attachments}}"></div>
                    <div ng-repeat="file in sr.attachments">
                      <div>{{file.filename}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div ng-if="configure && configure.order && configure.order.type === undefined ">
    	
    	<div ng-if="configure.orderItems.multipleSr" ng-repeat = "(billingModel , orderItems) in configure.orderItems.multipleSr" >
    	<div class="col-3-4">
 			<h2 class="print-export-header vertical-margin-bottom-0" translate="{{configure.orderItems.srMap[billingModel].message}}"></h2> 			 			
 		</div>
    	<div translate="ORDER_MGT.ORDER_NO"></div><div>{{configure.orderItems.srMap[billingModel].siebelId}}</div>
    	
	    	<div order-content-table items="orderItems" tax="configure.orderItems.taxAmount"></div>
    	</div>
	    <div ng-if="!configure.orderItems.multipleSr">
    		<div order-content editable="{{editable}}" ordernbr="ordernbr" submit-action="submit" datasource="orderItems"
    			hide-submit="hideSubmitButton" configure="configure"></div>
    	</div>
    </div>
    
    <div order-receipt></div>
    
    <div order-return-details></div>
   
    
</div>
