<div ng-if="configure && configure.order && configure.shipToBillTo" >
    <h2 translate="{{configure.shipToBillTo.translate.title}}"></h2>
    <div class="row--alley-thick">
        <div class="col-1-3">
            <div class="well">
                <div ship-to></div>
                <h3 translate="{{configure.shipToBillTo.translate.billToAddress}}"></h3>
                    <p class="vertical-margin-24" ng-bind-html="formatedBillToAddress"></p>
                    <a ng-click="goToAddressBillToPicker(configure.billToPicker.source, configure.billToPicker.pickerObject)" href=""
                        ng-if="configure.shipToBillTo.translate.billToAction"
                        translate="{{configure.shipToBillTo.translate.billToAction}}"></a>
            </div>
        </div>
    </div>
</div>
