<div ng-if="configure && configure.order && configure.order.shipToBillTo" >
    <h2 translate="{{configure.order.shipToBillTo.translate.shipToAddress}}"></h3>
    <div class="col-1-3 well well--no-shadow">
        <p ng-bind-html="formatedShipToAddress"></p>
    </div>
    <h4 translate="{{configure.order.shipToBillTo.translate.instructions}}"></h4>
    <p ng-bind="formattedInstructions"></p>
    <ul class="info-list">
        <li class="info-list__item" ng-show="configure.order.shipToBillTo.translate.deliveryDate">
            <div class="info-list__item-name" translate="{{configure.order.shipToBillTo.translate.deliveryDate}}"></div>
            <div class="info-list__item-value" ng-bind="formattedDeliveryDate"></div>
        </li>
        <li class="info-list__item" ng-show="configure.order.shipToBillTo.translate.expedite">
            <div class="info-list__item-name" translate="{{configure.order.shipToBillTo.translate.expedite}}"></div>
            <div class="info-list__item-value" ng-bind="formattedExpedite"></div>
        </li>
    </ul>
    <h2 translate="{{configure.order.shipToBillTo.translate.billToAddress}}"></h3>
    <div class="col-1-3 well well--no-shadow">
        <p ng-bind-html="formatedBillToAddress"></p>
    </div>
</div>
<div ng-if="configure && configure.order && configure.order.po">
    <h2 translate="{{configure.order.po.translate.title}}"></h2>
    <ul class="info-list">
        <li class="info-list__item" ng-show="configure.order.po.translate.label">
            <div class="info-list__item-name" translate="{{configure.order.po.translate.label}}"></div>
            <div class="info-list__item-value" ng-bind="formattedPONumber"></div>
        </li>
    </ul>
</div>

