<div class="row row--alley-2">

    <div class="col-1">
        <div class="alert alert--info" data-js="alert" ng-show='alertMsg'>
            <div class="alert__body"><span>
                <strong ng-bind="alertMsg"></strong>
            </span></div>
        </div>
    </div>

    <div class="col-1">
        <h1>Sevice Requests</h1>
        <h2>Addresses</h2>
        <h3>Pets At Home / Pets At Home_MSA2010_MPS-UK</h3>
        <ul>
            <li><a href="/service_requests/addresses/new">Add A New Address</a></li>
            <li><a href="/service_requests/addresses/addMultiple">Add Multiple Addresses</a></li>
            <li><a href="/service_requests/addresses/updateMultiple">Change Multiple Addresses</a></li>
            <li><a href="/service_requests/addresses/deleteMultiple">Delete Multiple Addresses</a></li>
        </ul>
        <table class="table table--condensed table--even table--responsive text--small" data-js="responsive-table">
            <thead>
                <tr>
                    <th>Address Name</th>
                    <th>Store-front Name</th>
                    <th>Address Line 1:</th>
                    <th>Address Line 2:</th>
                    <th>Country</th>
                    <th>State / Province</th>
                    <th>City</th>
                    <th>County</th>
                    <th>District</th>
                    <th>Zip / Postal Code</th>
                    <th>Actions</th>
                </th>
            <tbody>
                <tr ng-repeat="address in addresses">
                    <td><a href="service_requests/addresses/{{address.id}}" ng-bind="address.addName"></a></td>
                    <td ng-bind="address.storeName"></td>
                    <td ng-bind="address.addrLine1"></td>
                    <td ng-bind="address.addrLine2"></td>
                    <td ng-bind="address.country"></td>
                    <td ng-bind="address.state"></td>
                    <td ng-bind="address.city"></td>
                    <td ng-bind="address.county"></td>
                    <td ng-bind="address.district"></td>
                    <td ng-bind="address.zipCode"></td>
                    <td>
                        <a href="" ng-click="updateAddress(address.id)">Update</a> | 
                        <a href="" ng-click="deleteAddress(address.id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </dl>
    </div>
</div>
