<!-- <div class="row row--alley-2">
    <div class="col-1">
        <div pick-contact title="CONTACT.SELECT_CONTACT" contactSelectText="CONTACT.SELECTED_CONTACT_IS"
			 return-path="/service_requests/devices/new"></div>
    </div>
</div> -->

<div class="row row--alley-2">
    <div class="col-1">
        <div pick-contact title="{{configure.contactPicker.translate.title}}" 
        	 contactSelectText="{{configure.contactPicker.translate.contactSelectText}}"
			 return-path="{{configure.contactPicker.returnPath}}"></div>
    </div>
</div>