<h3 translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_DEVICE_IDENTIFICATION"></h3>

<div><strong translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_LXK_DEVICE_QUERY"></strong></div>
<div ng-init="device.lexmarkDeviceQuestion ? device.lexmarkDeviceQuestion=true : device.lexmarkDeviceQuestion " />
    <div class="form__field form__field--no-margin">
        <input type="radio"
            id="lexmark-device-question-no"
            name="lexmark-device-question"
            ng-model="device.lexmarkDeviceQuestion"
            ng-value="false"
        />
        <label for="lexmark-device-question-no"><span></span> {{'REQUEST_MAN.COMMON.CHK_NO' | translate }}</label>
    </div>

    <div class="form__field form__field--no-margin">
        <input type="radio"
            id="lexmark-device-question-yes"
            name="lexmark-device-question"
            ng-model="device.lexmarkDeviceQuestion"
            ng-value="true"
        />
        <label for="lexmark-device-question-yes"><span></span> {{ 'REQUEST_MAN.COMMON.CHK_YES' | translate }}</label>
    </div>
</div>
<div ng-hide="device.lexmarkDeviceQuestion === true">
    <div class="form__field" >
        <label class="form__field--required" translate="REQUEST_MAN.COMMON.TXT_PRODUCT_MODEL"></label>
        <input name="productModel" type="text" ng-model="device.productModel" value="" class="" />
    </div>

    <div class="form__field " >
        <label translate="REQUEST_MAN.COMMON.TXT_SERIAL_NUMBER"></label>
        <input name="serialNumber" type="text" ng-model="device.serialNumber" value="" class=""
        ng-disabled="!device.productModel === ''"/>
    </div>
</div>

<div ng-show="device.lexmarkDeviceQuestion === true">
    <div class="form__field" ng-class="{'form__field--required': !scratchSpace.oneOfFiveFieldsFilled}">
        <label translate="REQUEST_MAN.COMMON.TXT_SERIAL_NUMBER"></label>
        <input name="serialNumber" type="text" ng-model="device.serialNumber" ng-change="setModels(); checkOneOfFiveFields();" value=""
            ng-required="!scratchSpace.oneOfFiveFieldsFilled"
        class="" />
        <span ng-show="!scratchSpace.oneOfFiveFieldsFilled"
        class="form__field__helper-text form__field__helper-text--alert">
        <i class="icon icon--ui icon--error-small"></i> {{ 'REQUEST_MAN.REQUEST_DEVICE_REGISTER.ONE_OF_FIVE_ERROR_MESSAGE' | translate}}</span>
    </div>

    <div class="form__field form__field--select" >
        <label translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_PRODUCT_NUMBER"></label>
         <select ng-model="device.productModel" name="productModel"
            ng-disabled = "!device.serialNumber">
                <option  value="" translate="LABEL.COMMON.SELECT"></option>
                <option ng-repeat="option in device.productNumbers" value="{{option.productNo}}">{{option.productNo}}</option>
            </select>
    </div>
</div>

<h3><span translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_DEVICE_INSTALLATION"></span></h3>

<div><strong translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_DEVICE_INSTALLATION"></strong></div>
<div ng-init="device.deviceInstallQuestion ? device.deviceInstallQuestion : device.deviceInstallQuestion=false " />
    <div class="form__field form__field--no-margin">
        <input type="radio"
            id="device-install-question-no"
            name="device-install-question"
            ng-model="device.deviceInstallQuestion"
            ng-value="false"
        />
        <label for="device-install-question-no"><span></span> {{'LABEL.COMMON.NO' | translate }}</label>
    </div>

    <div class="form__field form__field--no-margin">
        <input type="radio"
            id="device-install-question-yes"
            name="device-install-question"
            ng-model="device.deviceInstallQuestion"
            ng-value="true"
        />
        <label for="device-install-question-yes"><span></span> {{ 'LABEL.COMMON.YES' | translate }}</label>
    </div>
</div>
<div>
    <div class="form__field">
        <strong ng-class="{'form__field--required': !scratchSpace.oneOfFiveFieldsFilled}"
            ng-hide="device.deviceInstallQuestion === true" translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_WHEN_INSTALLED"></strong>
        <strong ng-class="{'form__field--required': !scratchSpace.oneOfFiveFieldsFilled}"
            ng-hide="device.deviceInstallQuestion === false" translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_WHEN_WOULD_INSTALLED"></strong>
        <input datepicker type="text" ng-model="device.deviceInstallDate" date-val="device.deviceInstallDate"
            ng-required="!scratchSpace.oneOfFiveFieldsFilled"/>
            <span ng-show="!scratchSpace.oneOfFiveFieldsFilled"
        class="form__field__helper-text form__field__helper-text--alert">
        <i class="icon icon--ui icon--error-small"></i> {{ 'REQUEST_MAN.REQUEST_DEVICE_REGISTER.ONE_OF_FIVE_ERROR_MESSAGE' | translate}}</span>
    </div>
</div>

<div>
    <strong ng-hide="device.deviceInstallQuestion === true" translate="REQUEST_MAN.COMMON.TXT_WHERE_INSTALLED"></strong>
    <strong class="form__field--required" ng-show="device.deviceInstallQuestion === true"
        translate="DEVICE_SERVICE_REQUEST.NEW_DEVICE_INSTALL_LOCATION"></strong>
</div>

<div ng-hide="device.addressSelected">
    <a href="" translate="REQUEST_MAN.COMMON.LNK_SELECT_INSTALL_ADDR"
        ng-click="goToAddressPicker('DeviceAdd',device)"></a>
</div>

<input type="text" name="installAddresssCheck" ng-model="formattedDeviceAddress" ng-show="false"
        ng-required="device.deviceInstallQuestion === true" />

<div ng-show="device.addressSelected">
    <div class="contact-info">
        <div ng-bind-html="formattedDeviceAddress"></div>
    </div>
    <a href="" translate="REQUEST_MAN.REQUEST_DEVICE_CHANGE_INST_ADDR.TXT_CHG_INSTALL_ADDR" ng-click="goToAddressPicker('DeviceAdd',device)"></a>
    <div class="form__field">
        <label translate="REQUEST_MAN.COMMON.TXT_INSTALL_BUILDING"></label>
        <input name="buildingName" type="text" ng-model="device.physicalLocation1" value="" class="" />
    </div>

    <div class="form__field">
        <label translate="REQUEST_MAN.COMMON.TXT_INSTALL_FLOOR"></label>
        <input name="floorName" type="text" ng-model="device.physicalLocation2" value="" class="" />
    </div>

    <div class="form__field">
        <label translate="REQUEST_MAN.COMMON.TXT_INSTALL_OFFICE"></label>
        <input name="siteName" type="text" ng-model="device.physicalLocation3" value="" class="" />
    </div>
</div>

<div ng-show="device.address && device.address.id">
    <strong translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_REMOVE_EXISTING_DEVICE"></strong>

    <div ng-init="device.deviceDeInstallQuestion ? device.deviceDeInstallQuestion : device.deviceDeInstallQuestion=false " />
        <div class="form__field form__field--no-margin">
            <input type="radio"
                id="device-deinstall-question-no"
                name="device-deinstall-question"
                ng-model="device.deviceDeInstallQuestion"
                ng-value="false"
            />
            <label for="device-deinstall-question-no"><span></span> {{'LABEL.COMMON.NO' | translate }}</label>
        </div>

        <div class="form__field form__field--no-margin">
            <input type="radio"
                id="device-deinstall-question-yes"
                name="device-deinstall-question"
                ng-model="device.deviceDeInstallQuestion"
                ng-value="true"
            />
            <label for="device-deinstall-question-yes"><span></span> {{ 'LABEL.COMMON.YES' | translate }}</label>
        </div>
    </div>

    <p class="footnotes" translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_OTHER_LOCATION_REMOVE"></p>
</div>

<div ng-show="device.deviceDeInstallQuestion === true">
    <strong class="form__field--required"  translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_SELECT_REMOVE_DEVICE"></strong>

    <div ng-hide="device.isDeviceSelected">
        <a href="" translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.LNK_BROWSE_DEVICES" 
        ng-click="goToDevicePicker('DeviceAdd',device,'/service_requests/devices/new')"></a>
    </div>
    <input type="text" name="deviceDeInstallCheck" ng-model="device.selectedDevice.productModel" ng-show="false"
        ng-required="device.deviceDeInstallQuestion === true" />
    <div ng-show="device.isDeviceSelected">
        <div class="media">
            <div class="media__visual">
                <img ng-src="{{device.selectedDevice.medImage}}" ng-show="device.selectedDevice.medImage"
                    alt="{{ 'MESSAGE.NO_IMAGE_FOUND' | translate }}" />
            </div>
            <div class="media__body">
                <ul class="info-list text--small vertical-space--none">
                    <li class="info-list__item vertical-space--none">
                        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_PRODUCT_MODEL"></div>
                        <div class="info-list__item-value" ng-bind="device.selectedDevice.productModel"></div>
                    </li>
                    <li class="info-list__item vertical-space--none">
                        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_SERIAL_NUMBER"></div>
                        <div class="info-list__item-value" ng-bind="device.selectedDevice.serialNumber"></div>
                    </li>
                    <li class="info-list__item vertical-space--none">
                        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_SUPPLIES_CONTACT"></div>
                        <div class="info-list__item-value">
                            <div ng-bind-html="formattedSelectedDeviceContact"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_SELECT_DIFFERENT_DEVICE"  ng-click="goToDevicePicker('DeviceAdd',device,'/service_requests/devices/new')"></a>
    </div>
</div>

<h3 translate="REQUEST_MAN.COMMON.TXT_NETWORK_CONFIG"></h3>

<div class="form__field" ng-class="{'form__field--required': !scratchSpace.oneOfFiveFieldsFilled}">
    <label translate="REQUEST_MAN.COMMON.TXT_IP_ADDR"></label>
    <input name="ipAddress" type="text" ng-model="device.ipAddress" value="" class=""
        ng-required="!scratchSpace.oneOfFiveFieldsFilled"
        ng-change="checkOneOfFiveFields()"/>
        <span ng-show="!scratchSpace.oneOfFiveFieldsFilled"
        class="form__field__helper-text form__field__helper-text--alert">
        <i class="icon icon--ui icon--error-small"></i> {{ 'REQUEST_MAN.REQUEST_DEVICE_REGISTER.ONE_OF_FIVE_ERROR_MESSAGE' | translate}}</span>
</div>

<div class="form__field" ng-class="{'form__field--required': !scratchSpace.oneOfFiveFieldsFilled}">
    <label translate="REQUEST_MAN.COMMON.TXT_HOSTNAME"></label>
    <input name="hostName" type="text" ng-model="device.hostName" value="" class=""
        ng-required="!scratchSpace.oneOfFiveFieldsFilled"
        ng-change="checkOneOfFiveFields()"/>
        <span ng-show="!scratchSpace.oneOfFiveFieldsFilled"
        class="form__field__helper-text form__field__helper-text--alert">
        <i class="icon icon--ui icon--error-small"></i> {{ 'REQUEST_MAN.REQUEST_DEVICE_REGISTER.ONE_OF_FIVE_ERROR_MESSAGE' | translate}}</span>
</div>

<h3 translate="REQUEST_MAN.COMMON.TXT_PAGE_COUNTS"></h3>

<strong translate="REQUEST_MAN.REQUEST_DEVICE_DECOM.TXT_ENTER_PAGE_COUNTS_QUERY"></strong>

<div ng-init="device.devicePageCountQuestion ? device.devicePageCountQuestion : device.devicePageCountQuestion=false" />
    <div class="form__field form__field--no-margin">
        <input type="radio"
            id="lexmark-page-count-question-no"
            name="lexmark-page-count-question"
            ng-model="device.devicePageCountQuestion"
            ng-value="false"
        />
        <label for="lexmark-page-count-question-no"><span></span> {{'REQUEST_MAN.COMMON.CHK_NO' | translate }}</label>
    </div>
     <div class="form__field form__field--no-margin">
        <input type="radio"
            id="lexmark-page-count-question-yes"
            name="lexmark-page-count-question"
            ng-model="device.devicePageCountQuestion"
            ng-value="true"
        />
        <label for="lexmark-page-count-question-yes"><span></span> {{ 'REQUEST_MAN.COMMON.CHK_YES' | translate }}</label>
    </div>
</div>

<div ng-show="device.devicePageCountQuestion === true">
    <div class="form__field" >
        <label translate="REQUEST_MAN.COMMON.TXT_ENTER_PAGE_COUNTS"></label>
        <div select-page-count module="device" source='add'></div>
    </div>
</div>

<h3 translate="REQUEST_MAN.COMMON.TXT_DEVICE_BILL_TRACK"></h3>

<div class="form__field">
    <label translate="REQUEST_MAN.COMMON.TXT_DEVICE_COST_CENTER"></label>
    <input type="text" name="costCenter" ng-model="device.deviceCostCenter" value="" class="" />
</div>

<div><strong translate="REQUEST_MAN.COMMON.TXT_DEVICE_CHL_QUERY"></strong></div>

<div ng-init="device.deviceCHLQuestion ? device.deviceCHLQuestion : device.deviceCHLQuestion=false " />
    <div class="form__field form__field--no-margin">
        <input type="radio"
            id="device-chl-question-no"
            name="device-chl-question"
            ng-model="device.deviceCHLQuestion"
            ng-value="false"
        />
        <label for="device-chl-question-no"><span></span> {{'REQUEST_MAN.COMMON.CHK_NO' | translate }}</label>
    </div>

    <div class="form__field form__field--no-margin">
        <input type="radio"
            id="device-chl-question-yes"
            name="device-chl-question"
            ng-model="device.deviceCHLQuestion"
            ng-value="true"
        />
        <label for="device-chl-question-yes"><span></span> {{ 'REQUEST_MAN.COMMON.CHK_YES' | translate }}</label>
    </div>
</div>

<div ng-show="device.deviceCHLQuestion === true">
    <strong translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_DEVICE_MANAGEMENT_STRUCT"></strong>
    <div tree class="well scrollable" tree-type='chl' action='selectLevel' value="device.chl"></div>
    <input type="hidden" ng-model="device.chl.id" name="chl-id"/>
</div>

<div class="form__field" ng-class="{'form__field--required': !scratchSpace.oneOfFiveFieldsFilled}" >
    <label translate="REQUEST_MAN.COMMON.TXT_DEVICE_TAG"></label>
    <input name="customerDeviceTag" type="text" ng-model="device.customerDeviceTag" value="" class=""
    ng-required="!scratchSpace.oneOfFiveFieldsFilled" ng-change="checkOneOfFiveFields()"/>
    <span ng-show="!scratchSpace.oneOfFiveFieldsFilled"
        class="form__field__helper-text form__field__helper-text--alert">
        <i class="icon icon--ui icon--error-small"></i> {{ 'REQUEST_MAN.REQUEST_DEVICE_REGISTER.ONE_OF_FIVE_ERROR_MESSAGE' | translate}}</span>
</div>


<h3 translate="REQUEST_MAN.COMMON.TXT_SUPPLIES_CONTACT"></h3>

<label translate="REQUEST_MAN.COMMON.TXT_REQUEST_CONTACT"></label>

<div class="contact-info">
    <div ng-bind-html="formattedDeviceContact"></div>
</div>

<a href="" translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.LNK_CHANGE_CONTACT" ng-click="goToContactPicker('DeviceAdd','updateDeviceContact',device)"></a>
