<h2 class="vertical-space--none" translate="REQUEST_MAN.REQUEST_DEVICE_DECOM.TXT_DEVICE_DETAILS"></h2>
<hr class="vertical-margin-bottom-12"/>
<div class="vertical-margin-bottom-36">
    <a href="#" class="" translate="REQUEST_MAN.REQUEST_SERVICE.LNK_CHANGE_DEVICE"
        ng-click="goToDevicePicker('DeviceServiceRequestDevice',device)"></a>
</div>
<div class="media">
    <div class="media__visual">
        <div class="card" data-card="" id="widget-overview">
            <div class="card__content">
                <img ng-src="{{medImage}}" ng-show="medImage" alt="{{ 'MESSAGE.NO_IMAGE_FOUND' | translate }}" />
            </div>
        </div>
    </div>
    <div class="media__body">
        <ul class="info-list">
            <li class="info-list__item">
                <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_PRODUCT_MODEL"></div>
                <div class="info-list__item-value" ng-bind="device.productModel"></div>
            </li>
            <li class="info-list__item">
                <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_SERIAL_NUMBER"></div>
                <div class="info-list__item-value" ng-bind="device.serialNumber"></div>
            </li>
            <li class="info-list__item">
                <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_IP_ADDR"></div>
                <div class="info-list__item-value" ng-bind="device.ipAddress"></div>
            </li>
            <li class="info-list__item">
                <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_INSTALL_ADDRESS"></div>
                <div class="info-list__item-value">
                <div style="white-space: pre;" ng-bind-html="formattedAddressNoPl" ng-if="srType === 'break_fix'"></div>
                <div style="white-space: pre;" ng-bind-html="formattedDeviceAddress" ng-if="srType === 'decommission'"></div>
                    <a href="" translate="REQUEST_MAN.REQUEST_DEVICE_UPDATE.LNK_SELECT_DIFFERENT_ADDR" 
                        ng-click="goToAddressPicker('DeviceServiceRequestDevice',device)" ng-if="srType === 'break_fix'"></a>
                    <div ng-if="srType === 'break_fix'">
                        <div class="form__field">
                            <label translate="ADDRESS.BUILDING_NAME"></label>
                            <input name="buildingName" type="text" ng-model="device.installAddress.building" value="" class="" />
                        </div>

                        <div class="form__field">
                            <label translate="ADDRESS.FLOOR_NAME"></label>
                            <input name="floorName" type="text" ng-model="device.installAddress.floor" value="" class="" />
                        </div>

                        <div class="form__field form__field--required">
                            <label translate="ADDRESS.SITE_NAME"></label>
                            <input name="siteName" type="text" ng-model="device.installAddress.office" value="" class="" />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
