<h3 translate="DEVICE_SERVICE_REQUEST.DEVICE_SELECTION"></h3>

<div><strong translate="DEVICE_SERVICE_REQUEST.LEXMARK_DEVICE_QUESTION"></strong></div>

<div class="form__field form__field--radio form__field--no-margin">
    <input type="radio"
        id="lexmark-device-question-no"
        name="lexmark-device-question"
        ng-model="device.lexmarkDeviceQuestion"
        value="false"
        data-js="customInput"
    />
    <label for="lexmark-device-question-no"><span></span> {{'LABEL.NO' | translate }}</label>
</div>

<div class="form__field form__field--radio form__field--no-margin">
    <input type="radio"
        id="lexmark-device-question-yes"
        name="lexmark-device-question"
        ng-model="device.lexmarkDeviceQuestion"
        value="true"
        data-js="customInput"
        checked
    />
    <label for="lexmark-device-question-yes"><span></span> {{ 'LABEL.YES' | translate }}</label>
</div>

<div ng-hide="device.lexmarkDeviceQuestion === 'true'">
    <div class="form__field" >
        <label translate="DEVICE_MGT.PRODUCT_MODEL"></label>
        <input name="productModel" type="text" ng-model="device.productModel" value="" class="" />
    </div>
    
    <div class="form__field" >
        <label translate="DEVICE_MGT.SERIAL_NO"></label>
        <input name="serialNumber" type="text" ng-model="device.serialNumber" value="" class="" />
    </div>
</div>

<div ng-show="device.lexmarkDeviceQuestion === 'true'">
    <div class="form__field" >
        <label translate="DEVICE_MGT.SERIAL_NO"></label>
        <input name="serialNumber" type="text" ng-model="device.serialNumber" ng-change="setModels()" value="" class="" />
    </div>
    
    <div class="form__field form__field--select" >
        <label translate="DEVICE_SERVICE_REQUEST.PRODUCT_NUMBER"></label>
        <div selectric
            model="device.productNumber"
            options="productNumbers"
            value="productNo"
            label="productNo"
            placeholder="{{'LABEL.SELECT' | translate}}"
        ></div>
    </div>
</div>

<h3 translate="DEVICE_SERVICE_REQUEST.DEVICE_INSTALLATION"></h3>

<div><strong translate="DEVICE_SERVICE_REQUEST.DEVICE_INSTALLTION_QUESTION"></strong></div>

<div class="form__field form__field--radio form__field--no-margin">
    <input type="radio"
        id="device-install-question-no"
        name="device-install-question"
        ng-model="device.deviceInstallQuestion"
        value="false"
        data-js="customInput"
        checked
    />
    <label for="device-install-question-no"><span></span> {{'LABEL.NO' | translate }}</label>
</div>

<div class="form__field form__field--radio form__field--no-margin">
    <input type="radio"
        id="device-install-question-yes"
        name="device-install-question"
        ng-model="device.deviceInstallQuestion"
        value="true"
        data-js="customInput"
    />
    <label for="device-install-question-yes"><span></span> {{ 'LABEL.YES' | translate }}</label>
</div>

<div ng-hide="device.deviceInstallQuestion === 'true'">
    <div class="form__field" >
        <strong translate="DEVICE_SERVICE_REQUEST.DEVICE_INSTALL_DATE_QUESTION"></strong>
        <input datepicker type="date" ng-model="device.deviceInstallDate"/>
    </div>
</div>

<div>
    <strong ng-hide="device.deviceInstallQuestion === 'true'" translate="DEVICE_SERVICE_REQUEST.OLD_DEVICE_INSTALL_LOCATION"></strong>
    <strong ng-show="device.deviceInstallQuestion === 'true'" translate="DEVICE_SERVICE_REQUEST.NEW_DEVICE_INSTALL_LOCATION"></strong>
</div>

<div ng-hide="device.addressSelected">
    <a href="" translate="DEVICE_SERVICE_REQUEST.SELECT_INSTALL_ADDRESS" 
        ng-click="goToAddressPicker('DeviceAdd',device)"></a>
</div>

<div ng-show="device.addressSelected">
    <div class="contact-info">
        <div ng-bind-html="formattedAddress"></div>
    </div>
    <a href="" translate="DEVICE_SERVICE_REQUEST.CHANGE_INSTALL_ADDRESS" ng-click="goToAddressPicker('DeviceAdd',device)"></a>
    <div class="form__field">
        <label translate="ADDRESS.BUILDING_NAME"></label>
        <input name="buildingName" type="text" ng-model="device.physicalLocation1" value="" class="" />
    </div>

    <div class="form__field">
        <label translate="ADDRESS.FLOOR_NAME"></label>
        <input name="floorName" type="text" ng-model="device.physicalLocation2" value="" class="" />
    </div>

    <div class="form__field">
        <label translate="ADDRESS.SITE_NAME"></label>
        <input name="siteName" type="text" ng-model="device.physicalLocation3" value="" class="" />
    </div>
</div>

<div ng-show="device.address && device.address.id">
    <strong translate="DEVICE_SERVICE_REQUEST.DEVICE_DEINSTALLTION_QUESTION"></strong> 

    <div class="form__field form__field--radio form__field--no-margin">
        <input type="radio"
            id="device-deinstall-question-no"
            name="device-deinstall-question"
            ng-model="device.deviceDeInstallQuestion"
            value="false"
            data-js="customInput"
            checked
        />
        <label for="device-deinstall-question-no"><span></span> {{'LABEL.NO' | translate }}</label>
    </div>

    <div class="form__field form__field--radio form__field--no-margin">
        <input type="radio"
            id="device-deinstall-question-yes"
            name="device-deinstall-question"
            ng-model="device.deviceDeInstallQuestion"
            value="true"
            data-js="customInput"
        />
        <label for="device-deinstall-question-yes"><span></span> {{ 'LABEL.YES' | translate }}</label>
    </div>

    <p class="footnotes" translate="DEVICE_SERVICE_REQUEST.DEINSTALL_NOTE"></p>
</div>

<div ng-show="device.deviceDeInstallQuestion === 'true'">
    <strong translate="DEVICE_SERVICE_REQUEST.SELECT_DEVICE_TO_REMOVE_FROM_LOCATION"></strong>
    
    <div ng-hide="device.isDeviceSelected">
        <a href="" translate="DEVICE_SERVICE_REQUEST.BROWSE_DEVICE" ng-click="goToDevicePicker('DeviceAdd',device)"></a>
    </div>

    <div ng-show="device.isDeviceSelected">
        <div class="media">
            <div class="media__visual">
                <img ng-src="{{device.selectedDevice.medImage}}" ng-show="device.selectedDevice.medImage" 
                    alt="{{ 'MESSAGE.NO_IMAGE_FOUND' | translate }}" />
            </div>
            <div class="media__body">
                <ul class="info-list text--small vertical-space--none">
                    <li class="info-list__item vertical-space--none">
                        <div class="info-list__item-name" translate="DEVICE_MGT.PRODUCT_MODEL"></div>
                        <div class="info-list__item-value" ng-bind="device.selectedDevice.productModel"></div>
                    </li>
                    <li class="info-list__item vertical-space--none">
                        <div class="info-list__item-name" translate="DEVICE_MGT.SERIAL_NO"></div>
                        <div class="info-list__item-value" ng-bind="device.selectedDevice.serialNumber"></div>
                    </li>
                    <li class="info-list__item vertical-space--none">
                        <div class="info-list__item-name" translate="DEVICE_SERVICE_REQUEST.DEVICE_CONTACT"></div>
                        <div class="info-list__item-value">
                            <div ng-bind-html="formattedSelectedDeviceContact"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" translate="DEVICE_SERVICE_REQUEST.REMOVE_DIFFERENT_DEVICE"  ng-click="goToDevicePicker('DeviceAdd',device)"></a>
    </div>
</div>

<h3 translate="DEVICE_SERVICE_REQUEST.DEVICE_NETWORK_CONFIGURATION"></h3>

<div class="form__field" >
    <label translate="DEVICE_MGT.IP_ADDRESS"></label>
    <input name="ipAddress" type="text" ng-model="device.ipAddress" value="" class="" />
</div>

<div class="form__field" >
    <label translate="DEVICE_MGT.HOST_NAME"></label>
    <input name="hostName" type="text" ng-model="device.hostName" value="" class="" />
</div>

<h3 translate="DEVICE_SERVICE_REQUEST.DEVICE_PAGE_COUNTS"></h3>

<strong translate="DEVICE_SERVICE_REQUEST.DEVICE_PAGE_COUNT_QUESTION"></strong>

<div class="form__field form__field--radio form__field--no-margin">
    <input type="radio"
        id="lexmark-page-count-question-no"
        name="lexmark-page-count-question"
        ng-model="device.devicePageCountQuestion"
        value="false"
        data-js="customInput"
        checked
    />
    <label for="lexmark-page-count-question-no"><span></span> {{'LABEL.NO' | translate }}</label>
</div>
 <div class="form__field form__field--radio form__field--no-margin">
    <input type="radio"
        id="lexmark-page-count-question-yes"
        name="lexmark-page-count-question"
        ng-model="device.devicePageCountQuestion"
        value="true"
        data-js="customInput"
    />
    <label for="lexmark-page-count-question-yes"><span></span> {{ 'LABEL.YES' | translate }}</label>
</div>

<div ng-show="device.devicePageCountQuestion === 'true'">
    <div class="form__field" >
        <label translate="DEVICE_SERVICE_REQUEST.DEVICE_PAGE_COUNT_INSTRUCTION"></label>
        <div select-page-count module="device" source="device"></div>
    </div>
</div>

<h3 translate="DEVICE_SERVICE_REQUEST.DEVICE_BILLING_TRACKING"></h3>

<div class="form__field">
    <label translate="DEVICE_SERVICE_REQUEST.DEVICE_COST_CENTER"></label>
    <input type="text" name="costCenter" ng-model="device.deviceCostCenter" value="" class="" required />
</div>

<div><strong translate="DEVICE_SERVICE_REQUEST.DEVICE_CHL_QUESTION"></strong></div>

<div class="form__field form__field--radio form__field--no-margin">
    <input type="radio"
        id="device-chl-question-no"
        name="device-chl-question"
        ng-model="device.deviceCHLQuestion"
        value="false"
        data-js="customInput"
        checked
    />
    <label for="device-chl-question-no"><span></span> {{'LABEL.NO' | translate }}</label>
</div>

<div class="form__field form__field--radio form__field--no-margin">
    <input type="radio"
        id="device-chl-question-yes"
        name="device-chl-question"
        ng-model="device.deviceCHLQuestion"
        value="true"
        data-js="customInput"
    />
    <label for="device-chl-question-yes"><span></span> {{ 'LABEL.YES' | translate }}</label>
</div>

<div ng-show="device.deviceCHLQuestion === 'true'">
    <strong translate="ACCOUNT.ORG_STRUCT"></strong>
    <div tree class="well"></div>
</div>

<div class="form__field" >
    <label translate="DEVICE_MGT.CUSTOMER_DEVICE_TAG"></label>
    <input name="customerDeviceTag" type="text" ng-model="device.customerDeviceTag" value="" class="" />
</div>


<h3 translate="DEVICE_SERVICE_REQUEST.DEVICE_CONTACT"></h3>

<label translate="SERVICE_REQUEST.PRIMARY_CONTACT"></label>

<div class="contact-info">
    <div ng-bind-html="formattedDeviceContact"></div>
</div>

<a href="" translate="ADDRESS.CONTACT_CHANGE" ng-click="goToContactPicker('DeviceAdd','updateDeviceContact',device)"></a>
