<div class="page-content" ng-controller="sourceController">
    <div pick-device current-device-title="{{configure.devicePicker.translate.currentDeviceTitle}}"
    	replace-device-title="{{configure.devicePicker.translate.replaceDeviceTitle}}"
        single-device-selection="{{configure.devicePicker.singleDeviceSelection}}"
        header="{{configure.devicePicker.translate.h1}}"
        body-text="{{configure.devicePicker.translate.body}}"
        read-more="{{configure.devicePicker.translate.readMore}}"
        read-more-url="{{configure.devicePicker.readMoreUrl}}"
        abandon-text="{{configure.devicePicker.translate.confirmation.abandon}}"
        submit-text="{{configure.devicePicker.translate.confirmation.submit}}" >
    </div>
</div>
