<div ng-show="isSubmitted">
    <div class="row">
        <div class="col-1">
            <h1 translate="DEVICE_SERVICE_REQUEST.SUBMITTED"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1 well">
            <p>
                <span translate="SERVICE_REQUEST.SUBMISSION_TEXT" translate-values="{refId: 12345678, hours: 4}"></span>
            </p>
            <p>
                <span translate="ADDRESS_SERVICE_REQUEST.WOULD_YOU_LIKE"></span>
                <a href="" ng-click="goToCreate()" translate="DEVICE_SERVICE_REQUEST.ADD_ANOTHER_DEVICE"></a>
            </p>
        </div>
        <div class="col-1">
            <strong><h4 translate="DEVICE_SERVICE_REQUEST.DETAILS_FOR_DEVICE_REQUEST" translate-values="{requestNumber: 12345678}">
            </h4></strong>
            <hr>
        </div>
    </div>

    <div submit-device></div>
</div>

<div ng-hide="isSubmitted">
    <h1 translate="DEVICE_SERVICE_REQUEST.ADD"></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. <a href="">Learn more about requests</a></p>

    <form class="form" data-form="" name="newDevice" novalidate>
        <div device-new-fields></div>
        
        <div confirm-cancel
            title="SERVICE_REQUEST.TITLE_ABANDON_MODAL"
            body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
            cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL"
            confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
            return-path="/device_management"
        ></div>
        
        <hr/>
        
        <div class="btns">
            <button
                name="cancel"
                class="btn btn--secondary"
                data-js="modalOpen"
                data-target="#cancel"
                translate="DEVICE_SERVICE_REQUEST.ABANDON"
            ></button>
            <button
                ng-hide="isReview"
                name="review"
                class="btn btn--primary"
                type="submit"
                translate="LABEL.REVIEW_SUBMIT"
                ng-click="goToReview();"
                ng-disabled="isReview"
            ></button>
            <button
                ng-show="isReview"
                name="submit"
                class="btn btn--primary"
                type="submit"
                translate="DEVICE_SERVICE_REQUEST.SUBMIT_DEVICE_REQUEST"
                ng-click="goToSubmit();"
                ng-disabled="!isReview"
            ></button>
        </div>
    </form>
</div>
