<h3 translate="REQUEST_MAN.COMMON.TXT_DEVICE_INFO"></h3>

<div><a href="" translate="REQUEST_MAN.REQUEST_DEVICE_UPDATE_REVIEW.LNK_MAKE_CHANGES" ng-click="goToAdd()"></a></div>

<hr />

<ul class="info-list">
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_SERIAL_NUMBER"></div>
        <div class="info-list__item-value" ng-bind="device.serialNumber"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_PRODUCT_NUMBER"></div>
        <div class="info-list__item-value" ng-bind="device.productNumber"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_IP_ADDR"></div>
        <div class="info-list__item-value" ng-bind="device.ipAddress"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_INSTALL_ADDRESS"></div>
        <div class="info-list__item-value" style="white-space: pre;" ng-bind="installAddress"></div>
    </li>
</ul>

<h3 translate="REQUEST_MAN.COMMON.TXT_SUPPLIES_CONTACT"></h3>

<div><a href="" translate="REQUEST_MAN.REQUEST_DEVICE_UPDATE_REVIEW.LNK_MAKE_CHANGES" ng-click="goToAdd()"></a></div>

<hr />

<ul class="info-list">
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_REQUEST_CONTACT"></div>
        <div class="info-list__item-value" style="white-space: pre;" ng-bind="devicePrimaryContact"></div>
    </li>
</ul>

<h3 translate="REQUEST_MAN.COMMON.TXT_REQUEST_CONTACTS"></h3>

<hr />

<h4 translate="REQUEST_MAN.COMMON.TXT_REQUEST_CREATED_BY"></h4>

<div class="contact-info">
    <em translate="LABEL.NONE_SELECTED"></em>
</div>
    
<h4 translate="REQUEST_MAN.COMMON.TXT_REQUEST_CONTACT"></h4>

<div class="contact-info">
    <em ng-hide="isPrimarySelected" translate="LABEL.NONE_SELECTED"></em>
    <div ng-show="isPrimarySelected" style="white-space: pre;" ng-bind="requestPrimaryContact"></div>
</div>

<div><a href="" ng-click="goToContactPicker(device,'requestPrimaryContact')" translate="REQUEST_MAN.REQUEST_DEVICE_UPDATE_REVIEW.LNK_CHANGE_REQUEST_CONTACT"></a></div>
    
<h4 translate="SERVICE_REQUEST.SECONDARY_CONTACT"></h4>

<div class="contact-info">
    <em ng-hide="isSecondarySelected" translate="LABEL.NONE_SELECTED"></em>
    <div ng-show="isSecondarySelected" class="col-1-2" style="white-space: pre;" ng-bind="requestSecondaryContact"></div>
</div>

<div><a href="" ng-click="goToContactPicker(device,'requestSecondaryContact')" translate="SERVICE_REQUEST.ADD_SECONDARY_CONTACT"></a></div>

<h4 translate="REQUEST_MAN.COMMON.TXT_REQUEST_ADDL_DETAILS"></h4>

<hr />
            
<div class="form__field">
    <label translate="REQUEST_MAN.COMMON.TXT_REQUEST_CUST_REF_ID"></label>
    <input name="internalReference" type="text" ng-model="device.internalRefernceId"/>
</div>

<div class="form__field">
    <label translate="REQUEST_MAN.COMMON.TXT_REQUEST_COST_CENTER"></label>
    <input name="requestCostCenter" type="text" ng-model="device.requestCostCenter"/>
</div>

<div class="form__field">
    <label translate="REQUEST_MAN.COMMON.TXT_REQUEST_COMMENTS"></label>
    <textarea ng-model="device.comments"></textarea>
</div>
