<div class="row">
    <div class="col-1">
        <h1 translate="DEVICE_SERVICE_REQUEST.REQUEST_DECOMISSION_FOR" translate-values="{productModel: device.productModel}"></h1>
    </div>
</div>

<div class="row">
    <div class="col-2-3">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
            sit amet lacus accumsan et viverra justo commodo.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-2-3">
        <h3 translate="DEVICE_SERVICE_REQUEST.DEVICE_REMOVAL"></h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-1-3">
        <dl class="row text--small">
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_SERVICE_REQUEST.DEVICE_PICKUP_LEXMARK"></dt>
            <dd class="col-1-2" ng-bind="formattedPickupDevice"></dd>
        </dl>
</div>

<div class="row">
    <div class="col-2-3">
        <h3 translate="DEVICE_MGT.DEVICE_INFO"></h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-1-3">
        <dl class="row text--small">
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_MGT.SERIAL_NO"></dt>
            <dd class="col-1-2" ng-bind="device.serialNumber"></dd>
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_MGT.PART_NUMBER"></dt>
            <dd class="col-1-2" ng-bind="device.partNumber"></dd>
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_MGT.IP_ADDRESS"></dt>
            <dd class="col-1-2" ng-bind="device.ipAddress"></dd>
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_SERVICE_REQUEST.DEVICE_INSTALL_ADDRESS"></dt>
            <dd class="col-1-2" style="white-space: pre;" ng-bind-html="formattedAddress"></dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-2-3">
        <h3 translate="DEVICE_SERVICE_REQUEST.DEVICE_CONTACT"></h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-1-3">
        <dl class="row text--small">
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_SERVICE_REQUEST.DEVICE_CONTACT"></dt>
            <dd class="col-1-2" style="white-space: pre;" ng-bind-html="formattedContact"></dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-2-3">
        <h3 translate="DEVICE_SERVICE_REQUEST.REQUEST_CONTACT_INFORMATION"></h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-2-3">
        <div class="col-1-4">
            <p class="text--small text--semi-bold" translate="SERVICE_REQUEST.REQUEST_CREATED_BY"></p>
            <div ng-bind-html="formattedAddress"></div>
        </div>
        <div class="col-1-4">
            <p class="text--small text--semi-bold" translate="LABEL.PRIMARY_CONTACT"></p>
            <div ng-bind-html="formattedAddress"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-2-3">
        <h3 translate="DEVICE_SERVICE_REQUEST.ADDITIONAL_REQUEST_DETAILS"></h3>
        <hr />
    </div>
</div>

<form class="form" data-form="" name="reviewDevice" novalidate>
    <div class="row">
        <div class="col-1-3">

            <div class="form__field">
                <label translate="SERVICE_REQUEST.INTERNAL_REFERENCE_ID"></label>
                <input name="internalReferenceId" type="text" class="" value="" />
            </div>

            <div class="form__field">
                <label translate="SERVICE_REQUEST.REQUEST_COST_CENTER"></label>
                <input name="requestCostCenter" type="text" class="" value="" />
            </div>

            <div class="form__field">
                <label translate="LABEL.COMMENTS"></label>
                <textarea name="comments" type="text" rows="8" cols="77" required></textarea>
            </div>

            <div class="form__field">
                <label translate="LABEL.ATTACHMENTS"></label>
                <input name="attachments" type="file" multiple="multiple" />
                <p class="text--tiny">File formats supported: .csv, .xls, .xlsx, .vsd, .doc, .docx, .ppt, .pptx, .pdf, .zip</p>
            </div>

        </div>

    </div>


    <div class="row">
        <div class="col-1">
            <button name="cancel" class="btn btn--secondary" data-js="modalOpen" data-target="#cancel" translate="DEVICE_SERVICE_REQUEST.ABANDON_DEVICE_DECOMISSION"></button>
            <button class="btn btn--primary" ng-click="goToSubmit();" translate="DEVICE_SERVICE_REQUEST.SUBMIT_DEVICE_DECOMISSION"></button>

            <div confirm-cancel title="SERVICE_REQUEST.TITLE_ABANDON_MODAL" body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
                 cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL" confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
                 return-path="/device_management"></div>
        </div>
    </div>
</form>
