<h1 translate="DEVICE_SERVICE_REQUEST.ADD"></h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. <a href="">Learn more about requests</a></p>

<form class="form" data-form="" name="newDevice" novalidate>
    <div read-device></div>
    
    <div confirm-cancel
        title="SERVICE_REQUEST.TITLE_ABANDON_MODAL"
        body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
        cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL"
        confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
        return-path="/device_management"
    ></div>

    <hr />

    <div class="btns">
        <button name="cancel"
            class="btn btn--secondary"
          	data-js="modalOpen"
            data-target="#cancel"
            translate="DEVICE_SERVICE_REQUEST.ABANDON"
        ></button>
        <button name="submit"
            class="btn btn--primary"
            type="submit"
            translate="LABEL.REVIEW_SUBMIT"
            value="submit"
            ng-click="goToSubmit();"
        ></button>
    </div>
</form>
