<h1 translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_REGISTER_DEVICE"></h1>

<p translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.TXT_REGISTER_DEVICE_PAR"><a href="" translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.LNK_LEARN_MORE"></a></p>

<form check-form-valid  class="form" data-form="" name="newDevice" novalidate>
    <div read-device></div>
    
    <div confirm-cancel
        title="SERVICE_REQUEST.TITLE_ABANDON_MODAL"
        body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
        cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL"
        confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
        return-path="/device_management"
    ></div>

    <hr />

    <div class="btns">
        <button name="cancel"
            class="btn btn--secondary"
          	data-js="modalOpen"
            data-target="#cancel"
            translate="REQUEST_MAN.COMMON.BTN_ABANDON_REGISTRATION"
        ></button>
        <button name="submit"
            class="btn btn--primary"
            type="submit"
            translate="REQUEST_MAN.COMMON.BTN_REVIEW_SUBMIT"
            value="submit"
            ng-click="goToSubmit();"
        ></button>
    </div>
</form>
