<h1 translate="REQUEST_MAN.REQUEST_DEVICE_UPDATE_REVIEW.TXT_REVIEW_UPDATE_DEVICE"></h1>

<p translate="REQUEST_MAN.REQUEST_DEVICE_UPDATE_REVIEW.TXT_REVIEW_UPDATE_DEVICE_PAR"></p>

<h3 translate="REQUEST_MAN.COMMON.TXT_REQUESTED_UPDATES"></h3>

<hr />

<ul class="info-list">
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_INSTALL_ADDRESS"></div>
        <div class="info-list__item-value" style="white-space: pre;" ng-bind="formattedAddress"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_INSTALL_LXK_TO_MOVE"></div>
        <div class="info-list__item-value" style="white-space: pre;" ng-bind="moveDevice"></div>
    </li>
</ul>

<h3 translate="REQUEST_MAN.COMMON.TXT_REQUEST_CONTACTS"></h3>

<hr />

<ul class="info-list">
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_REQUEST_CREATED_BY"></div>
        <div class="info-list__item-value" style="white-space: pre;" ng-bind="formattedAddress"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_REQUEST_CONTACT"></div>
        <div class="info-list__item-value" style="white-space: pre;" ng-bind="formattedAddress"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="SERVICE_REQUEST.SECONDARY_CONTACT"></div>
        <div class="info-list__item-value" style="white-space: pre;" ng-bind="formattedAddress"></div>
    </li>
</ul>

<h3 translate="REQUEST_MAN.COMMON.TXT_REQUEST_ADDL_DETAILS"></h3>

<hr />

<div class="form__field">
    <label translate="REQUEST_MAN.COMMON.TXT_REQUEST_CUST_REF_ID"></label>
    <input name="internalReferenceId" type="text"></textarea>
</div>

<div class="form__field">
    <label translate="REQUEST_MAN.COMMON.TXT_REQUEST_COST_CENTER"></label>
    <input name="requestCostCenter" type="text"></textarea>
</div>

<div class="form__field">
    <label translate="REQUEST_MAN.COMMON.TXT_REQUEST_COMMENTS"></label>
    <textarea name="comments" type="text" rows="8" cols="77" required></textarea>
</div>

<div class="form__field">
    <label translate="REQUEST_MAN.COMMON.TXT_REQUEST_ATTACHMENTS"></label>
    <input name="attachments" type="file" multiple="multiple" />
    <p class="text--tiny" translate="ORDER_MAN.SUPPLY_ORDER_REVIEW.TXT_ORDER_ATTACH_FILE_FORMATS"></p>
</div>

<button name="cancel"
    class="btn btn--secondary"
    data-js="modalOpen"
    data-target="#cancel"
    translate="REQUEST_MAN.COMMON.BTN_ABANDON_REGISTRATION"
></button>

<button class="btn btn--primary" translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER_REVIEW.TXT_SUBMIT_REGISTRATION_REQUEST"></button>

<div confirm-cancel
    title="SERVICE_REQUEST.TITLE_ABANDON_MODAL"
    body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
    cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL"
    confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
    return-path="/device_management"
></div>
