<h1 translate="DEVICE_SERVICE_REQUEST.NEW_SERVICE_REQUEST"></h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. <a href="#">Learn more about requests</a></p>

<h4 translate="DEVICE_SERVICE_REQUEST.SELECT_DEVICE"></h4>

<hr />

<form class="form" data-form="" name="searchDevice" novalidate>
    <div device-search-fields></div>
</form>

<div ng-if="pagination.totalItems !== -1 && pagination.totalItems !== undefined">
    <h2 translate="DEVICE_SERVICE_REQUEST.DEVICES_MATCHING_SEARCH"
        translate-values="{total: pagination.totalItems, serial: '{{serial}}'}"
    ></h2>
        
    <hr/>

    <div ui-grid="gridOptions" class="table" ui-grid-move-columns ui-grid-resize-columns></div>
    <div grid-pagination pages=="pagination"></div>
</div>

<hr />

<div confirm-cancel
    title="SERVICE_REQUEST.TITLE_ABANDON_MODAL"
    body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
    cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL"
    confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
    return-path="/device_management"
></div>

<button name="cancel"
    class="btn btn--secondary"
    data-js="modalOpen"
    data-target="#cancel"
    translate="DEVICE_SERVICE_REQUEST.ABANDON"
></button>
