<div class="row">
    <div class="col-1">
        <h1 translate="DEVICE_SERVICE_REQUEST.NEW_SERVICE_REQUEST"></h1>
    </div>
</div>
<div class="row">
    <div class="col-2-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
        sit amet lacus accumsan et viverra justo commodo. <a href="#">Learn more about requests</a></p>
    </div>
</div>

<div class="row">
    <div class="col-1-3">
        <h4 translate="DEVICE_SERVICE_REQUEST.SELECT_DEVICE"></h4>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <hr />
    </div>
</div>

<div class="row">
    <form class="form" data-form="" name="searchDevice" novalidate>
        <div device-search-fields></div>
    </form>
</div>
