<div class="row">
    <div class="col-1-3">
        <div class="col-2-3">
            <h3 translate="SERVICE_REQUEST.REQUEST_STATUS"></h3>
        </div>
        <div class="card" data-card="" id="widget-overview">
            <div class="card__content">
                <img src="/etc/resources/img/part_na_color.png" alt="{{ 'MESSAGE.NO_IMAGE_FOUND' | translate }}" />
            </div>
        </div>
        <div class="row">
            <div class="col-3-5">
                <dl class="row">
                    <strong><dt class="col-1-2" translate="SERVICE_REQUEST.SUBMITED"></dt></strong>
                    <dd class="col-1-2" ng-bind="currentDate"></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-2-3">
        <div class="row">
            <div class="col-2-3">
                <h3 translate="SERVICE_REQUEST.CONTACT_INFORMATION"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-3-5">
                <dl class="row">
                    <strong><dt class="col-1-2" translate="SERVICE_REQUEST.REQUEST_CREATED_BY"></dt></strong>
                    <dd class="col-1-2"></dd>
                    <strong><dt class="col-1-2" translate="SERVICE_REQUEST.PRIMARY_CONTACT"></dt></strong>
                    <dd class="col-1-2" style="white-space: pre;" ng-bind="requestPrimaryContact"></dd>
                    <strong><dt class="col-1-2" translate="SERVICE_REQUEST.SECONDARY_CONTACT"></dt></strong>
                    <dd class="col-1-2" style="white-space: pre;" ng-bind="requestSecondaryContact"></dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-2-3">
                <h3 translate="SERVICE_REQUEST.ADDITIONAL_REQUEST_DETAILS"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-3-5">
                <dl class="row">
                    <strong><dt class="col-1-2" translate="LABEL.CUSTOMER_REF_ID"></dt></strong>
                    <dd class="col-1-2" ng-bind="device.internalRefernceId"></dd>
                    <strong><dt class="col-1-2" translate="SERVICE_REQUEST.REQUEST_COST_CENTER"></dt></strong>
                    <dd class="col-1-2" ng-bind="device.requestCostCenter"></dd>
                    <strong><dt class="col-1-2" translate="LABEL.COMMENTS"></dt></strong>
                    <dd class="col-1-2" ng-bind="device.comments"></dd>
                    <strong><dt class="col-1-2" translate="LABEL.ATTACHMENTS"></dt></strong>
                    <dd class="col-1-2" translate="LABEL.NONE"></dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-1-3">
                <h3 translate="DEVICE_MGT.DEVICE_INFO"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-3-5">
                <dl class="row">
                    <strong><dt class="col-1-2" translate="DEVICE_MGT.SERIAL_NO"></dt></strong>
                    <dd class="col-1-2" ng-bind="device.serialNumber"></dd>
                    <strong><dt class="col-1-2" translate="DEVICE_SERVICE_REQUEST.PRODUCT_NUMBER"></dt></strong>
                    <dd class="col-1-2" ng-bind="device.productNumber"></dd>
                    <strong><dt class="col-1-2" translate="DEVICE_MGT.IP_ADDRESS"></dt></strong>
                    <dd class="col-1-2" ng-bind="device.ipAddress"></dd>
                    <strong><dt class="col-1-2" translate="DEVICE_MGT.INSTALL_ADDRESS"></dt></strong>
                    <dd class="col-1-2" style="white-space: pre;" ng-bind="installAddress"></dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-1-3">
                <h3 translate="DEVICE_SERVICE_REQUEST.DEVICE_CONTACT"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-3-5">
                <dl class="row">
                    <strong><dt class="col-1-2" translate="LABEL.PRIMARY_CONTACT"></dt></strong>
                    <dd class="col-1-2" style="white-space: pre;" ng-bind="devicePrimaryContact"></dd>
                </dl>
            </div>
        </div>
    </div>
</div>

