<h3 translate="REQUEST_MAN.COMMON.TXT_REQUEST_STATUS"></h3>

<div class="card" data-card="" id="widget-overview">
    <div class="card__content">
        <img src="/etc/resources/img/part_na_color.png" alt="{{ 'MESSAGE.NO_IMAGE_FOUND' | translate }}" />
    </div>
</div>
        
<ul class="info-list">
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_REQUEST_SUBMITTED_SHORT"></div>
        <div class="info-list__item-value" ng-bind="currentDate"></div>
    </li>
</ul>

<h3 translate="REQUEST_MAN.COMMON.TXT_REQUEST_CONTACTS"></h3>

<ul class="info-list">
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_REQUEST_CREATED_BY"></div>
        <div class="info-list__item-value"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_REQUEST_CONTACT"></div>
        <div class="info-list__item-value" style="white-space: pre;" ng-bind="requestPrimaryContact"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="SERVICE_REQUEST.SECONDARY_CONTACT"></div>
        <div class="info-list__item-value" style="white-space: pre;" ng-bind="requestSecondaryContact"></div>
    </li>
</ul>

<h3 translate="REQUEST_MAN.COMMON.TXT_REQUEST_ADDL_DETAILS"></h3>

<ul class="info-list">
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_REQUEST_CUST_REF_ID"></div>
        <div class="info-list__item-value" ng-bind="device.internalRefernceId"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_REQUEST_COST_CENTER"></div>
        <div class="info-list__item-value" ng-bind="device.requestCostCenter"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_REQUEST_COMMENTS"></div>
        <div class="info-list__item-value" ng-bind="device.comments"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_REQUEST_ATTACHMENTS"></div>
        <div class="info-list__item-value" translate="LABEL.COMMON.NONE"></div>
    </li>
</ul>

<h3 translate="REQUEST_MAN.COMMON.TXT_DEVICE_INFO"></h3>

<ul class="info-list">
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_SERIAL_NUMBER"></div>
        <div class="info-list__item-value" ng-bind="device.serialNumber"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_PRODUCT_NUMBER"></div>
        <div class="info-list__item-value" ng-bind="device.productNumber"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_IP_ADDR"></div>
        <div class="info-list__item-value" ng-bind="device.ipAddress"></div>
    </li>
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_INSTALL_ADDRESS"></div>
        <div class="info-list__item-value" style="white-space: pre;" ng-bind="installAddress"></div>
    </li>
</ul>

<h3 translate="REQUEST_MAN.COMMON.TXT_SUPPLIES_CONTACT"></h3>

<ul class="info-list">
    <li class="info-list__item">
        <div class="info-list__item-name" translate="REQUEST_MAN.COMMON.TXT_REQUEST_CONTACT"></div>
        <div class="info-list__item-value" style="white-space: pre;" ng-bind="devicePrimaryContact"></div>
    </li>
</ul>
