<div sr-header></div>

<div class="page-content">
    <form class="form" data-form="" name="srForm"  mps-update-form novalidate>
        <div device-update-fields></div>

        <div confirm-cancel
            title="SERVICE_REQUEST.TITLE_ABANDON_MODAL"
            body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
            cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL"
            confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
            return-path="/device_management"
        ></div>

        <hr/>
        {{srForm.$valid}}, {{srForm.$invalid}}
        <div sr-form-buttons></div>
    </form>
</div>
