
<div class="row well header">
    <div class="row">
        <div class="col-1">
            <ul class="breadcrumb">
                  <li><a href="#root">Root</a></li>
                  <li><a href="#parent">Parent</a></li>
                  <li>Child</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <h1 translate="DEVICE_SERVICE_REQUEST.UPDATE_DEVICE"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                 amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                 euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            </p>
            <a class="read-more" href="#" translate="DEVICE_SERVICE_REQUEST.LEARN_MORE"></a>
        </div>
    </div>
</div>

<div class="row">
    <form class="form" data-form="" name="updateDevice" novalidate>
        <div device-update-fields></div>
        <div confirm-cancel title="SERVICE_REQUEST.TITLE_ABANDON_MODAL" body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
             cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL" confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
             return-path="/device_management"></div>
        <div class="row">
            <div class="col-1">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-1">
                    <button name="cancel" class="col-1-3 btn btn--secondary"
                      data-js="modalOpen" data-target="#cancel"
                            translate="DEVICE_SERVICE_REQUEST.DISCARD_DEVICE_CHANGES"></button>
                    <button ng-hide="isReview" name="review" class="col-1-3 btn btn--primary" type="submit"
                            translate="LABEL.REVIEW_SUBMIT" value="review" ng-click="goToReview();"></button>
                </div>
                <div class="col-1-3">
                </div>
            </div>
        </div>
    </form>
</div>


