<div class="row">
    <div class="col-1">
        <h1 translate="DEVICE_SERVICE_REQUEST.REQUEST_SERVICE_FOR" translate-values="{product_model: device.productModel}"></h1>
        <h4 translate="{{formattedTitleAddress}}"></h4>
    </div>
</div>

<div class="row">
    <div class="col-1">
        <h3 translate="DEVICE_SERVICE_REQUEST.DEVICE_DETAILS"></h3>
        <hr />
    </div>
</div>

<div class="row row--alley-2">
    <div class="col-1-5">
        <div class="card" data-card="" id="widget-overview">
            <div class="card__content">
                <img src="/etc/resources/img/part_na_color.png" alt="{{ 'MESSAGE.NO_IMAGE_FOUND' | translate }}" />
            </div>
        </div>
    </div>
    <div class="col-5-12">
        <dl class="row text--small">
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_MGT.PRODUCT_MODEL"></dt>
            <dd class="col-1-2" ng-bind="device.productModel"></dd>
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_MGT.PART_NUMBER"></dt>
            <dd class="col-1-2" ng-bind="device.partNumber"></dd>
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_MGT.SERIAL_NO"></dt>
            <dd class="col-1-2" ng-bind="device.serialNumber"></dd>
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_MGT.MACHINE_TYPE"></dt>
            <dd class="col-1-2" ng-bind="device.machineType"></dd>
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_MGT.IP_ADDRESS"></dt>
            <dd class="col-1-2" ng-bind="device.ipAddress"></dd>
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_MGT.SERVICE_CONTACT"></dt>
            <dd class="col-1-2" style="white-space: pre;" ng-bind="formattedServiceContact"></dd>
            <dt class="col-1-2 text--semi-bold" translate="DEVICE_MGT.SERVICE_ADDRESS"></dt>
            <dd class="col-1-2" style="white-space: pre;" ng-bind="formattedAddress"></dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-1">
        <h3 translate="DEVICE_SERVICE_REQUEST.SERVICE_REQUEST_DETAIL"></h3>
        <hr />
    </div>
</div>

<form class="form" data-form="" name="viewDevice" novalidate>
<div class="row">
    <div class="col-1">
        <div class="col-1-3">

            <div class="form__field form__field--select form__field--required">
                <label translate="DEVICE_SERVICE_REQUEST.TYPE_OF_SERVICE_NEEDED"></label>
                <div selectric model="breakfixOption" options="typeOfServiceOptions" value="value" label="label" placeholder="{{'LABEL.SELECT' | translate}}" on-select="serviceSelected(option)" required>
                <span ng-hide="!viewDevice.breakfixOption.$error.required" class="form__field__helper-text form__field__helper-text--alert">
                    <i class="icon icon--ui icon--error-small"></i>
                    <span translate="LABEL.ERROR_REQUIRED"></span>
                </span>
            </div>


            <div class="form__field form__field--required">
                <label translate="DEVICE_SERVICE_REQUEST.PROBLEM_DESCRIPTION"></label>
                <textarea name="description" type="text" class="" value="" rows="8" cols="77" required></textarea>

                <span ng-hide="!viewDevice.description.$error.required" class="form__field__helper-text form__field__helper-text--alert">
                    <i class="icon icon--ui icon--error-small"></i>
                    <span translate="LABEL.ERROR_REQUIRED"></span>
                </span>

            </div>

            <div class="form__field">
                <label translate="DEVICE_SERVICE_REQUEST.REFERENCE_NUMBER"></label>
                <input name="referenceNumber" type="text" class="" value="" />
            </div>

        </div>
    </div>

</div>


<div class="row">
    <div class="col-1">
        <button name="cancel" class="btn btn--secondary" data-js="modalOpen" data-target="#cancel" translate="DEVICE_SERVICE_REQUEST.ABANDON"></button>
        <button class="btn btn--primary" ng-click="goToCreate();" translate="Review and Submit"></button>

        <div confirm-cancel title="SERVICE_REQUEST.TITLE_ABANDON_MODAL" body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
             cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL" confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
             return-path="/device_management"></div>
    </div>
</div>
</form>
