<div sr-header></div>

<div class="page-content">
    <div device-info-section></div>

    <form class="form"
        data-form=""
        name="decommissionDevice"
        method="post"
        ng-submit="decommissionDevice.$valid && goToReview()"
        enctype="multipart/form-data"
        novalidate
    >
        <h2 translate="REQUEST_MAN.COMMON.TXT_DECOM_OPTIONS"></h2>
        <hr>

        <strong translate="REQUEST_MAN.COMMON.TXT_LXK_PICK_UP_QUERY"></strong>

        <div class="form__field form__field--no-margin">
            <input type="radio"
                id="lexmark-pickup-device-question-no"
                name="lexmark-pickup-device-question"
                ng-model="device.lexmarkPickupDevice"
                ng-value="false"
            />
            <label for="lexmark-pickup-device-question-no"><span></span> {{'REQUEST_MAN.COMMON.CHK_NO' | translate }}</label>
        </div>

        <div class="form__field form__field--no-margin">
            <input type="radio"
                id="lexmark-pickup-device-question-yes"
                name="lexmark-pickup-device-question"
                ng-model="device.lexmarkPickupDevice"
                ng-value="true"
            />
            <label for="lexmark-pickup-device-question-yes"><span></span> {{ 'REQUEST_MAN.COMMON.CHK_YES' | translate }}</label>
        </div>

        <strong translate="REQUEST_MAN.REQUEST_DEVICE_DECOM.TXT_ENTER_PAGE_COUNTS_QUERY"></strong>

        <div class="form__field form__field--no-margin">
            <input type="radio"
                id="page-count-question-no"
                name="page-count-question"
                ng-model="device.pageCountQuestion"
                ng-value="false"
            />
            <label for="page-count-question-no"><span></span> {{'REQUEST_MAN.COMMON.CHK_NO' | translate }}</label>
        </div>

        <div class="form__field form__field--no-margin">
            <input type="radio"
                id="page-count-question-yes"
                name="page-count-question"
                ng-model="device.pageCountQuestion"
                ng-value="true"
            />
            <label for="page-count-question-yes"><span></span> {{ 'REQUEST_MAN.COMMON.CHK_YES' | translate }}</label>
        </div>

        <div ng-show="device.pageCountQuestion === true">
            <div class="form__field" >
                <label translate="REQUEST_MAN.COMMON.TXT_ENTER_PAGE_COUNTS"></label>
                <div class="col-2-3">
                    <div select-page-count module="device" source='decommission'></div>
                </div>
            </div>
        </div>

        <div sr-form-buttons></div>
    </form>
</div>
