<div sr-header></div>

<div class="page-content">
    <div device-info-section></div>
    <div class="row">
        <div class="col-lg-2-3 col-md-1-1">
            <form class="form"
                data-form=""
                name="breakFixDevice"
                method="post"
                ng-submit="breakFixDevice.$valid && goToReview()"
                enctype="multipart/form-data"
                novalidate>

                <h2 translate="DEVICE_SERVICE_REQUEST.SERVICE_REQUEST_DETAIL"></h2>
                
                <div class="form__field form__field--required" ng-class="validForm === false? 'form__field--has-alert' : ''">
                    <label translate="DEVICE_SERVICE_REQUEST.PROBLEM_DESCRIPTION"></label>
                    <textarea name="description" rows="8" cols="129" ng-model="sr.description" required></textarea>
                    <span ng-hide="!breakFixDevice.description.$error.required" 
                        class="form__field__helper-text form__field__helper-text--alert"><i class="icon icon--ui icon--error-small"></i>
                        <span translate="LABEL.ERROR_REQUIRED"></span>
                    </span>
                </div>

                <div sr-form-buttons></div>
            </form>
        </div>
    </div>
</div>
