<div class="row">
    <div class="col-1">
        <h1 translate="DEVICE_SERVICE_REQUEST.REQUEST_DECOMISSION_FOR" translate-values="{productModel: device.productModel}"></h1>
    </div>
</div>

<div class="row">
    <div class="col-2-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
            sit amet lacus accumsan et viverra justo commodo.</p>
    </div>
</div>

<div class="row">
    <div class="col-1">
        <h3 translate="DEVICE_SERVICE_REQUEST.DEVICE_DETAILS"></h3>
        <hr />
    </div>
</div>
