<div class="form__field" ng-if="configure.detail.show.attachements">
    <label translate="{{configure.detail.translate.attachments}}"></label>
    <div >
    <input ng-model="attachment" name="attachments" type="file" multiple="multiple"
      onchange="angular.element(this).scope().change(this.files)" ng-disabled="files_complete.length === configure.attachments.maxItems" ng-if="sourcefeature.length === 0" />
    <input ng-model="attachment" name="attachments" type="file" 
      onchange="angular.element(this).scope().change(this.files)" ng-disabled="files_complete.length === configure.attachments.maxItems" ng-if="sourcefeature === 'translation'" />
   <div ng-if="configure.detail.translate.fileList" class="form__field__helper-text"
        translate="{{configure.detail.translate.attachmentMessage}}"
        translate-values="{file_list: configure.detail.translate.fileList}"
    ></div>
    <div ng-if="!configure.detail.translate.fileList" class="form__field__helper-text"
        translate="{{configure.detail.translate.attachmentMessage}}">
    </div>
  </div>
  <div ng-repeat="file in files" ng-if="!error">
    <div><span>Attachment 1 of 1</span></div>
    <div>{{file.name}}</div>
    <div class="progress-bar" ng-if="!file.complete">
      <div class="progress-bar__fill progress-bar__fill--is-animated progress-green" style="width: 100%"></div>
    </div>
  </div>
  <div ng-repeat="file in files_complete">  
  	<div class="card" data-card="">
		<div class="card__content">
			<div class="card__title">{{file.filename}}({{file.size}}MB)</div>
			<div class="card__author">Attachment {{$index+1}} of {{files_complete.length}}</div>
			<a class="card__action" href="#" ng-click="removeAttachment(file)">Remove Attachment</a>
		</div>
	</div>
  </div>
  <div error-msg ng-if="error"></div>
</div>
