<div class="page-header">

    <div class="col-1">
        <ul class="breadcrumb">
            <li><a href="/" translate="DASHBOARD.TITLE"></a> >&nbsp;</li>
            <li><a href="/device_management" translate="DEVICE_MAN.MANAGE_DEVICES.TXT_MANAGE_DEVICES"></a> >&nbsp;</li>
            <li translate="DEVICE_MAN.MANAGE_DEVICE.TXT_PAGE_COUNTS_TAB"></li>
        </ul>
    </div>

    <h1 translate="REQUEST_MAN.COMMON.TXT_PAGE_COUNTS"></h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
</div>
<div  class="page-tabs" page-count-tabs></div>
