<div class="set" data-js="set">
    <div id="deviceListTabOutter" class="set__trigger" data-toggle="deviceListTab">
        <a href="#deviceListTab" translate="DEVICE_MAN.MANAGE_DEVICES.TAB_DEVICE_LIST"><i class="set__icon"></i></a>
    </div>
    <div class="set__content" id="deviceListTab">
    <div class="col-1">
        <div print-export-title title="DEVICE_MGT.TITLE_CNT"></div>
        <hr/>
    </div>
    <div grid-filter options="filterOptions" params="optionParams"></div>


    <div class="row l-pad-top l-pad-bottom" ng-if="searchDevice">
        <div class="col-lg-2-3 col-md-1-1">
            <div grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef"></div>
        </div>

        <div class="col-1-8 l-alley-before-thick">
            <div columnpicker></div>
        </div>
    </div>

    <div class="col-1">
        <div ui-grid="gridOptions" class="table" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-exporter></div>
        <div pagination grid="gridOptions" ></div>
    </div>
  </div>

    <div class="set__trigger" data-toggle="mapViewTab" ng-click="goToLBS()" ng-if="lbsAccess">
        <a  translate="DEVICE_MAN.MANAGE_DEVICES.TAB_MAP_VIEW"><i class="set__icon"></i></a>
    </div>
</div>
