<div class="row">
    <div class="col-7-8">
        <div class="row">
            <div class="col-9-24">
                <h3 class="vertical-space--none" translate="DEVICE_MGT.PAGE_COUNT_SUMMARY"></h3>
            </div>
            <div class="col-5-24 text--align-bottom text--align-center">
                <i class="vertical-space--none text--small" 
                   translate="DEVICE_MGT.LAST_UPDATED" translate-values="{lastUpdatedDate: '10/22/2015'}"></i>
            </div>
            <div class="col-1-3 text--align-bottom text--small">
                <a href="" translate="DEVICE_MGT.MANAGE_PAGE_COUNTS_LINK"></a>
            </div>
        </div>
    </div>
</div> 
<hr>
<div class="row">
    <dl class="col-2-3">
        <dt class="text--semi-bold" translate="PAGE_COUNT_TYPE.LIFETIME_TITLE"></dt>
        <dt>112344434 Pages</dt>
    </dl>
    <dl class="col-2-3">
        <dt class="text--semi-bold" translate="PAGE_COUNT_TYPE.COLOR_TITLE"></dt>
        <dt>112344434 Pages</dt>
    </dl>
    <dl class="col-2-3">
        <dt class="text--semi-bold" translate="PAGE_COUNT_TYPE.MONO_TITLE"></dt>
        <dt>112344434 Pages</dt>
    </dl>
    
</div>

<div class="row">
    <div class="col-2-3">
        <div class="row">
            <div class="col-7-24">
                <h3 class="vertical-space--none" translate="DEVICE_MGT.DEVICE_INFO"></h3>
            </div>
            <div class="col-7-24 text--align-bottom text--align-center">
                <i class="vertical-space--none text--small" 
                   translate="DEVICE_MGT.LAST_UPDATED" translate-values="{lastUpdatedDate: '10/22/2015'}"></i>
            </div>
            <div class="col-1-3 text--align-bottom text--small">
                <a href="" translate="DEVICE_MGT.UPDATE_DEVICE_INFO_LINK"></a>
            </div>
        </div>
    </div>
</div> 
<hr>
<div class="row row--alley-2">
    <div class="col-7-12">
        <dl class="row">
            <dt class="col-7-24">
                <h4 class="text--semi-bold" translate="LABEL.LOCATION"></h4>
            </dt>
            <dd class="col-5-24 text--small">
                <a href="" translate="LABEL.UPDATE_LINK"></a>
            </dd>
        </dl>

        <dl class="row">
            <dt class="col-1-3" translate="DEVICE_MGT.INSTALL_DATE"></dt>
            <dd class="col-2-3" ng-bind="device.installDate"></dd>
            <dt class="col-1-3" translate="DEVICE_MGT.INSTALL_ADDRESS"></dt>
            <dd class="col-8-24" style="white-space: pre;" ng-bind="formattedAddress"></dd>
            <dd class="col-9-24 text--small">
                <a href="" translate="LABEL.VIEW_ON_MAP"></a>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-11-24">
                <h4 class="text--semi-bold" translate="LABEL.NETWORK_CONFIG"></h4>
            </dt>
            <dd class="col-5-24 text--small">
                <a href="" translate="LABEL.UPDATE_LINK"></a>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-1-3" translate="DEVICE_MGT.IP_ADDRESS"></dt>
            <dd class="col-2-3" ng-bind="device.ipAddress"></dd>
            <dt class="col-1-3" translate="DEVICE_MGT.HOST_NAME"></dt>
            <dd class="col-2-3" ng-bind="device.hostName"></dd>
        </dl>
        <dl class="row">
            <dt class="col-1-3">
                <h4 class="text--semi-bold" translate="LABEL.PRIMARY_CONTACT"></h4>
            </dt>
            <dd class="col-5-24 text--small">
                <a href="" translate="LABEL.UPDATE_LINK"></a>
            </dd>
        </dl>

        <dl class="row">
            <dt class="col-1-3" translate="LABEL.NAME"></dt>
            <dd class="col-2-3" ng-bind="primaryContact.name"></dd>
            <dt class="col-1-3" translate="LABEL.ADDRESS"></dt>
            <dd class="col-2-3" style="white-space: pre;" ng-bind="formattedAddress"></dd>
            <dt class="col-1-3" translate="LABEL.EMAIL"></dt>
            <dd class="col-2-3" ng-bind="primaryContact.emailAddress"></dd>
            <dt class="col-1-3" translate="CONTACT.WORK_PHONE"></dt>
            <dd class="col-2-3" ng-bind="primaryContact.phoneNumber"></dd>
        </dl>
    </div>
</div>
<div class="col-1">
    <button class="btn btn--primary" translate="DEVICE_MGT.UPDATE_DEVICE_INFO"></button>
    <button class="btn btn--primary" translate="DEVICE_MGT.DECOMMISSION_DEVICE"></button>
</div>
