<div class="page-content">
    <h1 translate="DEVICE_SERVICE_REQUEST.SELECT_DEVICE_DEINSTALL"></h1>

    <h2 class="vertical-space--none" ng-show="pagination.totalItems() !== -1 && pagination.totalItems() !== undefined" 
    translate="DEVICE_SERVICE_REQUEST.EXISTING_DEVICE_LIST" translate-values="{total: pagination.totalItems()}"></h2>
    <hr />
    <div ui-grid="gridOptions" class="table" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ></div>
    <div pagination grid="{{gridOptions}}"></div>

    <div ng-show="isRowSelected()">
        <h2 class="vertical-space--none" translate="DEVICE_SERVICE_REQUEST.SELECTED_DEVICE_IS"></h2>
        <hr />
        <ul class="info-list">
            <li class="info-list__item">
                <div class="info-list__item-name" translate="DEVICE_MGT.SERIAL_NO"></div>
                <div class="info-list__item-value" ng-bind="selectedDevice.serialNumber"></div>
            </li>
            <li class="info-list__item">
                <div class="info-list__item-name" translate="DEVICE_MGT.IP_ADDRESS"></div>
                <div class="info-list__item-value" ng-bind="selectedDevice.ipAddress"></div>
            </li>
        </ul>

        <button class="btn btn--secondary" translate="DEVICE_SERVICE_REQUEST.DISCARD_DEVICE_SELECTION" ng-click="discardDeviceSelection()"></button>
        <button class="btn btn--primary" translate="DEVICE_SERVICE_REQUEST.SELECT_DEVICE_DEINSTALL" ng-click="goToDeviceAdd()"></button>
    </div>
</div>
