<h3 translate="DEVICE_MGT.PAGE_COUNTS"></h3>
<hr>

<form class="form" data-form="" name="devicePageCount" novalidate>
    <div>
        <a href="#" ng-click="showAll = !showAll">Show <span ng-hide="showAll">All</span><span ng-show="showAll">Less</span></a>
    </div>
    <table class="table table--condensed table--even vertical-space--none" style="min-height:0;">
        <thead>
            <tr>
                <th translate="DEVICE_MGT.PAGE_COUNT_TYPE"></th>
                <th translate="DEVICE_MGT.PRIOR_COUNT"></th>
                <th translate="DEVICE_MGT.PRIOR_DATE"></th>
                <th translate="DEVICE_MGT.NEW_COUNT"></th>
                <th translate="LABEL.DATE"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in meterReads.data" ng-show="item.type === 'Mono' || item.type === 'Color' || item.type === 'LTPC' || showAll">
                <td ng-bind="item.type"></td>
                <td ng-bind="item.value"></td>
                <td ng-bind="getModifiedDate(item)"></td>
                <td><input type="number" ng-value="item.value" ng-if="item.type !== 'Mono'" /></td>
                <td><input type="date" placeholder="MM/dd/YYYY" ng-if="item.type !== 'Mono'" /></td>
            </tr>
        </tbody>
    </table>
    <div class="vertical-space--thin">
        <a href="#" ng-click="showAll = !showAll">Show <span ng-hide="showAll">All</span><span ng-show="showAll">Less</span></a>
    </div>

	<button class="btn btn--primary" translate="DEVICE_MGT.SUBMIT_PAGE_COUNT_UPDATE"></button>
</form>
