<div class="set set--tab" data-js="tab">
<div class="set__tab-container">
	<div class="set__trigger" data-toggle="deviceInfoTab">
		<a href="#deviceInfoTab" translate="DEVICE_MGT.OVERVIEW"><i class="set__icon"></i></a>
	</div>
	<div class="set__trigger" data-toggle="orderTab">
		<a href="#orderTab" translate="DEVICE_MGT.SUPPLY_ORDERS"><i class="set__icon"></i></a>
	</div>
	<div class="set__trigger" data-toggle="requestTab">
		<a href="#requestTab" translate="DEVICE_MGT.SERVICE_HISTORY"><i class="set__icon"></i></a>
	</div>
	<div class="set__trigger" data-toggle="pageCountTab">
		<a href="#pageCountTab" translate="DEVICE_MGT.PAGE_COUNTS"><i class="set__icon"></i></a>
	</div>
</div>
<div class="set__content-container">
	<div class="set__content" id="deviceInfoTab">
		<div device-information></div>
	</div>
	<div class="set__content" id="orderTab">
		<div order-list></div>
	</div>
	<div class="set__content" id="requestTab">
		<div request-list></div>
	</div>
	<div class="set__content" id="pageCountTab">
		<div device-page-count></div>
	</div>
</div>
</div>