<div class="set" data-js="set">
    <div id="deviceListTabOutter" class="set__trigger" data-toggle="deviceListTab">
        <a href="#deviceListTab" translate="DEVICE_MAN.MANAGE_DEVICES.TAB_DEVICE_LIST"><i class="set__icon"></i></a>
    </div>
    <div class="set__content" id="deviceListTab">
    <div class="col-1">
        <div print-export-title titlestring="DEVICE_MAN.MANAGE_DEVICES.TXT_DEVICE_LISTING"></div>
        <hr/>
    </div>
    <div grid-filter options="filterOptions" params="optionParams"></div>


    <div class="row l-pad-top l-pad-bottom" ng-if="searchDevice">
        <div class="col-lg-2-3 col-md-1-1">
            <div grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef" total="pagination"></div>
        </div>
        <div class="col-1-8 l-alley-before-thick">
            <div columnpicker></div>
        </div>
    </div>
    <div class="row l-pad-top">
        <!-- <div class="col-lg-2-3 col-md-1-1">
            <a href="" ng-click="clearFilter">Clear Filter</a>
        </div> -->
        <div class="col-lg-2-3 col-md-1-1">
            <span class="text--semi-bold" translate="DEVICE_MAN.COMMON.TXT_DEVICE_ACTIONS"></span>
        </div>
    </div>
    <div class="col-md-1-1 btns">
        <button type="button" class="btn btn--default" href="" ng-click="selectRow('orderSupplies')"
            translate="DEVICE_MAN.COMMON.BTN_ORDER_SUPPLIES" ng-disabled="!isSingleSelected()" ng-if="orderSupplies"></button>
        <button type="button" class="btn btn--default" href="" ng-click="selectRow('requestService')"
            translate="DEVICE_MAN.MANAGE_DEVICES.BTN_REQUEST_SERVICE" ng-disabled="!isSingleSelected()"
            ng-if="createBreakFixAccess"></button>
        <button type="button" class="btn btn--default" href="" ng-click="selectRow('updatePageCounts')"
            translate="DEVICE_MAN.MANAGE_DEVICES.BTN_UPDATE_PAGE_COUNTS_UC" ng-if="pageCountAccess"
            ng-disabled="!isSingleSelected()"></button>
        <button type="button" class="btn btn--default" href="" ng-click="selectRow('edit')" ng-if="updateDevice"
            translate="DEVICE_MAN.MANAGE_DEVICES.BTN_UPDATE_DEVICE_INFO_UC" ng-disabled="!isSingleSelected()"></button>
        <button type="button" class="btn btn--default" href="" ng-click="selectRow('move')" ng-if="moveDevice"
            translate="DEVICE_MAN.MANAGE_DEVICES.BTN_MOVE_DEVICE" ng-disabled="!isSingleSelected()"></button>
        <button type="button" class="btn btn--default" href="" ng-click="selectRow('orderAnother')"
            translate="DEVICE_MAN.MANAGE_DEVICES.BTN_ORDER_SAME_DEVICE" ng-disabled="!isSingleSelected()" ng-if="orderDevice"></button>
        <button type="button" class="btn btn--default" href="" ng-click="selectRow('delete')"
            translate="DEVICE_MAN.MANAGE_DEVICES.BTN_DECOM_DEVICE" ng-disabled="!isSingleSelected()" ng-if="decommissionAccess"></button>
    </div>
    <div class="col-1">
        <div class="alert alert--info" ng-if="gridLoading === true">
            <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
                <div class="alert__body">
                     <span translate="GRID.LOADING"></span>
                </div>
        </div>

        <div class="alert alert--info" ng-if="gridLoading === false && !gridDataCnt">
            <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
                <div class="alert__body">
                     <span translate="GRID.EMPTY"></span>
                </div>
        </div>

        <div ng-if="gridLoading === false && gridDataCnt > 0">
            <div ui-grid="gridOptions" class="table" ng-style="gridOptions.getStyle()" ui-grid-exporter
                ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-auto-resize>
            </div>

            <div pagination grid="{{gridOptions}}"></div>
        </div>
    </div>
    </div>

    <div id="lbs" class="set__trigger" data-toggle="mapViewTab" ng-click="goToLBS()" ng-show="lbsAccess">
        <a  translate="DEVICE_MAN.MANAGE_DEVICES.TAB_MAP_VIEW"><i class="set__icon"></i></a>
    </div>
    <div class="set__content" id="mapViewTab"></div>
</div>
