<div class="set set--tab" data-js="tab">
<div class="set__tab-container">
	<div class="set__trigger" data-toggle="deviceInfoTab">
		<a href="#deviceInfoTab" translate="DEVICE_MGT.DEVICE_INFO"><i class="set__icon"></i></a>
	</div>
	<div class="set__trigger" data-toggle="pageCountTab">
		<a href="#pageCountTab" translate="DEVICE_MGT.PAGE_COUNTS"><i class="set__icon"></i></a>
	</div>
</div>
<div class="set__content-container">
	<div class="set__content" id="deviceInfoTab">
		<div device-information></div>
	</div>
	<div class="set__content" id="pageCountTab">
		<div device-page-count></div>
	</div>
</div>
</div>