<div ng-if="orderSuppliesAsset">
    <h2 class="vertical-space--none"></h2>
    <header class="col-1">
        <h2 translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_SUPPLIES_ACCESSORIES"></h2>
        <div class="push" ng-if="orderSuppliesCatalog">
            <a href="#" translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.LNK_CATALOG_ORDER"></a>
        </div>
        <hr/>
    </header>
    <div class="row">
        <div class="col-1">
            <div catalog></div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <div order-content editable="{{editable}}" submit-action="submit" datasource="orderItems"></div>
        </div>
    </div>
</div>


