<h2 class="vertical-space--none" translate="ORDER_MGT.ORDERS_FOR_DEVICE"></h2>

<hr />

<span class="text--thick" translate="ORDER_MGT.ORDER_SEARCH"></span>
<form class="form clearfix" data-form="">
    <div class="pull" selectric options="orderColumns" value="id" label="name" placeholder="{{'LABEL.SELECT' | translate}}"></div>
    <div class="pull form__field" style="border-radius: 0;">
        <input type="text" name="search" id="search" placeholder="Search">
    </div>
    <button class="pull btn btn--secondary" translate="LABEL.SEARCH" ng-click="search()"></button>
</form>

<div ui-grid="orderGridOptions" class="table" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ></div>

<div grid-pagination pagination="pagination"></div>
