 <h2 class="vertical-space--none"
    <header class="col-1">
        <h2 translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_SUPPLIES_ACCESSORIES"></h2>
        <div class="push">
            <a href="#" translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.LNK_CATALOG_ORDER"></a>
        </div>
        <hr/>
    </header>
        grid goes here
        <div class="well col-1">
            <h3 translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_GRID_NEW_ORDER_SUMMARY"></h3>
            <div ui-grid="orderSummaryGridOptions" class="table"></div>
            <div class="row">
                <div class="col-1">
                        <button type="button" class="push btn btn--default"
                            translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.BTN_NEW_ORDER_CLEAR"></button>
                </div>
            </div>
        </div>
        <div class="row form--inline">
            <div class="well col-1-2 push">
                <div class="row">
                    <div class="push col-2-3 form__field">
                        <label translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_SUBTOTAL"></label>
                        <input type="text" value="-" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="push col-2-3 form__field">
                        <label translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_TAX"></label>
                        <input type="text" value="-"readonly readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="push col-2-3 form__field">
                        <label class="text--bold text--large" translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_TOTAL"></label>
                        <input type="text" value="-" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <button type="button" class="push btn btn--default"
                            translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.BTN_NEW_ORDER_SUBMIT"></button>
                    </div>
                </div>
            </div>
        </div>

