 <h2 class="vertical-space--none"
    <header class="col-1">
        <h2 translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_SUPPLIES_ACCESSORIES"></h2>
        <div class="push">
            <a href="#" translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.LNK_CATALOG_ORDER"></a>
        </div>
        <hr/>
    </header>
        grid goes here
        <div class="well col-1">
            <h3 >
                <span translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_GRID_NEW_ORDER_SUMMARY"></span>
                <span class="push" translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_HEADER_ITEMS_COUNT_SUMMARY"
                    ng-if="orderSummaryGridOptions && orderSummaryGridOptions.data"
                    translate-values="{ count: orderSummaryGridOptions.data.length}"></span></h3>
            <div ui-grid="orderSummaryGridOptions" class="table" ui-grid-edit ui-grid-row-edit></div>
            <div class="row">
                <div class="col-2-3">
                    <ul nf-if="validationMessages && validationMessages.length > 0" class="push">
                        <li ng-repeat="message in validationMessages">
                            <span translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.MAX_QTY_VALIDATION"
                                translate-values="message"></span>
                        </li>
                    </ul>

                </div>
                <div class="col-1-3">
                        <button type="button" class="push btn btn--default"
                            ng-click="removeAllItems()"
                            translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.BTN_NEW_ORDER_CLEAR"></button>
                </div>
            </div>
        </div>
        <div class="row form--inline">
            <div class="well col-1-2 push">
                <div class="row">
                    <div class="push col-2-3 form__field">
                        <label translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_SUBTOTAL"></label>
                        <input type="text" value="-" readonly ng-model="subTotal">
                    </div>
                </div>
                <div class="row">
                    <div class="push col-2-3 form__field">
                        <label translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_TAX"></label>
                        <input type="text" value="-"readonly readonly ng-model="tax">
                    </div>
                </div>
                <div class="row">
                    <div class="push col-2-3 form__field">
                        <label class="text--bold text--large" translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_TOTAL"></label>
                        <input type="text" value="-" readonly ng-model="total">
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <button type="button" class="push btn btn--default"
                            translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.BTN_NEW_ORDER_SUBMIT" ng-disabled="submitDisable"></button>
                    </div>
                </div>
            </div>
        </div>

