
<div supplies-accessory-order></div>
<h2 class="vertical-space--none" translate="ORDER_MGT.ORDERS_FOR_DEVICE"></h2>

<hr />
<span class="text--thick" translate="ORDER_MGT.ORDER_SEARCH"></span>
<div class="row l-pad-bottom">
    <div class="col-lg-2-3 col-md-1-1">
        <div grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef"></div>
    </div>
</div>
<div ui-grid="gridOptions" class="table" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ></div>
<div pagination grid="{{gridOptions}}"></div>

