
<div open-sr configure="configure"></div>

<h2 class="vertical-space--none" ng-show="pagination.totalItems() !== -1 && pagination.totalItems() !== undefined" translate="REQUEST_MGMT.REQUESTS_FOR_DEVICE" translate-values="{total: pagination.totalItems()}"></h2>

<hr/>

<p ng-show="gridOptions.data && gridOptions.data.length > 0" translate="DEVICE_MGT.LOOKING_FOR_A_REQUEST" class="vertical-space--none"></p>
<div ng-show="gridOptions.data && gridOptions.data.length > 0" grid-filter options="filterOptions" params="optionParams" ng-show="filterOptions.length > 1"></div>
<div ng-show="gridOptions.data && gridOptions.data.length > 0" grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef"></div>

<div ng-show="gridOptions.data.length > 0" ui-grid="gridOptions" class="table" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ></div>
<span ng-if="!gridOptions.data || gridOptions.data.length === 0" translate="LABEL.ZERO_RECORDS"></span>
<div pagination grid="{{gridOptions}}"></div>
