<h2 class="vertical-space--none" ng-show="pagination.totalItems() !== -1 && pagination.totalItems() !== undefined" translate="REQUEST_MGMT.REQUESTS_FOR_DEVICE" translate-values="{total: pagination.totalItems()}"></h2>

<hr/>

<div style="display:none;">
    <span class="text--thick" translate="REQUEST_MGMT.REQUEST_SEARCH"></span>
    <form class="form clearfix" data-form="">
        <div class="pull" selectric options="requestColumns" value="id" label="name" placeholder="{{'LABEL.SELECT' | translate}}"></div>
        <div class="form__field pull" style="border-radius: 0;">
            <input type="text" name="search" id="search" placeholder="Search">
        </div>
        <button class="btn btn--secondary" translate="LABEL.SEARCH" ng-click="search()" ></button>
    </form>
</div>

<div ng-if="gridOptions.data.length > 0" ui-grid="gridOptions" class="table" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ></div>
<span ng-if="!gridOptions.data || gridOptions.data.length === 0" translate="LABEL.ZERO_RECORDS"></span>
<div pagination grid="{{gridOptions}}"></div>
