<div class="page-header">
    <h1 translate="DEVICE_MGT.MANAGE_DEVICES"></h1>
    <p translate="MESSAGE.LIPSUM"></p>
    <div class="col-1 btns">
            <button type="button" class="btn btn--default" href="" ng-click="goToCreate()" translate="DEVICE_MGT.ADD"
                ng-if="addDevice"></button>
            <button type="button" class="btn btn--default" href="" translate="DEVICE_MGT.IMPORT"
                ng-if="addDevice"></button>
            <button type="button" class="btn btn--default" href="" translate="DEVICE_MGT.ORDER_NEW"
                ng-if="orderDevice"></button>
            <button type="button" class="btn btn--default" href="" translate="DEVICE_MGT.MANAGE_PAGE_COUNTS"
                ng-if="pageCountAccess"></button>
    </div>
</div>
<div class="page-tabs" device-listing-tabs></div>




