<div class="page-header">
    <h1 translate="DEVICE_MGT.MANAGE_DEVICES"></h1>
    <p translate="MESSAGE.LIPSUM"></p>
    <div class="col-1 btns">
            <button type="button" class="btn btn--default" ng-click="goToOrderSupplyCatalog()" translate="DEVICE_MAN.MANAGE_DEVICES.BTN_ORDER_SUPPLIES_CATALOG"
                ng-if="orderSuppliesCatalog"></button>
            <button type="button" class="btn btn--default" ng-click="goToOrderDevice()" translate="DEVICE_MAN.MANAGE_DEVICES.BTN_ORDER_DEVICE"
                ng-if="orderHardware" ></button>
            <button type="button" class="btn btn--default" ng-click="goToCreate()" translate="DEVICE_MAN.MANAGE_DEVICES.BTN_ADD_DEVICE"
                ng-if="addDevice"></button>
            <button type="button" class="btn btn--default" ng-click="goToPageCount()" translate="DEVICE_MAN.MANAGE_DEVICES.BTN_MANAGE_PAGE_COUNTS"
                ng-if="pageCountAccess"></button>
    </div>
    <div queue-alert></div>
</div>
<div class="page-tabs" device-listing-tabs></div>




