<!doctype html>
<html lang="en">
  <head>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Customer Portal &#8734;.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//assets.adobedtm.com/c023da7a72e76c498221860a37f45d43f896e745/satelliteLib-cce12fbda7fe3705bdce1b4731b9a941854f5761-staging.js"></script>



    <link rel="stylesheet" href="/css/v-button.min.css" />
    <link rel="stylesheet" href="/etc/lxk-framework/css/lxk-framework.min.css" />
    <link rel="stylesheet" href="/css/pagination.css" />
    <link rel="stylesheet" href="/css/angular-ui-grid-lxk-framework.css" />
    <link rel="stylesheet" href="//www.lexmark.com/common/common-mce/styles/css/utilities.css" />
    <link rel="stylesheet" href="/css/rome.css" />
    <link rel="stylesheet" href="/css/ng-tags-input.css" />
    <link rel="stylesheet" href="/css/mps.app.css" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/hmac-sha256.js"></script>
    <script src="//crypto-js.googlecode.com/svn/tags/3.0.2/build/components/enc-base64-min.js"></script>

    <script src="//www.lexmark.com/common/lxk-framework/js/libs/require.js"></script>
   <script>
        requirejs.config({
            baseUrl: '/',
            deps: [
                'lxk.fef',
                'mps.libs',
                'rome',
                'mps.app'
            ],
            paths: {
                'lxk.fef': 'etc/lxk-framework/js/lxk-framework.min',
                'mps.libs': 'mps.libs',
                'rome': 'rome',
                'mps.app': 'mps.app'
            },
            map: {
                '*': {
                    'jquery': 'jquery-private',
                    'stable': 'modules'
                },
                'jquery-private': {'jquery': 'jquery'}
            },
            bundles: {
                'lxk.fef': [
                    'jquery',
                    'fef.jquery',
                    'jquery-private',
                    'throttle-debounce',
                    'modernizr',
                    'variables',
                    'modules/alerts',
                    'modules/banner',
                    'modules/breadcrumb',
                    'modules/card',
                    'modules/carousel',
                    'modules/custom-input',
                    'modules/dropdown',
                    'modules/form-selectbox',
                    'modules/form',
                    'modules/griddy',
                    'modules/media-queries',
                    'modules/modal',
                    'modules/modalmanager',
                    'modules/quote',
                    'modules/rail-nav',
                    'modules/responsive-images',
                    'modules/responsive-tables',
                    'modules/set',
                    'modules/sifter',
                    'modules/slide-in-panel'
                ]
            }
        });
    </script>
    <script>
    require(['mps.libs', 'mps.app'], function(){
      angular.element(document).ready(function(){
        angular.bootstrap(document, ['mps'],{
           // strictDi: true
        });
      });
    });
    </script>
    <script type="text/javascript">
      window.browser_languages = ["en-US","en"];
      window.config = {"idp":{"serviceUrl":"https://idp-staging.psft.co","clientId":"mps-portal"},"portal":{"serviceUrl":"https://api.venus-dev.lexmark.com/mps/","adminUrl":"https://mps-porta-mpsporta-44by8x3otx5s-1327508801.us-east-1.elb.amazonaws.com/mps-portal/","lbsUrl":"https://venus-beta-lbs.lexmark.com/group/lbsportal/fleet-management"}};
    </script>
  </head>
  <body style="display:none">
    <div class="alert alert--info" data-js="alert" data-static="true" data-basic="true" ng-if="impersonate">
      <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
      <div class="alert__body"><span translate="USER_ADMIN.IMPERSONATE.IMPERSONATE" translate-values="{'user': idpUser.custom_attributes.display_name}"></span>
        <a href="" ng-click="removeImpersonate()" translate="USER_ADMIN.IMPERSONATE.EXIT_IMPERSONATION"></a>
      </div>
    </div>
    <div class="theme--dark">
    <a id="top" name="top"></a>
    <header class="site-header">

    <h1 class="top-logo" itemtype="http://schema.org/Organization">

      <a itemprop="url" tabindex="-1" title="Lexmark MPS home page" href="/">
        <img itemprop="logo" alt"Lexmark" src="/etc/resources/img/LexmarkLogo_RGB_Reversed_200.png" />
      </a>
      <span class="screen-reader" itemprop="name">Lexmark</span>
    </h1>
    <div class="title">
      <h1 class="text--light" translate="{{sectionTitle}}"></h1>
    </div>
<!-- <Nav Button> -->
      <a href="#mobileNav" data-target="#mobileNav" class="nav-btn pull l-hidden--gt-tablet">
        <span class="icon icon--lxk-ui icon--menu text--h2"></span>
        <span class="text--h3">Menu</span>
      </a>
<!-- </Nav Button> -->

<!-- <User Info> -->
      <div class="user push">
        <div class="user__img pull">
          <div class="user__notify pull l-hidden--gt-tablet"><a class="badge badge--important" href="#notifications">1</a></div>
          <a href="#UserImg"><img src="{{idpUser.avatar_url}}" alt="User Name Profile Image" height="50px" width="50px" /></a>
        </div>
        <div class="user__info pull text--small l-visible--gt-tablet">
          <a class="user__name" href="#UserName">{{idpUser.custom_attributes.display_name}}</a><br />
          <a class="user__name" href="#" ng-click="logout()">Log out</a>
        </div>
      </div>
<!-- </User Info> -->
    </header>

    <aside left-nav class="site-nav pull l-visible--gt-tablet"></aside>
    <div id="mobileNav" class="slide-in-panel" data-js="slideInPanel" data-breakpoint="tablet">
      <aside left-nav></aside>
    </div>

    <div class="site-wrapper">
      <div class="site-content">
        <div ng-view autoscroll="true"></div>
      </div>

      <footer class="site-footer">
        <a class="top-btn l-hidden--gt-tablet" href="#top" title="Scroll to top">Back to top</a>
        <div class="util-nav pull text--small">
          <ul footer-nav></ul>
        </div>
        <div class="trademark push">
          <div class="logo"><img src="/etc/resources/img/square-logo-only.png" alt="Lexmark Logo" /></div>
          <div class="copyright text--tiny">
            <strong>Lexmark International, Inc.</strong> </br>
            &copy;<span ng-bind="currentYear"></span> All rights reserved.
          </div>
        </div>
      </footer>
    </div>
    <script type="text/javascript">_satellite.pageBottom();</script>
    </div>
  </body>
</html>
