<div class="form__field form__field--required vertical-space--thick">
    <input name="id" type="hidden" ng-model="address.id"/>
    <input name="accountId" type="hidden" ng-model="address.accountId"/>
    <label translate="ADDRESS_MAN.COMMON.TXT_ADDRESS_NAME"></label>
     <input name="name" type="text" ng-model="address.name" value="" class="" required />
</div>
<div class="form__field vertical-space--thick" >
    <label class="question text--large" translate="ADDRESS_MAN.COMMON.TXT_STOREFRONT_ADDRESS_QUERY"></label>
     <div class="form__field form__field--no-margin">
        <input type="radio" id="store-front-question-no" name="store-front-question"
        ng-model="address.storeFrontQuestion" ng-value="false" />
        <label for="store-front-question-no"><span></span>
            {{'ADDRESS_MAN.COMMON.RAD_NO' | translate }}</label>
    </div>
     <div class="form__field form__field--no-margin">
        <input type="radio" id="store-front-question-yes" name="store-front-question"
        ng-model="address.storeFrontQuestion" ng-value="true" /><label
        for="store-front-question-yes"><span></span>
        {{ 'ADDRESS_MAN.COMMON.RAD_YES' | translate }}</span></label>
    </div>
</div>
<div ng-show="address.storeFrontQuestion === true" class="well">
    <div class="form__field" >
        <label translate="ADDRESS.STORE_NAME"></label>
        <input name="storeFrontName" type="text" ng-model="address.storeFrontName" value="" class="" />
    </div>
    <div class="form__field">
        <input id ="sameAddress" name="sameAddress" type="checkbox" ng-model="storeFrontNameCheck"
         ng-value="true" ng-click="setStoreFrontName()"/> <label for="sameAddress"><span></span>
    {{'ADDRESS_SERVICE_REQUEST.SAME_ADDRESS_QUESTION' | translate }}<label>
    </div>
</div>

<div ng-show="!needToVerify">
    <h4 translate="ADDRESS_MAN.COMMON.TXT_ADDRESS_DETAILS"></h4>
    
    <div country="address.country" code="address.countryIsoCode" state="address.state" country-select></div>

    <div class="form__field form__field--required">
        <label translate="ADDRESS_MAN.COMMON.TXT_ADDRESS_1"></label>
        <input name="addressLine1" type="text" ng-model="address.addressLine1" required/>
    </div>
    <div class="form__field">
        <label translate="ADDRESS_MAN.COMMON.TXT_ADDRESS_2"></label>
        <input name="addressLine2" type="text" ng-model="address.addressLine2" />
    </div>
    <div class="form__field form__field--required">
        <label translate="ADDRESS_MAN.COMMON.TXT_CITY"></label>
        <input name="city" type="text" ng-model="address.city" required />
    </div>
    <div ng-show="address.country.toLowerCase() === 'brazil'" class="form__field form__field--required">
        <label translate="ADDRESS.HOUSE_NUMBER"></label>
        <input name="houseNumber" type="text" ng-model="address.houseNumber" ng-required="address.countryIsoCode === 'BR'" />
    </div>

    <div state-code="address.state" state-select></div>

    <div ng-hide="address.country.toLowerCase() === 'brazil'" class="row">
        <div class="col-md-1-3">
            <div class="form__field form__field--required">
                <label translate="ADDRESS_MAN.COMMON.TXT_ZIP_CODE"></label>
                <input type="text" name="postalCode" ng-model="address.postalCode" value="" class="" ng-required="address.countryIsoCode !== 'BR'" />
            </div>
        </div>
    </div>
</div>

<div ng-show="needToVerify">
    <address-bod></address-bod>
</div>
