<h4 translate="ADDRESS_MAN.COMMON.TXT_ADDRESS_DETAILS" ng-if="!contactUpdate"></h4>
<div class="alert alert--info">
    <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
    <div class="alert__body">
        <span translate="ADDRESS_MAN.COMMON.TXT_ADDRESS_NOT_RECOGNIZED"></span>
        <span ng-if="bodsError">{{bodsErrorKey | translate }}</span>
    </div>
</div>
<div class="row">
    <div class="col-1-2 floatL l-alley-after" ng-if="!bodsError">
        <p class="text--bold vertical-space--thin" translate="ADDRESS_MAN.COMMON.TXT_RECOMMENDED_ADDRESS"></p>
        <div class="well well--no-shadow">
            <div class="form__field form__field--no-margin">
                <input type="radio" 
                    id="accepted-entered-address-comparison-address"
                    name="verify-question"
                    ng-model="acceptedEnteredAddress"
                    value="comparisonAddress" 
                    data-js="customInput"
                    ng-click="setAcceptedAddress()"/>
                    <label for="accepted-entered-address-comparison-address">
                        <span></span>
                        {{'ADDRESS_MAN.COMMON.RAD_USE_THIS_ADDRESS' | translate }}
                    </label>
            </div>

            <div ng-bind="comparisonAddress.addressLine1"></div>
            <div>
                <span ng-bind="comparisonAddress.city"></span>,
                <span ng-bind="comparisonAddress.state"></span>
                <span ng-bind="comparisonAddress.postalCode"></span>
            </div>
            <div ng-bind="comparisonAddress.country"></div>

            <div class="l-pad-top">
                
            </div>
        </div>
    </div>
    <div class="col-1-2 floatL">
        <p class="text--bold vertical-space--thin" translate="ADDRESS_MAN.COMMON.TXT_YOU_ENTERED"></p>
        <div class="well well--no-shadow">
            <div class="form__field form__field--no-margin">
                <input type="radio" 
                    id="accepted-entered-address-entered-address"
                    name="verify-question"
                    ng-model="acceptedEnteredAddress"
                    value="enteredAddress" 
                    data-js="customInput"
                    ng-click="setAcceptedAddress()"/>
                    <label for="accepted-entered-address-entered-address">
                        <span></span>
                        {{'ADDRESS_MAN.COMMON.RAD_USE_THIS_ADDRESS' | translate }}
                    </label>
            </div>

            <div ng-bind="enteredAddress.addressLine1"></div>
            <div ng-bind="enteredAddress.addressLine2"></div>
            <div>
                <span ng-bind="enteredAddress.city"></span>,
                <span ng-bind="enteredAddress.state"></span>
                <span ng-bind="enteredAddress.postalCode"></span>
            </div>
            <div ng-bind="enteredAddress.country"></div>
            <div class="l-pad-top">
                <a translate="ADDRESS_MAN.COMMON.CTRL_UPDATE_ADDRESS" ng-click="editAddress('enteredAddress')" href=""></a>
            </div>
        </div>
    </div>

</div>
<div class="col-1 vertical-space--thick">
    <a translate="ADDRESS_MAN.COMMON.CTRL_RESET_ADDRESS"  href="" ng-click="resetAddress()"></a>
</div>
