<div class="form__field">
    <label translate="ADDRESS.BUILDING_NAME"></label>
    <input name="buildingName" type="text" ng-model="address.buildingName" value="" class="" />
</div>

<div class="form__field">
    <label translate="ADDRESS.FLOOR_NAME"></label>
    <input name="floorName" type="text" ng-model="address.floorName" value="" class="" />
</div>

<div class="form__field">
    <label translate="ADDRESS.SITE_NAME"></label>
    <input name="siteName" type="text" ng-model="address.siteName" value="" class="" />
</div>
