<div class="form__field form__field--required vertical-space--thick">
    <input name="id" type="hidden" ng-model="address.id"/>
    <input name="accountId" type="hidden" ng-model="address.accountId"/>
    <label translate="ADDRESS_MAN.COMMON.TXT_ADDRESS_NAME"></label>
     <input name="name" type="text" ng-model="address.name" value="" class="" required />
</div>
<div class="form__field vertical-space--thick" >
    <label class="question text--large" translate="ADDRESS_MAN.COMMON.TXT_STOREFRONT_ADDRESS_QUERY"></label>
     <div class="form__field form__field--radio">
        <input type="radio" id="store-front-question-no" name="store-front-question"
        ng-model="address.storeFrontQuestion" value="false" data-js="customInput" />
        <label for="store-front-question-no"><span></span>
            {{'ADDRESS_MAN.COMMON.RAD_NO' | translate }}</label>
    </div>
     <div class="form__field form__field--radio form__field--no-margin">
        <input type="radio" id="store-front-question-yes" name="store-front-question"
        ng-model="address.storeFrontQuestion" value="true" data-js="customInput"/><label
        for="store-front-question-yes"><span></span>
        {{ 'ADDRESS_MAN.COMMON.RAD_YES' | translate }}</span></label>
    </div>
</div>
<div ng-show="address.storeFrontQuestion === 'true'" class="well">
    <div class="form__field" >
        <label translate="ADDRESS.STORE_NAME"></label>
        <input name="storeFrontName" type="text" ng-model="address.storeFrontName" value="" class="" />
    </div>
    <div class="form__field form__field--checkbox">
        <input id ="sameAddress" name="sameAddress" type="checkbox" ng-model="address.storeFrontName"
        data-js="customInput" value="true" ng-click="setStoreFrontName()"/> <label for="sameAddress"><span></span>
    {{'ADDRESS_SERVICE_REQUEST.SAME_ADDRESS_QUESTION' | translate }}<label>
    </div>
</div>

<div ng-show="!needToVerify">
    <h4 translate="ADDRESS_MAN.COMMON.TXT_ADDRESS_DETAILS"></h4>
    <div class="form__field form__field--select form__field--required">
        <label translate="ADDRESS_MAN.COMMON.TXT_COUNTRY"></label>
         <label ng-bind="code"></label>
        <div selectric model="address.country" options="countryHAL.countries" value="code" label="name"
      placeholder="{{'LABEL.SELECT' | translate}}" required on-select="countrySelected(option)"></div>
    </div>
    <div class="form__field form__field--required">
        <label translate="ADDRESS_MAN.COMMON.TXT_ADDRESS_1"></label>
        <input name="addressLine1" type="text" ng-model="address.addressLine1" required/>
    </div>
    <div class="form__field">
        <label translate="ADDRESS_MAN.COMMON.TXT_ADDRESS_2"></label>
        <input name="addressLine2" type="text" ng-model="address.addressLine2" />
    </div>
    <div class="form__field form__field--required">
        <label translate="ADDRESS_MAN.COMMON.TXT_CITY"></label>
        <input name="city" type="text" ng-model="address.city" required />
    </div>
    <div ng-show="country.provinces.length > 0 || address.state" class="form__field form__field--select form__field--required">
        <label translate="ADDRESS_MAN.COMMON.TXT_STATE"></label>
        <label ng-bind="code"></label>
        <div selectric options="country.provinces" value="code" label="name" model="address.state" required
             placeholder="{{'LABEL.SELECT' | translate}}"></div>
    </div>
    <div class="row">
        <div class="col-md-1-3">
            <div class="form__field form__field--required">
                <label translate="ADDRESS_MAN.COMMON.TXT_ZIP_CODE"></label>
                <input type="text" name="postalCode" ng-model="address.postalCode" value="" class="" required />
            </div>
        </div>
    </div>
</div>

<div ng-show="needToVerify">
    <address-bod></address-bod>
</div>
