<fieldset>
<div class="row">
<div class="col-9-12">
    <legend translate="ADDRESS.INFO"></legend>
    <div class="form__field form__field--required">
        <label translate="ADDRESS.NAME "></label>
        <input name="addName" type="text" ng-model="address.addName" value="" class="" required />
    </div>

    <div class="form__field">    
        <label translate="ADDRESS_SERVICE_REQUEST.STORE_FRONT_QUESTION"></label>
        
         <div class="form__field form__field--radio form__field--no-margin">
            <input type="radio" id="store-front-question-no" name="store-front-question" ng-model="address.storeFrontQuestion" value="false" data-js="custom-input"/><label for="store-front-question-no"><span></span> {{'LABEL.NO' | translate }}</label>
        </div>
         <div class="form__field form__field--radio form__field--no-margin">
            <input type="radio" id="store-front-question-yes" name="store-front-question" ng-model="address.storeFrontQuestion" value="true" data-js="custom-input"/><label  for="store-front-question-yes"><span></span> {{ 'ADDRESS_SERVICE_REQUEST.STORE_FRONT_QUESTION_YES' | translate }}</span></label>
        </div>
    </div>


    <div class="form__field" ng-show="{{store-front-question}}">
        <label translate="ADDRESS.STORE_NAME"></label>
        <input name="storeName" type="text" ng-model="address.storeName" value="" class="" required />
    </div>

    <div class="form__field form__field--required">
        <label translate="ADDRESS.COUNTRY"></label>
        <select name="country" ng-model="address.country" required>
            <option value="">- select -</option>
            <option>United States</option>
        </select>
    </div>
    <div class="form__field form__field--required">
        <label translate="ADDRESS.LINE_1"></label>
        <input name="addrLine1" type="text" ng-model="address.addrLine1" />
    </div>
    <div class="form__field">
        <label translate="ADDRESS.LINE_2"></label>
        <input name="addrLine2" type="text" ng-model="address.addrLine2"  />
    </div>
</div>
<div class="col-3-12"></div>
</div>
 <div class="row">
    <div class="col-1-2">
        <div class="form__field form__field--required">
            <label translate="ADDRESS.CITY"></label>
            <input name="city" type="text" ng-model="address.city" required />
        </div>
    <select name="country" ng-model="address.country" required
            ng-options="country.name for country in countryHAL.countries track by country.code">
    </div>

<div class="l-alley col-1-2">
        <div class="form__field form__field--required">
            <label translate="ADDRESS.STATE"></label>
    <select name="state" ng-model="address.state" required
            ng-options="province.name for province in address.country.provinces track by province.code">
            </select>
        </div>
</div>
</div>
<div class="row">
<div class="col-9-12">
    <div class="form__field form__field--required">
        <label translate="ADDRESS.ZIP"></label>
        <input type="text" name="zipCode" ng-model="address.zipCode" value="" class="" required />
    </div>
</div>    
<div class="col-3-12"></div>

</div>
</fieldset>
