<div class="row row--alley-2">
    <div class="col-1">
        <h1 translate="ADDRESS.SERVICE_REQUEST.DELETE"></h1>
        <h2>Pets At Home / Pets At Home_MSA2010_MPS_UK</h2>
    </div>
    <div class="col-1-2">
        <h3 translate="ADDRESS.INFO"></h3>
        <dl class="row row--alley-2">
            <dt class="col-1-2">{{'ADDRESS.NAME' | translate}}:</dt>
            <dd class="col-1-2" ng-bind="address.addName"></dd>
            <dt class="col-1-2">{{'ADDRESS.STORE_NAME' | translate}}:</dt>
            <dd class="col-1-2" ng-bind="address.storeName"></dd>
            <dt class="col-1-2">{{'ADDRESS.LINE_1' | translate}}:</dt>
            <dd class="col-1-2" ng-bind="address.addrLine1"></dd>
            <dt class="col-1-2">{{'ADDRESS.LINE_2' | translate}}:</dt>
            <dd class="col-1-2" ng-bind="address.addrLine2"></dd>
            <dt class="col-1-2">{{'ADDRESS.COUNTRY' | translate}}:</dt>
            <dd class="col-1-2" ng-bind="address.country"></dd>
            <dt class="col-1-2">{{'ADDRESS.STATE_PROVINCE' | translate}}:</dt>
            <dd class="col-1-2" ng-bind="address.state"></dd>
            <dt class="col-1-2">{{'ADDRESS.CITY' | translate}}:</dt>
            <dd class="col-1-2" ng-bind="address.city"></dd>
            <dt class="col-1-2">{{'ADDRESS.COUNTY' | translate}}:</dt>
            <dd class="col-1-2" ng-bind="address.county"></dd>
            <dt class="col-1-2">{{'ADDRESS.DISTRICT' | translate}}:</dt>
            <dd class="col-1-2" ng-bind="address.district"></dd>
            <dt class="col-1-2">{{'ADDRESS.ZIP_POSTAL' | translate}}:</dt>
            <dd class="col-1-2" ng-bind="address.zipCode"></dd>
        </dl>
        <button class="btn btn--small" ng-click="cancel()" translate="ADDRESS.SERVICE_REQUEST.CHANGE"></button>
    </div>
    <div class="col-1-2">
        <h3 translate="ADDRESS.ADDITIONAL_INFO"></h3>
        <div class="well">
            <h4 translate="ADDRESS.CONTACT_INFO"></h4>
            <dl class="row row--alley-2">
                <dt class="col-1-2">{{'LABEL.NAME' | translate}}:</dt>
                <dd class="col-1-2" ng-bind="contact.name"></dd>
                <dt class="col-1-2">{{'LABEL.PHONE' | translate}}:</dt>
                <dd class="col-1-2" ng-bind="contact.phoneNumber"></dd>
                <dt class="col-1-2">{{'LABEL.EMAIL' | translate}}:</dt>
                <dd class="col-1-2" ng-bind="contact.emailAddress"></dd>
            </dl>
            <button class="btn btn--small" translate="ADDRESS.CONTACT_ADD"></button>
            <button class="btn btn--small" translate="ADDRESS.CONTACT_CHANGE"></button>
        </div>
        <form class="form" data-form="" name="additionalInfo" method="post"
              ng-submit="additionalInfo.$valid && continue()" enctype="mulitpart/form-data" novalidate>
            <fieldset>
                <div class="form__field">
                    <label translate="LABEL.CUSTOMER_REF_ID"></label>
                    <input type="text" ng-model="serviceRequest.customerReferenceId" value="" class="" />
                </div>
                <div class="form__field">
                    <label translate="LABEL.COST_CENTER"></label>
                    <input type="text" ng-model="serviceRequest.costCenter"  value="" class="" />
                </div>
                <div class="form__field">
                    <label translate="LABEL.DESC"></label>
                    <textarea ng-model="serviceRequest.addtnlDescription"></textarea>
                </div>
                <div class="form__field">
                    <label translate="LABEL.EFFECTIVE_DATE">R</label>
                    <textarea ng-model="serviceRequest.requestedEffectiveDate"></textarea>
                </div>
            </fieldset>
            <div class="col-1">
            <fieldset>
                <div class="form__field">
                    <label translate="LABEL.NOTES"></label>
                    <textarea></textarea>
                </div>

                <div class="form__field">
                    <label translate="LABEL.ATTACH_FILE"></label>
                    <input type="file"  />
                    <div class="form__field__helper-text" translate="MESSAGE.ATTACHMENT"
                         translate-values="{file_list: file_list}"></div>
                </div>
            </fieldset>
         </div>
        </form>
    </div>
    <div class="col-1">
        <button class="btn btn--secondary" ng-click="cancel()" translate="LABEL.CANCEL"></button>
        <button class="btn btn--primary" ng-click="requestDelete()" translate="LABEL.CONTINUE"></button>
    </div>
</div>
