<div class="row">
    <div class="col-1">
        <h1 translate="ADDRESS_SERVICE_REQUEST.CHANGE"></h1>
        <h2>Pets At Home / Pets At Home_MSA2010_MPS-UK</h2>
        <h3 translate="ADDRESS_SERVICE_REQUEST.DELETE_MULTI"></h3>
    </div>

    <form class="form" data-form="" name="newAddress" method="post"
          ng-submit="newAddress.$valid && continue()" enctype="multipart/form-data" novalidate>
        <div class="col-1-2 l-alley-after">
            <primary-request-contact></primary-request-contact>
        </div>

        <div class="col-1-2">
            <additional-request-info></additional-request-info>
        </div>

        <div class="col-1">
            <address-upload></address-upload>
        </div>

        <button name="back" class="col-1-3 btn btn--secondary" ng-click="back()"
                translate="LABEL.BACK"></button>
        <button name="cancel" class="col-1-3 btn btn--secondary" ng-click="cancel()"
                translate="LABEL.CANCEL"></button>
        <button name="submit" class="col-1-3 btn btn--primary" ng-click="save(true)" type="submit"
                translate="LABEL.SUBMIT"></button>
    </form>
</div>
