<div class="row">
    <div class="col-1">
        <div class="alert" data-js="alert" ng-hide='submitForm'>
            <span class="alert__close" data-js="alert-close" aria-hidden="true">×</span>
            <div class="alert__body">
                <span>
                    <strong>{{'MESSAGE_REQUEST_REVIEW' | translate}}</strong>
                </span>
            </div>
        </div>
        <div class="alert alert--success" data-js="alert" ng-show='submitForm && add_success'>
            <span class="alert__close" data-js="alert-close" aria-hidden="true">×</span>
            <div class="alert__body">
                <span>
                    <strong>{{'MESSAGE_REQUEST_SUCCESS' | translate:{refId : serviceRequest.customerReferenceId}}} Your request # {{serviceRequest.customerReferenceId}}</strong>
                </span>
            </div>
        </div>
        <div>
            <div class="alert alert--error" data-js="alert" ng-show='submitForm && !add_success'>
                <span class="alert__close" data-js="alert-close" aria-hidden="true">×</span>
                <div class="alert__body"><span>
                    <strong>{{'MESSAGE_REQUEST_FAILED' | translate}}</strong>
                </span></div>
            </div>
        </div>
    </div>

    <div class="col-1">
        <h1 translate="ADDRESS_SERVICE_REQUEST_TITLE"></h1>
        <h2>Pets At Home / Pets At Home_MSA2010_MPS-UK</h2>
        <h3 translate="ADDRESS_SERVICE_REQUEST_ADD_MULTI"></h3>
    </div>

    <div class="col-1">
        <read-address></read-address>
    </div>

    <button name="back" class="col-1-3 btn btn--secondary" ng-click="back()"
            translate="LABEL_BACK"></button>
    <!--
    <button name="cancel" class="col-1-3 btn" ng-click="goToUpdate(serviceRequest.customerReferenceId)">Edit</button>
    -->
    <button name="submit" class="col-1-3 btn btn--primary" ng-click="goToViewAll()" type="submit"
            translate="LABEL_CONTINUE"></button>
</div>
