<div class="page-header">
    <div class="col-lg-2-3 col-md-1-1">
        <h1 translate="{{translationPlaceHolder.h1}}"></h1>
        <p translate="{{translationPlaceHolder.paragraph}}"></p>
    </div>
</div>

<div class="page-content">

    <div class="row">
        <div alert-message></div>
        <div class="col-lg-2-3 col-md-1-1">
            <div read-address></div>
        </div>
        <div class="row">
            <div confirm-cancel title="SERVICE_REQUEST.TITLE_ABANDON_MODAL" body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
     cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL" confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
     return-path="/service_requests/addresses">
        </div>
        <div class="row">
            <div class="col-lg-2-3 col-md-1-1">
                <button name="cancel" class="col-1-3 btn btn--secondary"
              data-js="modalOpen" data-target="#cancel"
                    translate="{{translationPlaceHolder.cancel}}"></button>
                <button name="submit" class="col-1-3 btn btn--primary" ng-click="save()" type="submit"
                    translate="{{translationPlaceHolder.submit}}"></button>
            </div>
        </div>
    </div>

</div>
