<div class="row">
    <div class="col-2-3">
        <h1 translate="ADDRESS_SERVICE_REQUEST.ADDRESS_SUBMITTED"></h1>
        <div class="well">
            <p>
                 <span translate="SERVICE_REQUEST.SUBMISSION_TEXT" translate-values="{refId: serviceRequest.customerReferenceId, hours: serviceRequest.hours}"></span>
            </p>
            <p>
                <span translate="ADDRESS_SERVICE_REQUEST.WOULD_YOU_LIKE"></span> <a href="" ng-click="goToCreate()" translate="ADDRESS_SERVICE_REQUEST.ADD_ANOTHER_ADDRESS"></a>
            </p>
        </div>
        <h4 translate="ADDRESS_SERVICE_REQUEST.DETAILS_TITLE" translate-values="{refId: serviceRequest.customerReferenceId}"></h4>
        <hr/>
        <div class="row">
            <div class="col-1-3">
                <h3 translate="SERVICE_REQUEST.REQUEST_STATUS"></h3>
                <div class="row">
                    <div class="col-1-3">
                        <span translate="SERVICE_REQUEST.SUBMITED"></span>
                    </div>
                    <div class="col-2-3">
                        <span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1-3">
                        <span translate="SERVICE_REQUEST.IN_PROCESS"></span>
                    </div>
                    <div class="col-2-3">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-2-3">
                <h3 translate="SERVICE_REQUEST.CONTACT_INFORMATION"></h3>
                <div class="row--alley-1">
                    <div class="col-1-3">
                        <strong translate="SERVICE_REQUEST.REQUEST_CREATED_BY"></strong>
                    </div>
                    <div class="col-1-3">
                        <em translate="LABEL.NONE"></em>
                    </div>
                </div>
                <div class="row--alley-1">
                    <div class="col-1-3">
                         <strong translate="SERVICE_REQUEST.PRIMARY_CONTACT"></strong>
                    </div>
                    <div class="col-1-3">
                        <em translate="LABEL.NONE"></em>
                    </div>
                </div>
                <div class="row--alley-1">
                    <div class="col-1-3">
                        <strong translate="SERVICE_REQUEST.SECONDARY_CONTACT"></strong>
                    </div>
                    <div class="col-1-3">
                        <em translate="LABEL.NONE"></em>
                    </div>
                </div>
                <h3 translate="SERVICE_REQUEST.ADDITIONAL_REQUEST_DETAILS"></h3>
                <div class="row--alley-1">
                    <div class="col-1-3">
                        <strong translate="SERVICE_REQUEST.INTERNAL_REFENCE_ID"></strong>
                    </div>
                    <div class="col-1-3">
                        <em ng-hide="address.internalRefernceId" translate="LABEL.NONE"></em>
                        <span ng-bind="address.internalRefernceId"></span>
                    </div>
                </div>
                <div class="row--alley-1">
                    <div class="col-1-3">
                         <strong translate="LABEL.COMMENTS"></strong>
                    </div>
                    <div class="col-1-3">
                        <em ng-hide="address.comments" translate="LABEL.NONE"></em>
                        <span ng-bind="address.comments"></span>
                    </div>
                </div>
                <h3 translate="ADDRESS_SERVICE_REQUEST.ADDRESS_REQUESTED"></h3>
                <em ng-hide="address.addName"" translate="LABEL.NONE"></em>
                <div ng-bind="address.addName"></div>
                <div ng-bind="address.storeName" ng-show="address.storeName"></div>
                <div ng-bind="address.addrLine1"></div>
                <div ng-bind="address.addrLine2" ng-show="address.addrLine2"></div>
                <div>
                    <span ng-bind="address.city"></span><span ng-show="address.city">,</span> <span ng-bind="address.state.name"></span> <span ng-bind="address.zipCode"></span>
                </div>
                <div ng-bind="address.country.name"></div>
            </div>
    </div>
</div>

