<div sr-header></div>

<div class="page-content">
    <div class="col-lg-2-3 col-md-1-1">
        <form class="form" data-form="" name="updateAddress" ng-submit="updateAddress.$valid" novalidate>
            <div address-update-fields></div>
            
            <div confirm-cancel
                title="SERVICE_REQUEST.TITLE_ABANDON_MODAL"
                body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
                cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL"
                confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
                return-path="/service_requests/addresses"
            ></div>
            
            <hr/>

            <div sr-form-buttons></div>
        </form>
    </div>
</div>
