<div class="page-header">
    <div class="col-lg-2-3 col-md-1-1">
        <ul class="breadcrumb">
            <li><a href="/" translate="DASHBOARD.TITLE"></a> >&nbsp;</li>
            <li translate="ADDRESS.TITLE"></li>
        </ul>
        <h1 translate="ADDRESS.LIST_TITLE"></h1>
        <p><span translate="MESSAGE.LIPSUM"></span> <a href="/service_requests/learn_more"><span translate="DEVICE_SERVICE_REQUEST.LEARN_MORE"></span></a></p>
        <div class="col-1 btns">
            <button type="button" class="btn btn--default" href="" ng-click="goToCreate()" translate="ADDRESS_SERVICE_REQUEST.ADD" ng-if="addressAccess"></button>
            <button type="button" class="btn btn--default" ng-click="goToLbs()" translate="ADDRESS_SERVICE_REQUEST.ADD_NEW_MAP" ng-if="addressAccess" target="_blank"></button>
        </div>
        <div queue-alert></div>
    </div>
</div>

<div class="page-content">
    <div alert-message></div>

    <div class="clearfix">
        <div print-export-title title="ADDRESS.BOOK"></div>
    </div>
        <hr>
        <div grid-filter options="filterOptions" params="optionParams"></div>

             <div class="row l-pad-top">
                <div class="col-lg-2-3 col-md-1-1">
                    <p class="text--bold vertical-space--none" translate="ADDRESS.WHAT_ADDRESS"></p>
                </div>
            </div>

            <div class="row l-pad-bottom">
                <div class="col-lg-2-3 col-md-1-1">
                    <div grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef" total="pagination"></div>
                </div>

                <div class="col-1-8 l-alley-before-thick">
                    <div columnpicker></div>
                </div>
            </div>

            <div class="col-lg-2-3 col-md-1-1">
                <button type="button" class="btn btn--default" href="" ng-click="selectRow()" translate="ADDRESS_SERVICE_REQUEST.UPDATE" ng-disabled="!isSingleSelected()" ng-if="addressAccess"></button>
                <button type="button" class="btn btn--default" href="" ng-click="selectRow('delete')" translate="ADDRESS_SERVICE_REQUEST.DELETE" ng-disabled="!isSingleSelected()" ng-if="addressAccess"></button>
            </div>

    <div class="col-1">
        <div class="alert alert--info" ng-if="gridLoading === true">
            <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
                <div class="alert__body">
                     <span translate="GRID.LOADING"></span>
                </div>
        </div>

        <div class="alert alert--info" ng-if="gridLoading === false && !gridDataCnt">
            <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
                <div class="alert__body">
                     <span translate="GRID.EMPTY"></span>
                </div>
        </div>

        <div ng-if="gridLoading === false && gridDataCnt > 0">
            <div ui-grid="gridOptions" class="table" ui-grid-exporter 
                ui-grid-move-columns ui-grid-resize-columns ui-grid-selection>
            </div>

            <div pagination grid="{{gridOptions}}"></div>
        </div>
    </div>
</div>
