<div class="row row--alley-2">

    <div alert-message></div>

    <div class="col-1">
        <h1 translate="ADDRESS_SERVICE_REQUEST.TITLE"></h1>
        <h2 translate="ADDRESS.TITLE"></h2>
        <h3>Pets At Home / Pets At Home_MSA2010_MPS-UK</h3>
        <ul>
            <li><a href="" ng-click="goToCreate()" translate="ADDRESS_SERVICE_REQUEST.ADD"></a></li>
        </ul>
        <div ui-grid="gridOptions" class="table" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pagination></div>
    </div>
</div>
