<div ng-if="configure.device.information && !configure.updatingMultiple">
    <h2 translate="{{configure.device.information.translate.title}}"></h2>
    <a href="#" ng-click="goToServiceCreate()"
        ng-if="configure.device.information.translate.changeTxt"
        translate="{{configure.device.information.translate.changeTxt}}"></a>
    <div class="well well--no-shadow col-2-3">
        <a href="{{configure.device.information.linkMakeChanges}}"
            translate="{{configure.device.information.translate.linkMakeChangesTxt}}"
            ng-if="configure.device.information.translate.linkMakeChangesTxt"></a>
        <ul class="info-list">
            <li class="info-list__item" ng-if="formattedMoveDevice && configure.device.information.translate.move">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.move}}"></div>
                <div class="info-list__item-value" ng-bind="formattedMoveDevice"></div>
            </li>
            <li class="info-list__item" ng-if="device.serialNumber && configure.device.information.translate.serialNumber">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.serialNumber}}"></div>
                <div class="info-list__item-value" ng-bind="device.serialNumber"></div>
            </li>
            <li class="info-list__item" ng-if="device.partNumber && configure.device.information.translate.partNumber">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.partNumber}}"></div>
                <div class="info-list__item-value" ng-bind="device.partNumber"></div>
            </li>
            <li class="info-list__item" ng-if="device.productModel && configure.device.information.translate.product">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.product}}"></div>
                <div class="info-list__item-value" ng-bind="device.productModel"></div>
            </li>
            <li class="info-list__item" ng-if="device.ipAddress && configure.device.information.translate.ipAddress">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.ipAddress}}"></div>
                <div class="info-list__item-value" ng-bind="device.ipAddress"></div>
            </li>
            <li class="info-list__item" ng-if="device.hostName && configure.device.information.translate.hostName">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.hostName}}"></div>
                <div class="info-list__item-value" ng-bind="device.hostName"></div>
            </li>
            <li class="info-list__item" ng-if="device.costCenter && configure.device.information.translate.costCenter">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.costCenter}}"></div>
                <div class="info-list__item-value" ng-bind="device.costCenter"></div>
            </li>
            <li class="info-list__item" ng-if="device.assetTag && configure.device.information.translate.customerDeviceTag">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.customerDeviceTag}}"></div>
                <div class="info-list__item-value" ng-bind="device.assetTag"></div>
            </li>
            <li class="info-list__item" ng-if="device.chl  && device.chl.name && configure.device.information.translate.chl">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.chl}}"></div>
                <div class="info-list__item-value" ng-bind="device.chl.name"></div>
            </li>
            <li class="info-list__item" ng-if="device.customerDeviceTag && configure.device.information.translate.customerDeviceTag">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.customerDeviceTag}}"></div>
                <div class="info-list__item-value" ng-bind="device.customerDeviceTag"></div>
            </li>
            <li class="info-list__item" ng-if="formattedDeviceAddress && configure.device.information.translate.installAddress">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.installAddress}}"></div>
                <div class="info-list__item-value" ng-bind-html="formattedDeviceAddress"></div>
            </li>
            <li class="info-list__item" ng-if="formattedDeviceMoveAddress && configure.device.information.translate.moveAddress">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.moveAddress}}"></div>
                <div class="info-list__item-value" ng-bind-html="formattedDeviceMoveAddress"></div>
            </li>
            <li class="info-list__item" ng-if="formattedDeviceContact && configure.device.information.translate.contact">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.contact}}"></div>
                <div class="info-list__item-value" ng-bind-html="formattedDeviceContact"></div>
            </li>
        </ul>
        <div sr-device-removal></div> 
    </div>
</div>
<div ng-if="configure.device.information && configure.updatingMultiple">
    <table class="table table--condensed table--even table--responsive vertical-space--none">
        <thead>
            <tr>
                <th translate="DEVICE_MAN.MANAGE_DEVICE.TXT_SERIAL_NUMBER"></th>
                <th translate="DEVICE_MAN.MANAGE_DEVICE.TXT_PRODUCT_MODEL"></th>
                <th translate="NAVIGATION.LEFT_NAV.TXT_CONTACTS"></th>
                <th translate="REQUEST_MAN.COMMON.TXT_DEVICE_COST_CENTER"></th>
            </tr>
        </thead>
        <tbody>
             <tr ng-repeat="device in configure.updatingMultiple">
                <td ng-bind="device.serialNumber"></td>
                <td ng-bind="device.productModel"></td>
                <td ng-bind="device.productModel"></td>
                <td ng-bind="device.costCenter"></td>
             </tr>
        </tbody>
    </table>
</div>
