<div class="row" ng-if="configure.device.service">
    <div class="col-1">
        <h2 translate="{{configure.device.service.translate.title}}"></h2>
        <div class="row row--alley-2">
            <div class="col-2-3">
                <div class="well">
                    <dl class="row text--small">
                        <dt class="col-1-3 text--semi-bold" translate="{{configure.device.service.translate.description}}"></dt>
                        <dd class="col-2-3" ng-bind="sr.description"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
