<div class="row" ng-if="configure.device.removal">
    <div class="col-1">
        <h2 translate="{{configure.device.removal.translate.title}}"></h2>
        <div class="row row--alley-2">
            <div class="col-1-3">
                <div class="well">
                    <dl class="row text--small">
                        <dt class="col-2-3 text--semi-bold" translate="{{configure.device.removal.translate.pickup}}"></dt>
                        <dd class="col-1-3" ng-bind="formattedPickupDevice"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
