<div ng-if="configure.device.service">
    <h2 translate="{{configure.device.service.translate.title}}"></h2>

    <div class="well well--no-shadow col-1-3">
    	<a href="{{configure.device.service.linkMakeChanges}}"
            translate="{{configure.device.service.translate.linkMakeChangesTxt}}"
            ng-if="configure.device.service.translate.linkMakeChangesTxt">
        </a>
        <ul class="info-list">
            <li class="info-list__item">
                <div class="info-list__item-name" translate="{{configure.device.service.translate.description}}"></div>
                <div class="info-list__item-value" ng-bind="sr.description"></div>
            </li>
        </ul>
    </div>
</div>
