<div class="row" ng-if="configure.device.networkConfig">
    <div class="col-1">
        <h2 translate="{{configure.device.networkConfig.translate.title}}"></h2>
        <div class="row row--alley-2">
            <div class="col-1-3">
                <div class="well">
                    <dl class="row text--small">
                        <dt class="col-1-2 text--semi-bold"
                            translate="{{configure.device.networkConfig.translate.ipAddress}}"></dt>
                        <dd class="col-1-2" ng-bind="device.ipAddress"></dd>
                        <dt class="col-1-2 text--semi-bold"
                            translate="{{configure.device.networkConfig.translate.hostName}}"></dt>
                        <dd class="col-1-2" ng-bind="device.hostName"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
