<div ng-if="configure.device.contact">
    <h2 translate="{{configure.device.contact.translate.title}}"></h2>

    <div class="well well--no-shadow col-1-3">
        <ul class="info-list">
            <li class="info-list__item">
                <div class="info-list__item-name" translate="{{configure.device.contact.translate.title}}"></div>
                <div class="info-list__item-value" ng-bind-html="formattedDeviceContact"></div>
            </li>
        </ul>
        <a href="" translate="REQUEST_MAN.REQUEST_DEVICE_REGISTER.LNK_CHANGE_CONTACT" ng-click="goToContactPicker('DeviceAdd','updateDeviceContact',device)"></a>
    </div>
</div>
