<div ng-if="configure.device.information">
    <h2 translate="{{configure.device.information.translate.title}}"></h2>

    <div class="well">
        <ul class="info-list">
            <li class="info-list__item">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.serialNumber}}"></div>
                <div class="info-list__item-value" ng-bind="device.serialNumber"></div>
            </li>
            <li class="info-list__item">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.partNumber}}"></div>
                <div class="info-list__item-value" ng-bind="device.partNumber"></div>
            </li>
            <li class="info-list__item">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.ipAddress}}"></div>
                <div class="info-list__item-value" ng-bind="device.ipAddress"></div>
            </li>
            <li class="info-list__item">
                <div class="info-list__item-name" translate="{{configure.device.information.translate.installAddress}}"></div>
                <div class="info-list__item-value" ng-bind-html="formattedDeviceAddress"></div>
            </li>
        </ul>
    </div>
</div>
