<div ng-if="configure.device.networkConfig">
    <h2 translate="{{configure.device.networkConfig.translate.title}}"></h2>
                
    <div class="well">
        <ul class="info-list">
            <li class="info-list__item">
                <div class="info-list__item-name" translate="{{configure.device.networkConfig.translate.ipAddress}}"></div>
                <div class="info-list__item-value" ng-bind="device.ipAddress"></div>
            </li>
            <li class="info-list__item">
                <div class="info-list__item-name" translate="{{configure.device.networkConfig.translate.hostName}}"></div>
                <div class="info-list__item-value" ng-bind="device.hostName"></div>
            </li>
        </ul>
    </div>
</div>
