<div ng-if="configure.device.removal">
    <h2 translate="{{configure.device.removal.translate.title}}"></h2>
    
    <div class="well">
        <ul class="info-list">
            <li class="info-list__item">
                <div class="info-list__item-name" translate="{{configure.device.removal.translate.pickup}}"></div>
                <div class="info-list__item-value" ng-bind="formattedPickupDevice"></div>
            </li>

            <li class="info-list__item">
                <div class="info-list__item-name" translate="{{configure.device.removal.translate.pageCount}}"></div>
            </li>
            <li class="info-list__item">
                <div class="info-list__item-value" select-page-count module="device" readonly="true" 
                    source="{{configure.device.removal.source}}"></div>
            </li>
        </ul>
    </div>
</div>
