<div ng-if="configure.device.deviceBilling">
    <h2 translate="{{configure.device.deviceBilling.translate.title}}"></h2>
    
    <div class="well">
        <ul class="info-list">
            <li class="info-list__item">
                <div class="info-list__item-name" translate="{{configure.device.deviceBilling.translate.deviceCostCenter}}"></div>
                <div class="info-list__item-value" ng-bind="device.costCenter"></div>
            </li>
            <li class="info-list__item">
                <div class="info-list__item-name" translate="{{configure.device.deviceBilling.translate.customerDeviceTag}}"></div>
                <div class="info-list__item-value" ng-bind="device.assetTag"></div>
            </li>
        </ul>
    </div>
</div>
