<span ng-if="configure.serviceHistorySr">
<h4 translate="{{configure.serviceHistorySr.translate.title}}"></h4>
<div class="row">
    <div class="col-1-3">
        <span translate="{{configure.serviceHistorySr.translate.reference}}"></span>:
    </div>
    <div class="col-2-3">
        <span>{{configure.sr.customerReferenceId}}</span>
    </div>
</div>
<div class="row">
    <div class="col-1-3">
        <span translate="{{configure.serviceHistorySr.translate.problem}}"></span>:
    </div>
    <div class="col-2-3">
        <span>{{configure.sr.description}}</span>
    </div>
</div>
</span>
