<div sr-header></div>

<div class="page-content">
    <h2 translate="{{configure.receipt.translate.title}}" translate-values="{{configure.receipt.translate.titleValues}}"></h2>
    
    <!-- request status goes here -->

    <div request-contacts></div>

    <div ng-if="configure.detail">
        <h2 translate="{{configure.detail.translate.title}}"></h2>
        
        <div class="well">
            <ul class="info-list">
                <li class="info-list__item" ng-show="configure.detail.show.referenceId">
                    <div class="info-list__item-name" translate="{{configure.detail.translate.referenceId}}"></div>
                    <div class="info-list__item-value" ng-bind="formattedReferenceId"></div>
                </li>
                <li class="info-list__item" ng-show="configure.detail.show.costCenter">
                    <div class="info-list__item-name" translate="{{configure.detail.translate.costCenter}}"></div>
                    <div class="info-list__item-value" ng-bind="formattedCostCenter"></div>
                </li>
                <li class="info-list__item" ng-show="configure.detail.show.comments">
                    <div class="info-list__item-name" translate="{{configure.detail.translate.comments}}"></div>
                    <div class="info-list__item-value" ng-bind="formattedNotes"></div>
                </li>
                <li class="info-list__item" ng-show="configure.detail.show.attachements">
                    <div class="info-list__item-name" translate="{{configure.detail.translate.attachements}}"></div>
                    <div class="info-list__item-value" ng-bind=""></div>
                </li>
            </ul>
        </div>
    </div>

    <!-- additional request Details go here -->

    <div sr-device-information></div>
    <div sr-device-removal></div>
    <div sr-device-contact></div>
    <div sr-device-service-details></div>
</div>
