<h2 translate="{{configure.contact.translate.title}}"></h2>

<p translate="{{configure.contact.translate.requestedByTitle}}"></p>

<div class="well">
    <p ng-bind-html="requestedByContactFormatted"></p>
</div>

<p translate="{{configure.contact.translate.primaryTitle}}"></p>

<div class="well">
    <p ng-bind-html="formattedPrimaryContact"></p>
    
    <a ng-show="configure.contact.show.primaryAction"
        ng-click="goToContactPicker('updateRequestContact')"
        class="primary-contact-action"
        href=""
        translate="{{configure.contact.translate.changePrimary}}"
    ></a>
</div>
