<div sr-header></div>
<!-- Begin Custom Modules for Requests -->
<div class="row" ng-if="configure.device.removal">
    <div class="col-1">
        <h2 translate="{{configure.device.removal.translate.title}}"></h2>
        <div class="row row--alley-2">
            <div class="col-1-3">
                <div class="well">
                    <dl class="row text--small">
                        <dt class="col-2-3 text--semi-bold" translate="{{configure.device.removal.translate.pickup}}"></dt>
                        <dd class="col-1-3" ng-bind="formattedPickupDevice"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="configure.device.update">
    <div class="col-1">
        <h2 translate="{{configure.device.update.translate.title}}"></h2>
        <div class="row row--alley-2">
            <div class="col-1-2">
                <div class="well">
                    <dl class="row text--small">
                        <dt class="col-1-2 text--semi-bold"
                            translate="{{configure.device.update.translate.installAddress}}"></dt>
                        <dd class="col-1-2" ng-bind-html="formattedDeviceAddress"></dd>
                        <dt class="col-2-3 text--semi-bold" translate="{{configure.device.update.translate.move}}"></dt>
                        <dd class="col-1-3" ng-bind="formattedMoveDevice"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="configure.device.information">
    <div class="col-1">
        <h2 translate="{{configure.device.information.translate.title}}"></h2>
        <div class="row row--alley-2">
            <div class="col-1-3">
                <div class="well">
                    <dl class="row text--small">
                        <dt class="col-1-2 text--semi-bold"
                            translate="{{configure.device.information.translate.serialNumber}}"></dt>
                        <dd class="col-1-2" ng-bind="device.serialNumber"></dd>
                        <dt class="col-1-2 text--semi-bold"
                            translate="{{configure.device.information.translate.partNumber}}"></dt>
                        <dd class="col-1-2" ng-bind="device.partNumber"></dd>
                        <dt class="col-1-2 text--semi-bold"
                            translate="{{configure.device.information.translate.ipAddress}}"></dt>
                        <dd class="col-1-2" ng-bind="device.ipAddress"></dd>
                        <dt class="col-1-2 text--semi-bold"
                            translate="{{configure.device.information.translate.installAddress}}"></dt>
                        <dd class="col-1-2" ng-bind-html="formattedDeviceAddress"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="configure.device.contact">
    <div class="col-1">
        <h2 translate="{{configure.device.contact.translate.title}}"></h2>
        <div class="row row--alley-2">
            <div class="col-1-3">
                <div class="well">
                     <dt class="col-1-2 text--semi-bold"
                            translate="{{configure.device.contact.translate.title}}"></dt>
                        <dd class="col-1-2" ng-bind-html="formattedDeviceContact"></dd>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="master">
    <div class="col-1">
        <h2>ipsum dolor</h2>
        <div class="row row--alley-2">
            <div class="col-1-3">
                <div class="well"><!-- template --></div>
            </div>
        </div>
    </div>
</div>
<!-- End Custom Modules for Requests -->
<div class="row">
    <div class="col-1">
        <h2 translate="{{configure.contact.translate.title}}"></h2>
        <div class="row row--alley-2">
            <div class="col-1-3">
                <p translate="{{configure.contact.translate.requestedByTitle}}"></p>
                <div class="well">
                    <p ng-bind-html="requestedByContactFormatted"></p>
                </div>
            </div>
            <div class="col-1-3">
                <p translate="{{configure.contact.translate.primaryTitle}}"></p>
                <div class="well">
                     <p ng-bind-html="formattedPrimaryContact"></p>
                    <a class="primary-contact-action" href="" translate="{{configure.contact.translate.changePrimary}}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<form class="form" data-form="" name="reviewDetail" novalidate>
<div class="row">
    <div class="col-2-3">
        <h2 translate="{{configure.detail.translate.title}}"></h2>
        <div class="form__field" ng-if="configure.detail.show.referenceId">
                <label translate="{{configure.detail.translate.referenceId}}"></label>
                <input name="internalReferenceId" type="text" class="" value="" />
            </div>

            <div class="form__field" ng-if="configure.detail.show.costCenter">
                <label translate="{{configure.detail.translate.costCenter}}"></label>
                <input name="requestCostCenter" type="text" class="" value="" />
            </div>

            <div class="form__field" ng-if="configure.detail.show.comments">
                <label translate="{{configure.detail.translate.comments}}"></label>
                <textarea name="comments" type="text" rows="8" cols="129" required></textarea>
            </div>
            <div class="form__field" ng-if="configure.detail.show.attachements">
                <label translate="{{configure.detail.translate.attachments}}"></label>
                <input name="attachments" type="file" multiple="multiple" />
                <div class="form__field__helper-text" translate="{{configure.detail.translate.attachmentMessage}}"
                translate-values="{file_list: configure.detail.translate.fileList}"></div>
            </div>
    </div>
</div>



<div class="row form-action">
        <div class="col-1">
            <button name="cancel" class="btn btn--secondary" data-js="modalOpen" data-target="#cancel"
            translate="{{configure.actions.translate.abandonRequest}}"></button>
            <button class="btn btn--primary" ng-click="goToSubmit();" translate="{{configure.actions.translate.submit}}"></button>
            <div confirm-cancel title="{{configure.modal.translate.abandonTitle}}"
                body="{{configure.modal.translate.abandonBody}}"
                cancel="{{configure.modal.translate.abandonCancel}}"
                confirm="{{configure.modal.translate.abandonConfirm}}"
                return-path="{{configure.modal.returnPath}}"></div>
        </div>
    </div>
</form>

