<div sr-header></div>

<!-- Begin Custom Modules for Requests -->

<div class="page-content">
    <div sr-device-update></div>
    <div sr-device-removal></div>
    <div sr-device-network-config></div>
    <div sr-device-billing></div>
    <div sr-device-contact></div>
    <div sr-device-information></div>
    <div sr-device-page-counts></div>
    <div sr-device-service-details></div>
    <div sr-contact></div>
    <div sr-address></div>

    <div order-content editable="{{editable}}"  submit-action="submit" datasource="orderItems"></div>

    <div ng-if="master">
        <h2>ipsum dolor</h2>

        <div class="well"><!-- template --></div>
    </div>

    <!-- End Custom Modules for Requests -->

<div request-contacts></div>
<div class="col-lg-2-3 col-md-1-1">
    <form class="form" data-form="" name="reviewDetail" novalidate>
        <h2 translate="{{configure.detail.translate.title}}"></h2>

        <div class="form__field" ng-if="configure.detail.show.referenceId">
            <label translate="{{configure.detail.translate.referenceId}}"></label>
            <input name="internalReferenceId" type="text" class="" value="" ng-model="sr.customerReferenceId" />
        </div>

        <div class="form__field" ng-if="configure.detail.show.costCenter">
            <label translate="{{configure.detail.translate.costCenter}}"></label>
            <input name="requestCostCenter" type="text" class="" value="" ng-model="sr.costCenter" />
        </div>

        <div class="form__field" ng-if="configure.detail.show.comments">
            <label translate="{{configure.detail.translate.comments}}"></label>
            <textarea name="comments" type="text" rows="8" cols="129" ng-model="sr.notes"></textarea>
        </div>

        <div class="form__field" ng-if="configure.detail.show.attachements">
            <label translate="{{configure.detail.translate.attachments}}"></label>
            <input name="attachments" type="file" multiple="multiple" />
            <div class="form__field__helper-text"
                translate="{{configure.detail.translate.attachmentMessage}}"
                translate-values="{file_list: configure.detail.translate.fileList}"
            ></div>
        </div>

        <div sr-form-buttons></div>
    </form>
</div>
