<div class="page-header">
    <div class="col-1">
        <ul class="breadcrumb">
            <li><a href="/" translate="DASHBOARD.TITLE"></a> >&nbsp;</li>
            <li translate="REQUEST_MAN.MANAGE_REQUESTS.TXT_MANAGE_REQUESTS"></li>
        </ul>
    </div>
    
    <h1 translate="REQUEST_MAN.MANAGE_REQUESTS.TXT_MANAGE_REQUESTS"></h1>
    <p>{{'REQUEST_MAN.MANAGE_REQUESTS.TXT_MANAGE_REQUESTS_PAR' | translate}} <a href="/service_requests/learn_more">{{'REQUEST_MAN.COMMON.LNK_LEARN_MORE' | translate}}</a></p>

    <div  sr-action-buttons></div>

    <div queue-alert></div>
</div>
<div  class = "page-tabs" service-request-tabs></div>
