<div class="page-header">
    <h1 translate="REQUEST_MGMT.NEW_REQUEST"></h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. <a href="/service_requests/learn_more">Learn more about requests</a></p>
</div>

<div class="page-content">
    <h3 translate="REQUEST_MGMT.WHAT_WOULD_YOU_LIKE_TO_DO"></h3>

    <hr />

    <h5 translate="REQUEST_MGMT.MANAGE_A_DEVICE"></h5>

    <a href="#" translate="REQUEST_MGMT.REQUEST_SERVICE"></a>

    <h5 translate="REQUEST_MGMT.MANAGE_A_CONTACT"></h5>

    <h5 translate="REQUEST_MGMT.MANAGE_AN_ADDRESS"></h5>

    <h3 translate="REQUEST_MGMT.HAVE_A_QUESTION"></h3>

    <hr />
</div>
