<div class="row">
    <div class="col-1">
        <h1 translate="REQUEST_MGMT.NEW_REQUEST"></h1>
    </div>
</div>
<div class="row">
    <div class="col-2-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
        sit amet lacus accumsan et viverra justo commodo. <a href="">Learn more about requests</a></p>
    </div>
    <div class="col-1">
        <button class="btn btn--default" ng-click="newServiceRequest()" translate="REQUEST_MGMT.CREATE_NEW_SERVICE_REQUEST"></button>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <h3>What would you like to do?</h3>
        <hr />
    </div>
</div>
<div class="row">
        <div class="col-1-3">
            <h5>Manage a device</h5>
        </div>
        <div class="col-1-3">
            <h5>Manage a contact</h5>
         </div>
        <div class="col-1-3">
            <h5>Manage an address</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <h3>Have a question? Send us an inquiry!</h3>
        <hr />
    </div>
</div>

