 
 <div class="alert alert--info" ng-if="gridLoading === true">
            <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
                <div class="alert__body">
                     <span translate="GRID.LOADING"></span>
                </div>
        </div>

        <div class="alert alert--info" ng-if="gridLoading === false && shipments.length === 0">
            <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
                <div class="alert__body">
                     <span translate="GRID.EMPTY"></span>
                </div>
        </div> 
 
 <div ng-if="shipments.length > 0" ng-repeat = "shipment in shipments">
	<span>Shipment</span>
	<span>{{$index}}</span>
	<span>{{shipment.status}}</span>
	<h2 class="vertical-space--none">
			Delivered {{shipment.deliveredDate}} via {{shipment.company}} | 
			<a href="{{shipment.trackingUrl}}" target="_blank">{{shipment.trackingNumber}}</a>
	</h2>
	<div>
		<a ng-click="$parent.showHideDetails(shipment)" href="#">{{shipment.showHideMessage}}</a>
		<div ng-show="shipment.showDetails">
		
			<ul class="info-list text--small">
				<li class="info-list__item">
				
				<div class="info-list__item-name">Shipment date:</div>
        		<div class="info-list__item-value">{{shipment.shipmentDate}}</div>
        		
				</li> 
				<li class="info-list__item">
				
				<div class="info-list__item-name">Delivery date:</div>
        		<div class="info-list__item-value">{{shipment.deliveryDate}}</div>
				</li> 
				<li class="info-list__item">
				
				
				<div class="info-list__item-name">Carrier:</div>
        		<div class="info-list__item-value">{{shipment.carrier}}</div>
        		
				</li> 
				
				<li class="info-list__item">
				
				<div class="info-list__item-name">Tracking Number:</div>
        		<div class="info-list__item-value">{{shipment.tracking}}</div>
        		
				</li> 
				<li class="info-list__item">
				
				<div class="info-list__item-name">Shipped To:</div>
        		<div class="info-list__item-value" ng-bind-html="shipment.formattedShipToAddress"></div>
				</li> 
			</ul>
		</div>
	</div>
	<h3 class="text--n9 vertical-space--thin">Shipment Contents ({{shipment.contents.length}})</h3>
	 <div shipment-content items="shipment.contents"></div>
	
	
</div> 