 

 <div class="row groupingTable" ng-repeat = "cancelledItem in cancelledItems">
 <div>
 		<div class="firstCol col-sm-1 col-lg-1-6 floatL">
			<span translate="REQUEST_MAN.MANAGE_REQUESTS.TXT_CANCELLATION"></span><br/>			
		</div>
		<div class="secondCol col-sm-1 col-lg-5-6 floatL">
			<h4 class="vertical-space--none" translate="REQUEST_MAN.MANAGE_REQUESTS.TXT_ITEMS_CANCELLED_IN_ORDER"
				translate-values="{total:{{cancelledItems.length}}}"></h4>
			<div class="text--n9 vertical-space--thin" translate="REQUEST_MAN.MANAGE_REQUESTS.TXT_CANCELLED_ITEMS_TOTAL" 
				translate-values="{count:{{cancelledItems.length}}}"></div>
			<div shipment-content items="cancelledItem.shipmentParts"></div>
		</div>
 </div>
 </div>
 
 <div class="row groupingTable" ng-if="pending.pendCount > 0">
 <div>
 		<div class="firstCol col-sm-1 col-lg-1-6 floatL">
			<span class="col-lg-1 col-sm-auto col-xs-auto  col-md-auto" 
			translate="REQUEST_MAN.MANAGE_REQUESTS.TXT_SHIPMENTS_S"></span>
			<span translate="REQUEST_MAN.COMMON.TXT_REQUEST_PENDING"></span><br/>			
		</div>
		<div class="secondCol col-sm-1 col-lg-5-6 floatL">
			<h4 class="vertical-space--none" translate="REQUEST_MAN.MANAGE_REQUESTS.TXT_PENDING_SHIPMENT_COUNT"
				translate-values="{count:{{pending.pendCount}}}">		
			</h4>
			
		</div>
 </div>
 </div>
  <div class="alert alert--info" ng-if="gridLoading === true">
            <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
                <div class="alert__body">
                     <span translate="GRID.LOADING"></span>
                </div>
        </div>

        <div class="alert alert--info" ng-if="gridLoading === false && (shipments.length === 0 || hasData === false)">
            <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
                <div class="alert__body">
                     <span translate="GRID.EMPTY"></span>
                </div>
        </div> 
 <div class="row groupingTable" ng-if="shipments.length > 0 && hasData" ng-repeat = "shipment in shipments">
 	<div ng-if = "shipment.shipmentParts.length > 0">
 		<div class="firstCol col-sm-1 col-lg-1-6 floatL">
			<span class="col-lg-1 col-sm-auto col-xs-auto col-md-auto" translate="REQUEST_MAN.MANAGE_REQUESTS.TXT_SHIPMENT"></span>
			<span class="col-lg-1 col-sm-auto col-xs-auto col-md-auto"><b>{{$index+1}}</b></span>
			<span>{{shipment.status}}</span>
		</div>
		<div class="secondCol col-sm-1 col-lg-5-6 floatL">
			
		<h4 class="vertical-space--none">
			{{DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_DELIVERED || translate}} {{shipment.deliveryDate}} via {{shipment.carrier}} | 
			<a href="{{shipment.trackingLink}}" target="_blank">{{shipment.trackingNumber}}</a>
		</h4>
		<div>
			<a ng-click="$parent.showHideDetails(shipment)" href="#">{{shipment.showHideMessage}}</a>
			<div ng-show="shipment.showDetails">
			
				<ul class="info-list text--small">
					<li class="info-list__item">
					
					<div class="info-list__item-name" translate="REQUEST_MAN.MANAGE_REQUESTS.TXT_SHIPMENT_DATE"></div>
	        		<div class="info-list__item-value">{{shipment.shipDate}}</div>
	        		
					</li> 
					<li class="info-list__item">
					
					<div class="info-list__item-name" translate="REQUEST_MAN.MANAGE_REQUESTS.TXT_DELIVERY_DATE"></div>
	        		<div class="info-list__item-value">{{shipment.deliveryDate}}</div>
					</li> 
					<li class="info-list__item">
					
					
					<div class="info-list__item-name" translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_CARRIER"></div>
	        		<div class="info-list__item-value">{{shipment.carrier}}</div>
	        		
					</li> 
					
					<li class="info-list__item">
					
					<div class="info-list__item-name" translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_ORDER_SHIPMENT"></div>
	        		<div class="info-list__item-value">{{shipment.trackingNumber}}</div>
	        		
					</li> 
					<li class="info-list__item">
					
					<div class="info-list__item-name" translate="DEVICE_MAN.MANAGE_DEVICE_SUPPLIES.TXT_SHIPPED_TO"></div>
	        		<div class="info-list__item-value" ng-bind-html="shipment.formattedShipToAddress"></div>
					</li> 
				</ul>
			</div>
		</div>
		<div class="text--n9 vertical-space--thin" translate="REQUEST_MAN.MANAGE_REQUESTS.TXT_SHIPMENT_CONTENTS" 
		translate-values="{count:{{shipment.shipmentParts.length}}}"></div>
		 <div shipment-content items="shipment.shipmentParts"></div>
		


		</div>
 	</div>	
</div> 
