<div class="btns">
    <button class="btn" ng-click="goToServiceCreate()" translate="REQUEST_MAN.COMMON.BTN_REQUEST_SERVICE"
        ng-if="createBreakFixAccess && (currentServiceRequestTab === 'serviceRequestsDeviceTab' || currentServiceRequestTab ==='serviceRequestsServiceTab')"></button>
     <button type="button" class="btn btn--default" href="" ng-click="goToAddressCreate()"
        translate="REQUEST_MAN.MANAGE_REQUESTS.BTN_ADD_ADDRESS"
        ng-if="addressAccess && currentServiceRequestTab === 'serviceRequestsAddressTab'"></button>
        <button type="button" class="btn btn--default" href="" ng-click="goToContactCreate()"
        translate="REQUEST_MAN.MANAGE_REQUESTS.BTN_ADD_CONTACT"
        ng-if="contactAccess && currentServiceRequestTab === 'serviceRequestsContactTab'"></button>
</div>
