<div class="btns">
    <button class="btn" ng-click="btnRequestService(device);" translate="DEVICE_MGT.REQUEST_SERVICE"
        ng-if="createBreakFixAccess && (serviceTabSelected === 'serviceRequestsDeviceTab' || serviceTabSelected ==='serviceRequestsServiceTab')"></button>
     <button type="button" class="btn btn--default" href="" ng-click="goToAddressCreate()"
        translate="ADDRESS_SERVICE_REQUEST.ADD"
        ng-if="addressAccess && serviceTabSelected === 'serviceRequestsAddressTab'"></button>
        <button type="button" class="btn btn--default" href="" ng-click="goToAddressCreate()"
        translate="CONTACT_SERVICE_REQUEST.ADD"
        ng-if="contactAccess && serviceTabSelected === 'serviceRequestsContactTab'"></button>
</div>
