 <div class="btns">
    <button name="cancel"
        class="btn btn--secondary"
        data-js="modalOpen"
        data-target="#cancel"
        translate="{{configure.actions.translate.abandonRequest}}"
    ></button>
    <button class="Button Button--default btn btn--primary"
            v-busy="isLoading" v-busy-label="{{ 'COMMON.ACTIONS.BTN_LOADING' | translate}}"
            ng-click="formSubmit(configure.actions.submit)"><span translate="{{configure.actions.translate.submit}}"></span></button>

    <div confirm-cancel
        title="{{configure.modal.translate.abandonTitle}}"
        body="{{configure.modal.translate.abandonBody}}"
        cancel="{{configure.modal.translate.abandonCancel}}"
        confirm="{{configure.modal.translate.abandonConfirm}}"
        return-path="{{configure.modal.returnPath}}"
    ></div>
</div>
