<div class="page-header vertical-margin-bottom-72" >
    <ul class="breadcrumb">
        <li><a href="#root">Root</a> &#62;&nbsp;</li>
        <li><a href="#parent">Parent</a> &#62;&nbsp;</li>
        <li>Child</li>
    </ul>

    <div class="row vertical-margin-bottom-48">
        <div class="col-lg-2-3 col-md-1-1">
            <h1 translate="{{configure.header.translate.h1}}" translate-values="{{configure.header.translate.h1Values}}">Lorem ipsum dolor</h1>

            <p class="" >
                <span translate="{{configure.header.translate.body}}" translate-values="{{configure.header.translate.bodyValues}}"></span>
                <div class="col-1 btns">
                    <button class="btn" ng-click="goToServiceChange(sr.id, sr.type)"
                    translate="SERVICE_REQUEST.CHANGE_REQUEST"
                    ng-if="cancelServiceRequest && configure.header.showUpdateBtn"></button>

                    <button class="btn" ng-click="goToServiceCancel(sr.id, sr.type)" translate="SERVICE_REQUEST.CANCEL_REQUEST" ng-if="cancelServiceRequest && configure.header.showCancelBtn"></button>

                    <button class="btn" ng-click="goToDelete()" translate="ADDRESS_SERVICE_REQUEST.DELETE" ng-if="cancelServiceRequest && configure.header.showDeleteBtn"></button>
                </div>
                <a ng-if="configure.header.readMoreUrl"
                class="read-more"
                href="{{configure.header.readMoreUrl}}"
                translate="{{configure.header.translate.readMore}}" href-target></a>
                <p ng-if="configure.header.translate.action" translate="{{configure.header.translate.action}}" translate-values="{{configure.header.translate.actionValues}}"></p>
            </p>
        </div>
    </div>

</div>
