<div class="page-header vertical-margin-bottom-72" >
    <div breadcrumbs map="configure.breadcrumbs"></div>

    <div class="row vertical-margin-bottom-48">
        <div class="col-lg-2-3 col-md-1-1">
            <h1 translate="{{configure.header.translate.h1}}" translate-values="{{configure.header.translate.h1Values}}">Lorem ipsum dolor</h1>

            <p class="" >
                <span translate="{{configure.header.translate.body}}" translate-values="{{configure.header.translate.bodyValues}}"></span><br/>
                <span ng-if="configure.showAddAnotherAddress">
                    <span translate="ADDRESS_SERVICE_REQUEST.WOULD_YOU_LIKE"></span> <a href="" ng-click="goToCreate()" translate="ADDRESS_SERVICE_REQUEST.ADD_ANOTHER_ADDRESS"></a>?
                </span>
                <div class="col-1 btns">
                    <button class="btn" ng-click="goToServiceUpdate(sr.id, sr.type)"
                    translate="REQUEST_MAN.REQUEST_DEVICE_UPDATE.BTN_CHANGE_REQUEST"
                    ng-if="cancelServiceRequest && configure.header.showUpdateBtn"></button>

                    <button class="btn" ng-click="goToServiceCancel(sr.id, sr.type)" translate="REQUEST_MAN.REQUEST_DEVICE_UPDATE.BTN_CANCEL_REQUEST" ng-if="cancelServiceRequest && configure.header.showCancelBtn"></button>

                    <button class="btn" ng-click="goToDelete()" translate="ADDRESS_MAN.UPDATE_ADDRESS.BTN_DELETE_ADDRESS" ng-if="cancelServiceRequest && configure.header.showDeleteBtn"></button>
                </div>
                <a ng-if="configure.header.readMoreUrl"
                class="read-more"
                href="{{configure.header.readMoreUrl}}"
                translate="{{configure.header.translate.readMore}}" href-target></a>
                <p ng-if="configure.header.translate.action" translate="{{configure.header.translate.action}}" translate-values="{{configure.header.translate.actionValues}}"></p>
            </p>
        </div>
    </div>
</div>
