<div class="page-header">
    <ul class="breadcrumb">
        <li><a href="#root">Root</a> &#62;&nbsp;</li>
        <li><a href="#parent">Parent</a> &#62;&nbsp;</li>
        <li>Child</li>
    </ul>

    <h1 translate="{{configure.header.translate.h1}}" translate-values="{{configure.header.translate.h1Values}}">Lorem ipsum dolor</h1>

    <p translate="{{configure.header.translate.body}}" translate-values="{{configure.header.translate.bodyValues}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>

    <a ng-if="configure.header.readMoreUrl"
        class="read-more"
        href="{{configure.header.readMoreUrl}}"
        translate="{{configure.header.translate.readMore}}"
    >dolor sit amet</a>
</div>
