<div class="col-1">
    <div print-export-title titlestring="USER_MAN.COMMON.TXT_USERS"></div>
    <hr/>
</div>

<div grid-filter options="filterOptions" params="optionParams"></div>
<div class="row l-pad-top l-pad-bottom">
    <div class="col-lg-2-3 col-md-1-1">
        <div grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef" total="pagination"></div>
    </div>
</div>


<div class="alert alert--info" ng-if="gridLoading === true">
    <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
        <div class="alert__body">
             <span translate="GRID.LOADING"></span>
        </div>
</div>

<div class="alert alert--info" ng-if="gridLoading === false && !gridDataCnt">
    <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
        <div class="alert__body">
             <span translate="GRID.EMPTY"></span>
        </div>
</div>

<div ng-if="gridLoading === false && gridDataCnt > 0">
    <div ui-grid="gridOptions" class="table"
        ng-style="gridOptions.getStyle()" ui-grid-auto-resize
        ui-grid-move-columns ui-grid-resize-columns ui-grid-selection>
    </div>

    <div pagination grid="{{gridOptions}}"></div>
</div>
