<div class="col-1">
    <h2 ng-show="pagination.totalItems() !== -1 && pagination.totalItems() !== undefined" translate="USER.INVITED_USERS_COUNT"
    translate-values="{userCount: pagination.totalItems()}">
    </h2>
    <div class="print-export">
        <span>
            <i class="icon icon--mps icon--print"></i><a href="#" class="text--small text--semi-bold">Print</a>
        </span>
        <span>
            <i class="icon icon--mps icon--download"></i><a href="#" class="text--small text--semi-bold">Export</a>
        </span>
    </div>
    <hr />
</div>
<div grid-filter options="filterOptions" params="optionParams"></div>
<div class="row l-pad-top l-pad-bottom" ng-if="searchDevice">
    <div class="col-lg-2-3 col-md-1-1">
        <div grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef"></div>
    </div>
</div>

<div ui-grid="gridOptions" class="table" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ></div>
<div pagination grid="{{gridOptions}}"></div>
