<nav class="site-nav">
    <ul class="rail-navigation" data-js="railNav" data-label="Global Services">
        <li ng-repeat="navObj in navArray | filter:'left' | orderBy:['header','-tags']"
            ng-class="{'rail-navigation__item--is-active': isSelected(navObj.action),'rail-navigation__heading': isHeader(navObj.tags),
            'rail-navigation__submenu':hasChildren(navObj.children)}"
            ng-hide="isChild(navObj.text,navArray)">
            <a href="{{ navObj.action }}" translate="{{navObj.text}}"
               ng-hide="isHeader(navObj.tags)" ng-bind="navObj.text"></a>
            <span ng-show="isHeader(navObj.tags)" >
                <strong translate="{{navObj.text}}"></strong>
            </span>
            <div ng-show="hasChildren(navObj.children)">
                <ul>
                    <div ng-repeat="child in navObj.children">
                        <li ng-repeat="childObj in navArray | filter:child"
                            ng-class="{'rail-navigation__item--is-active': isSelected(childObj.action),'rail-navigation__heading': isHeader(childObj.tags)}"
                            ng-hide="hasThisChild(childObj.children,child)">
                            <a href="{{ childObj.action }}" translate="{{childObj.text}}"
                                ng-hide="isHeader(childObj.tags)"
                                ng-bind="childObj.text"></a>
                            <span ng-show="isHeader(childObj.tags)"><strong ng-bind="childObj.text"></strong></span>
                        </li>
                    </div>
                </ul>
            </div>
        </li>
    </ul>
</nav>
