<form class="form" data-form="" name="newAddress" method="post" ng-submit="newAddress.$valid && continue()" enctype="mulitpart/form-data" novalidate>
    <div class="row row--alley-4">
        <div class="col-1-2">
            <fieldset>
                <h4>Address Information</h4>
                <div class="form__field">
                    <label>Address Name</label>
                    <input type="text" ng-model="address.addName" value="" class="" />
                </div>
                <div class="form__field">
                    <label>Store-front Name</label>
                    <input type="text" ng-model="address.storeName" value="" class="" />
                </div>
                <div class="form__field form__field--required">
                    <label>Address Line 1</label>
                    <input type="text" ng-model="address.addrLine1" value="" class="" required />
                </div>
                <div class="form__field">
                    <label>Address Line 2</label>
                    <input type="text" ng-model="address.addrLine2"  value="" class="" />
                </div>
                <div class="form__field form__field--required">
                    <label>City</label>
                    <input type="text" ng-model="address.city" value="" class="" required />
                </div>
                <div class="form__field form__field--required">
                    <label>Country</label>
                    <select ng-model="address.country" required>
                        <option value="">- select -</option>
                        <option>United States</option>
                    </select>
                </div>
                <div class="form__field form__field--required">
                    <label>State</label>
                    <select ng-model="address.state" required>
                        <option value="">- select -</option>
                        <option>Kentucky</option>
                    </select>
                </div>
                <div class="form__field form__field--required">
                    <label>Zip</label>
                    <input type="text" ng-model="address.zipCode" value="" class="" required />
                </div>
            </fieldset>
        </div>
        <div class="col-1-2">
            <h4>Additional Information</h4>
            <div class="well">
                <h5>Primary Contact</h5>
                <dl class="row row--alley-4">
                   <dt class="col-1-2">Name:</dt>
                   <dd class="col-1-2">{{contact.name}}</dd>

                   <dt class="col-1-2">Phone Number:</dt>
                   <dd class="col-1-2">{{contact.phoneNumber}}</dd>

                   <dt class="col-1-2">Email Address:</dt>
                   <dd class="col-1-2">{{contact.emailAddress}}</dd>
                </dl>
                <button class="btn btn--small">Add Contact</button>
                <button class="btn btn--small">Change Contact</button>
            </div>
            <fieldset>
                <div class="form__field">
                    <label>Customer Reference ID</label>
                    <input type="text" ng-model="serviceRequest.customerReferenceId" value="" class="" />
                </div>
                <div class="form__field">
                    <label>Cost Center</label>
                    <input type="text" ng-model="serviceRequest.costCenter"  value="" class="" />
                </div>
                <div class="form__field">
                    <label>Description</label>
                    <textarea ng-model="serviceRequest.addtnlDescription"></textarea>
                </div>
                <div class="form__field">
                    <label>Requested Effective Date of Change</label>
                    <textarea ng-model="serviceRequest.requestedEffectiveDate"></textarea>
                </div>
            </fieldset>
            <fieldset>
                <div class="form__field">
                    <label>Notes</label>
                    <textarea></textarea>
                </div>

                <div class="form__field">
                    <label>Attach Files</label>
                    <input type="file"  />
                    <div class="form__field__helper-text">
                        <strong>Note:</strong> Only.csv,.xls,.xlsx,.vsd,.doc,.docx,.ppt,.pptx,.pdf,.zip file format are supported. Only a max of 2 files of max. 1 mb each can be attached.
                    </div>
                </div>
            </fieldset>
        </div>

        <address-navigation-button></address-navigation-button>
    </div>
</form>
