<div class="row row--alley-2">
    <div class="col-1-2">
        <h3>Address to be Deleted</h3>
        <dl class="row row--alley-2">
            <dt class="col-1-2">Address Name:</dt>
            <dd class="col-1-2" ng-bind="getAddress(selectedAddress).addName"></dd>
            <dt class="col-1-2">Store-front Name:</dt>
            <dd class="col-1-2" ng-bind="getAddress(selectedAddress).storeName"></dd>
            <dt class="col-1-2">Address Line 1:</dt>
            <dd class="col-1-2" ng-bind="getAddress(selectedAddress).addrLine1"></dd>
            <dt class="col-1-2">Address Line 2:</dt>
            <dd class="col-1-2" ng-bind="getAddress(selectedAddress).addrLine2"></dd>
            <dt class="col-1-2">Country:</dt>
            <dd class="col-1-2" ng-bind="getAddress(selectedAddress).country"></dd>
            <dt class="col-1-2">State / Province:</dt>
            <dd class="col-1-2" ng-bind="getAddress(selectedAddress).state"></dd>
            <dt class="col-1-2">City:</dt>
            <dd class="col-1-2" ng-bind="getAddress(selectedAddress).city"></dd>
            <dt class="col-1-2">County:</dt>
            <dd class="col-1-2" ng-bind="getAddress(selectedAddress).county"></dd>
            <dt class="col-1-2">District:</dt>
            <dd class="col-1-2" ng-bind="getAddress(selectedAddress).district"></dd>
            <dt class="col-1-2">Zip / Postal Code:</dt>
            <dd class="col-1-2" ng-bind="getAddress(selectedAddress).zipCode"></dd>
        </dl>
    </div>
    <div class="col-1-2">
        <h3>Primary Contact Information</h3>
        <dl class="row row--alley-2">
            <dt class="col-1-2">Name:</dt>
            <dd class="col-1-2" ng-bind="contact.name"></dd>
            <dt class="col-1-2">Phone Number:</dt>
            <dd class="col-1-2" ng-bind="contact.phoneNumber"></dd>
            <dt class="col-1-2">Email Address:</dt>
            <dd class="col-1-2" ng-bind="contact.emailAddress"></dd>
        </dl>
        <h3>Additional Information for this Request</h3>
        <form class="form" data-form="" name="additionalInfo" method="post" ng-submit="additionalInfo.$valid && continue()" enctype="mulitpart/form-data" novalidate>
            <fieldset>
                <div class="form__field">
                    <label>Customer Reference ID</label>
                    <input type="text" ng-model="serviceRequest.customerReferenceId" value="" class="" />
                </div>
                <div class="form__field">
                    <label>Cost Center</label>
                    <input type="text" ng-model="serviceRequest.costCenter"  value="" class="" />
                </div>
                <div class="form__field">
                    <label>Description</label>
                    <textarea ng-model="serviceRequest.addtnlDescription"></textarea>
                </div>
                <div class="form__field">
                    <label>Requested Effective Date of Change</label>
                    <textarea ng-model="serviceRequest.requestedEffectiveDate"></textarea>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-1">
        <button class="btn btn--secondary" ng-click="cancelDelete()">Cancel</button>
        <button class="btn btn--primary" ng-click="requestDelete()">Continue</button>
    </div>
</div>
