<div class="row">
    <div class="col-1">
        <div class="alert" data-js="alert" ng-hide='submitForm'>
            <span class="alert__close" data-js="alert-close" aria-hidden="true">×</span>
            <div class="alert__body">
                <span>
                    <strong>Please review the details for this request. Once confirmed, click on the CONTINUE button below.</strong>
                </span>
            </div>
        </div>
        <div class="alert alert--success" data-js="alert" ng-show='submitForm && add_success'>
            <span class="alert__close" data-js="alert-close" aria-hidden="true">×</span>
            <div class="alert__body">
                <span>
                    <strong>Your request # {{serviceRequest.customerReferenceId}} has been submitted successfully. Please use this number when referencing your request..</strong>
                </span>
            </div>
        </div>
        <div>
            <div class="alert alert--error" data-js="alert" ng-show='submitForm && !add_success'>
                <span class="alert__close" data-js="alert-close" aria-hidden="true">×</span>
                <div class="alert__body"><span>
                    <strong>Your request has failed.  Please contact your service manager.</strong>
                </span></div>
            </div>
        </div>
    </div>

    <div class="col-1">
        <h1>Change Request Addresses</h1>
        <h2>Pets At Home / Pets At Home_MSA2010_MPS-UK</h2>
        <h3>Add Multiple Addresses</h3>
    </div>

    <div class="col-1">
        <read-address></read-address>
    </div>

    <button name="back" class="col-1-3 btn btn--secondary" ng-click="back()">Back</button>
    <!--
    <button name="cancel" class="col-1-3 btn" ng-click="goToUpdate(serviceRequest.customerReferenceId)">Edit</button>
    -->
    <button name="submit" class="col-1-3 btn btn--primary" ng-click="goToViewAll()" type="submit">Continue</button>
</div>
