<div class="page-header" >
    <div breadcrumbs map="configure.breadcrumbs"></div>

    <div class="row">
        <div class="col-lg-2-3 col-md-1-1">
            <h1 translate="{{configure.header.translate.h1}}" translate-values="{{configure.header.translate.h1Values}}"></h1>

            <p class="" >
                <span translate="{{configure.header.translate.body}}" translate-values="{{configure.header.translate.bodyValues}}">
                </span>
            </p>
        </div>
        <div class="col-1">
            <h3 class="vertical-space--none" translate="ADDRESS.ADDRESS_SELECTION"></h3>
            <hr />
        </div>
            
        <div class="row l-pad-bottom-thick">
            <div class="col-lg-1-3 l-pad">
                <p class="text--bold vertical-space--none" ng-if="configure.showCurrentAddress" translate="{{currentInstalledAddressTitle}}"></p>
                <div ng-if="configure.showCurrentAddress">
                    <p ng-bind-html="formattedInstalledAddress"></p>
                </div>
            </div>
            <div class="col-lg-2-3 l-pad">
                <p  class="text--bold vertical-space--none" translate="{{replaceAddressTitle}}"></p>
                <div class="col-1-3">
                    <p ng-show="isRowSelected()" ng-bind-html="formattedSelectedAddress"></p>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="page-tabs" address-picker-tabs show-new-address-tab="{{showNewAddressTab}}"></div>

