<div sr-header></div>
<div class="page-content">
<h3 class="vertical-space--none" translate="ACCOUNT.SELECTION"></h3>



<hr/>

<div class="row l-pad-bottom">
    <div class="col-lg-2-3 col-md-1-1">
        <div grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef" total="pagination"></div>
    </div>
</div>

<div class="alert alert--info" ng-if="gridDataCnt === 0">
            <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
                <div class="alert__body">
                     <span translate="GRID.EMPTY"></span>
                </div>
        </div>

<div ng-if="gridDataCnt > 0">
<div ui-grid="gridOptions" class="table"
    ng-style="gridOptions.getStyle()" ui-grid-auto-resize
    ui-grid-move-columns ui-grid-resize-columns ui-grid-selection></div>

</div>

<div pagination grid="{{gridOptions}}"></div>
<div class="col-2-3"></div>
<div class="col-1">
    <button class="btn btn--secondary" translate="ACCOUNT.RETURN" ng-click="discardSelect()"></button>
    <button class="btn btn--primary" translate="ACCOUNT.UPDATE_ACCOUNT"
            ng-click="selectAccount()"></button>
</div>
</div>
