<span translate="REPORTING.NO_METER_READS" ng-if="!meterReads || meterReads.length === 0"></span>
<table class="table table--condensed table--even table--responsive vertical-space--none" ng-if="meterReads && meterReads.length > 0">
    <thead>
        <tr>
            <th translate="DEVICE_MGT.PAGE_COUNT_TYPE"></th>
            <th ng-show="updateFlag" translate="DEVICE_MGT.PRIOR_COUNT"></th>
            <th translate="DEVICE_MGT.NEW_COUNT"></th>
            <th translate="LABEL.DATE"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in meterReads" ng-show="item.view === true && (showAllMeterReads || item.type ==='MONO' || item.type === 'COLOR' || item.type === 'LTPC')">
            <td data-label="{{'DEVICE_MGT.PAGE_COUNT_TYPE' | translate}}" ng-bind="item.type"></td>
            <input type="hidden" ng-model="module.type" ng-bind="item.type">
            <td ng-show="updateFlag" data-label="{{'DEVICE_MGT.PRIOR_COUNT' | translate}}">
                <div ng-bind="item.value"></div>
                <div ng-bind="getMeterReadPriorDate(item)"></div>
            </td>
            <td data-label="{{'DEVICE_MGT.NEW_COUNT' | translate}}">
                <div class="form__field vertical-space--none">
                    <div ng-show="readonly === true">
                        <div ng-bind="module.newCount[item.type]"></div>
                    </div>
                    <div ng-show="readonly === false || readonly === undefined">
                        <input type="number" ng-model="module.newCount[item.type]"
                            ng-if="item.type !== 'MONO' || updateFlag === false"/>
                    </div>
                    <span ng-if="item.type === 'MONO' && updateFlag === true" ng-bind="item.value"></span>
                </div>
            </td>
            <td data-label="{{'LABEL.DATE' | translate}}">
                <div class="form__field vertical-space--none">
                    <div ng-show="readonly === true">
                        <div ng-bind="getFormattedDate(module.newDate[item.type])"></div>
                    </div>
                    <div ng-show="readonly === false || readonly === undefined">
                        <input datepicker type="text" ng-model="module.newDate[item.type]" date-val="module.newDate[item.type]"
                            ng-if="item.type !== 'MONO' || updateFlag === false" time="true"/>
                    </div>
                    <span ng-if="item.type === 'MONO' && updateFlag === true" ng-bind="getMeterReadPriorDate(item)"></span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div ng-show="readonly === false || readonly === undefined">
    <a href="#" ng-click="showAllMeterReads = !showAllMeterReads">
        <span ng-hide="showAllMeterReads" translate="DEVICE_MGT.MANAGE_ALL_PAGE_COUNT"></span>
        <span ng-show="showAllMeterReads" translate="DEVICE_MGT.VIEW_LESS"></span>
    </a>
</div>

