<div class="status-bar">
   <div class="status-bar-bar-section col-1-{{configure.statusList.length}}"
      ng-repeat="status in configure.statusList" ng-class="{'active': status.date !== ''}">
      <hr/>
      <div class="status-bar-circle ">
        <span>{{$index + 1}}</span>
      </div>
      <div class="status-state">
        <div class="status-state-label">
          <strong>{{status.label}}</strong>
        </div>
        <div class="status-state-date" ng-show="status.date !== ''">
          {{status.date}}
        </div>
      </div>
   </div>
</div>
