<div class="row">
	<div class="page-header">
		<ul class="breadcrumb col-1">
	        <li><a href="/" translate="DASHBOARD.TITLE"></a> >&nbsp;</li>
	        <li translate="NAVIGATION.FOOTER.LNK_FAQ"></li>
	    </ul>
    	<h1 class="col-1" translate="NAVIGATION.FOOTER.LNK_FAQ"></h1>
	</div>
	<div class="page-content">
	<div class="row"> <div class="col-1"> <b>What is the Lexmark Managed Services Portal? </b></div> </div>
	 <div class="row">  <div class="col-1"> <p>The Lexmark Managed Services Portal is an online tool designed to provide managed print services customers with timely, accurate information about the state of their global device fleets any time and anywhere. The portal offers a personalized, convenient and intuitive experience that lets you see at a glance how your specific managed print services needs are being met. Combining reports, documents, and important self-service functionality for orders and transactions, the portal enhances your MPS success by providing a complete view of your print operations.</p></div></div>

<div class="row"> <div class="col-1"> <b>What does the Account Selection menu do? </b></div> </div>
 <div class="row">  <div class="col-1"> <p> Your company may have multiple accounts with Lexmark based on geography, legal requirements, or company structure. The account selection menu allows you to narrow the devices you see in the portal to just a portion of the fleet, based on those accounts. </p></div></div>


<div class="row"> <div class="col-1"> <b>What are Requests? </b></div> </div>
<div class="row">  <div class="col-1"> <p> "Requests" are the fundamental way of asking for, or reporting to, Lexmark about fleet changes and service activities. They may be initiated by you (if you have the right permissions), by someone else at your company, or by Lexmark.  For instance, you may submit a request asking Lexmark to move or repair a particular device, or to add a new address. Alternatively, a request may inform Lexmark about changes already made at your company such as a device move, a new page count, or a contact change. In this sense, you are asking Lexmark to update its systems with the new information you are providing to reflect an accurate status. All active, in-progress, and closed requests are visible under the "Requests" menu item and in device detail pages.</p></div></div>

<div class="row"> <div class="col-1"> <b>What are Orders? </b></div> </div>
<div class="row">  <div class="col-1"> <p>"Orders" are physical items destined for shipment to a location at your company such as toner cartridges, supply parts, or new hardware and accessories. Orders may be placed by you (if you have the right permissions), by someone else at your company, or by Lexmark. All open, in-progress, and closed Orders are visible under the "Orders" menu item and in device detail pages.</p></div></div>




<div class="row"> <div class="col-1"> <b>How do I change my personal information or preferences?  </b></div> </div>
<div class="row">  <div class="col-1"> <p>Update your personal information and preferences by selecting the link located in the top right corner of the page. You can update your email address, contact information, password, preferred language, and other key information. </p></div></div>


<div class="row"> <div class="col-1"> <b>How do I contact someone if I need help? </b></div> </div>
<div class="row">  <div class="col-1"> <p>If you need help using the portal or understanding what you see, contact your company help desk or administrator, or your Lexmark Customer Operations representative. You are also encouraged to review the Customer Welcome Kit which is posted in the "Documents" section of the portal for more information and instruction. </p></div></div>




<div class="row"> <div class="col-1"> <b>Can I make changes to many devices at once?</b></div> </div>
<div class="row">  <div class="col-1"> <p>For convenience, you can select more than one device to update the Cost Center or Supplies Contact for those devices, as needed.</p></div></div>

<div class="row"> <div class="col-1"> <b>What is a Customer Hierarchy Level (CHL)? </b></div> </div>
<div class="row">  <div class="col-1"> <p> The Customer Hierarchy Level, or CHL, is a customized tree structure that helps you find your devices and transaction history in a way that makes sense to your company. </p></div></div>





<div class="row"> <div class="col-1"> <b> What languages are supported?</b></div> </div>
<div class="row">  <div class="col-1"> <p>The Managed Services Portal is supported in the following languages: English, German, Spanish, French, Italian, Brazilian Portuguese, European Portuguese, Turkish, Simplified Chinese, Traditional Chinese, Russian, Korean, and Japanese.</p></div></div>




<div class="row"> <div class="col-1"> <b>Where can I get help or a user guide? </b></div> </div>
<div class="row">  <div class="col-1"> <p>Your Lexmark Customer Operations contact can provide you with a Welcome Kit that explains key functionality. The Welcome Kit is also posted in the Documents section of the portal for convenient reference or download. </p></div></div>


<div class="row"> <div class="col-1"> <b>I only care about a subset of my managed devices. How can I get to them faster? </b></div> </div>
<div class="row">  <div class="col-1"> <p>If you frequently work with only a select group of devices on your floor or building, you can easily bookmark those devices once you have located them in the Portal. Simply click the icon to "Bookmark this Device" from the device listing. Now you can easily filter the list to show just these important devices using the "Bookmarked Devices" filter on many screens.</p></div></div>

<div class="row"> <div class="col-1"> <b>Why do some people at my company see different menu items or buttons than I do? </b></div> </div>
<div class="row">  <div class="col-1"> <p> The portal is designed to provide you with just the right functionality to match your responsibility and role. For instance, if you are not the person responsible to manage documents, view invoices, or place supplies orders, you will not see those items on the screen.  </p></div></div>

<div class="row"> <div class="col-1"> <b>How do I know if I have the correct view or level of access? </b></div> </div>
<div class="row">  <div class="col-1"> <p>If something feels "off" about your level of access, reach out to your company administrator. They can confirm that you have the correct access to utilize the portal to its full potential.</p></div></div>


<div class="row"> <div class="col-1"> <b>Is the information on the portal "real time"?</b></div> </div>
<div class="row">  <div class="col-1"> <p>Information in the portal is designed to be as fresh as possible given systems and business process dependencies. These may result in lags from 15 minutes up to 24 hours. Contact your Lexmark Customer Operations representative for more information about individual report data.</p></div></div>


<div class="row"> <div class="col-1"> <b>Why can't I find my asset? </b></div> </div>
<div class="row">  <div class="col-1"> <p>The portal is designed to provide visibility to "managed assets" as defined in the terms of your company's engagement with Lexmark. Unmanaged assets --- those which are not supported or serviced by Lexmark --- are not shown on the portal. If you think you should be seeing a device but can't locate it on the portal, reach out to your company administrator.</p></div></div>


<div class="row"> <div class="col-1"> <b>Can I schedule reports to run automatically? I used to be able to on the old portal.</b></div> </div>
 <div class="row">  <div class="col-1"> <p>  The portal has been upgraded to provide fast, on-screen access to asset and service data on demand. You can run a report and export the results at any time. </p></div></div>


<div class="row"> <div class="col-1"> <b>How secure is the portal? Is our information at risk? What measures are in place to protect against unauthorized access?</b></div> </div>
<div class="row">  <div class="col-1"> <p> The portal has been configured in accordance with Lexmark IT Security standards for configuration, patching, and operations (i.e., secure authentication, authorization, and connectivity for remote users).  The portal is also subject to quarterly Lexmark vulnerability scans and annual 3rd party penetration testing in order to identify and remediate any potential security issues. </p></div></div>





<div class="row"> <div class="col-1"> <b>How do users at my company get access to the portal?</b></div> </div>
<div class="row">  <div class="col-1"> <p> Users at your company may request access to the portal by contacting your company's Lexmark Customer Operations representative.</p></div></div>

<div class="row"> <div class="col-1"> <b>Is automatic login available for our company? Can we integrate with our single-sign-on system?</b></div> </div>
<div class="row">  <div class="col-1"> <p>Integrated single-sign-on to the Managed Services Portal is not yet available. Each portal user must have his or her own sign-in credentials.</p></div></div>

</div>
</div>
