<nav class="rail-nav">
    <ul>
        <li ng-repeat="item in getItemsByTag('primary')" ng-if="item.permissionFlag">
            <a class="nav-item" href="{{item.action}}" title="{{item.description}}"
            target="{{item.window}}" ng-class="{'is-active' : isActive(item) }" ng-if="!item.dropdown">
                <span class="item-icon {{item.icon}}" ng-if="item.icon != ''"></span>
                <span translate="{{item.text}}"></span>
            </a>
            <a ng-click="dropdown(item)" class="nav-item" href="{{item.action}}" title="{{item.description}}"
                target="{{item.window}}" ng-class="{'is-active' : isActive(item) }" ng-if="item.dropdown">
                <div>
                    <small ng-show="!selectedAccount || selectedAccount.isDefault" translate="{{item.text}}"></small>
                    <small ng-show="selectedAccount && !selectedAccount.isDefault" translate="NAVIGATION.ACCOUNT_SELECTED"></small>
                </div>

                <!-- This markup is wrong, fix it -->
                <span class="push item-icon icon {{item.dropdownIcon}}" ng-if="item.dropdown"></span>

                <div>
                    <span ng-show="item.subtext && !selectedAccount || selectedAccount.isDefault" translate="{{item.subtext}}" translate-values="{{ accountTotal }}"></span>
                    <span ng-show="selectedAccount && !selectedAccount.isDefault">
                         <span ng-bind="selectedAccount.name"></span>
                        (<small ng-bind="selectedAccount.accountId"></small>)
                    </span>
                </div>
            </a>
            <ul class="sub-nav" ng-if="getItemsByTag(item.id).length > 0">
                <li ng-repeat="child in getItemsByTag(item.id)" ng-if="item.permissionFlag">
                    <a class="nav-item" href="{{child.action}}" title="{{child.description}}"
                    ng-class="{'is-active': child.isActive()}" ng-click="setActive(child.text)">
                        <span class="item-icon {{child.icon}}" ng-if="child.icon != ''"></span>
                        <span translate="{{child.text}}"></span>
                    </a>
                </li>
            </ul>
            <ul class="sub-nav" ng-if="item.dropdown && item.isExpanded">
                <li>
                    <a class="nav-item" href="" ng-click="goToAccountPicker()" >
                        <span translate="NAVIGATION.ACCOUNT_VIEW_ALL" translate-values="{{ accountTotal }}"></span>
                    </a>
                </li>
                <li ng-repeat="child in item.data" ng-if="item.permissionFlag">
                    <a class="nav-item nav-item-account" href="" ng-click="switchAccount(child)" title="{{child.account.name}}"
                    ng-class="{'is-active': child.isActive}">
                        <span ng-bind="child.account.name"></span>
                        (<small ng-bind="child.account.accountId"></small>)
                        (<small ng-bind="child.account.country"></small>)
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="" ng-click="goToAccountPicker()">
                         <span translate="NAVIGATION.ACCOUNT_FIND_SPECIFIC"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
