<div class="col-1">
    <div print-export-title title="DEVICE_MAN.DEVICE_PAGE_COUNTS.TXT_PAGE_COUNT_MISSING_W_TOTALS"></div>
    <hr/>
</div>

<div grid-filter options="filterOptions" params="optionParams"></div>

<div class="row l-pad-top l-pad-bottom">
    <div class="col-lg-2-3 col-md-1-1">
        <div grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef"></div>
    </div>

    <div class="col-1-8 l-alley-before-thick">
        <div columnpicker></div>
    </div>
</div>

<div ui-grid="gridOptions" class="table" ui-grid-exporter ui-grid-move-columns ui-grid-resize-columns ui-grid-selection></div>
<div pagination grid="{{gridOptions}}"></div>
