<br/>
<h4 translate="FILTERS.BROWSE_DEVICE_REQUEST_TYPE"></h4>
<div class="well scrollable">
	<div ng-repeat="reqType in allRequestTypes">
		<label class="form__field form__field--no-margin">
	    	 <input type="radio" ng-model="$parent.type" value="{{reqType.value}}" name="request-Type-grp"/>
	         {{reqType.disValue}}
	    </label> 
	</div>
</div>
<div class="col-lg-2-3 col-md-1-1" ng-if="type && type !== ''">
    <div class="footnotes">
        <i>{{'DEVICE_MAN.MANAGE_DEVICES.TXT_FILTER_BY' | translate}} {{displayType}} </i>
    </div>
</div>