<br/>
<div class="row row--alley-thick">
    <div class="col-1-2">
        <div class="form__field">
            <label translate="REPORTING.DATE_FROM"></label>
            <input type="text" ng-model="dateFrom" date-val="dateFrom" datepicker/>
        </div>
     </div>

    <div class="col-1-2">
         <div class="form__field">
            <label translate="REPORTING.DATE_TO"></label>
            <input type="text" ng-model="dateTo" date-val="dateTo" datepicker/>
        </div>
    </div>
    <br/>
    <div class="col-lg-2-3 col-md-1-1" ng-if="showClearMessage">
        <div class="footnotes">
            <a href="" ng-click="clearDateFilter()" translate="DEVICE_MAN.MANAGE_DEVICES.CTRL_CLEAR_DATE_RANGE"></a>
        </div>
    </div>
</div>
