<br/>
<h4 translate="FILTERS.BROWSE_DEVICE_REQUEST_TYPE"></h4>
<div class="well scrollable">
	 <div ng-repeat="tempType in deviceRequestTypes">
	 	<label class="form__field form__field--no-margin">
	 	 <input type="radio" id="tempType" name="device-request-type-select"
	 	     ng-model="$parent.deviceRequestType" value="{{tempType.value}}"/>
	 	     {{tempType.disValue}}
	 	</label>	   
	</div>
</div>
<br/>
    <div class="col-lg-2-3 col-md-1-1" ng-if="deviceRequestType && deviceRequestType !== ''">
        <div class="footnotes">
        	<i>{{'DEVICE_MAN.MANAGE_DEVICES.TXT_FILTER_BY' | translate}}  {{displayRequestType}}</i>            
        </div>
    </div>
