<br/>
<h4 translate="FILTERS.BROWSE_STATUS"></h4>
 <div ng-repeat="tempstatus in invitedStatuses">
    <input type="radio" id="tempstatus.type" name="invited-status-select"
    ng-model="$parent.inviteStatus" value="{{tempstatus.type}}"/>
    <label for="tempstatus.type"><span></span>
        {{tempstatus.name}}</label>
</div>
<br/>
<div class="col-lg-2-3 col-md-1-1" ng-if="showClearMessage">
    <div class="footnotes">
        <a href="" ng-click="clearUserStatusFilter()" translate="USER.CTRL_CLEAR_STATUS"></a>
    </div>
</div>
