
<div class="row">
    <div ng-if="renderStrategicColumn" class="col-1-3 floatL">
        <h3 translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_CATEGORY"></h3>

            <div ng-repeat="cat in categories">
                <label for="category{{$index + 1}}" class="form__field form__field--no-margin">
                    <input type="checkbox" id="category{{$index + 1}}" name="category{{$index + 1}}"
                        ng-model="cat.selected" ng-change="categoriesFilter(cat)" />
                    {{cat.label}}
                </label>
            </div>
    </div>
    <div class="col-1-3 floatL">
        <h3 translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_OWNER"></h3>

        <div ng-repeat="owner in owners">
                <label for="owner{{$index + 1}}" class="form__field form__field--no-margin">
                    <input type="checkbox" id="owner{{$index + 1}}" name="owner{{$index + 1}}"
                        ng-model="owner.selected" ng-change="ownersFilter(owner)" />
                    {{owner.name}}
                </label>
        </div>
    </div>

    <div class="col-1-3 floatL">
        <h3 translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_TAGS"></h3>

        <div ng-repeat="tag in tags">
                <label for="tag{{$index + 1}}" class="form__field form__field--no-margin">
                    <input type="checkbox" id="tag{{$index + 1}}" name="tag{{$index + 1}}"
                        ng-model="tag.selected" ng-change="tagsFilter(tag)" />
                    {{tag.localized}}
                </label>
        </div>
    </div>
</div>

<div class="row">    
    <div class="col-1-2">
        <h3 translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_DATES"></h3>
        <div class="form__field">
            <label translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_PUBLISH_DATE"></label>
            <input type="text" ng-model="dateFrom" date-val="dateFrom" datepicker/>
        </div>
     </div>

    <div class="col-1-2">
         <div class="form__field">
            <label translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_EXPIRY_DATE"></label>
            <input type="text" ng-model="dateTo" date-val="dateTo" datepicker/>
        </div>
    </div>
</div>

<br/>
<div class="col-lg-2-3 col-md-1-1" ng-if="showCategoryClearMessage">
    <div class="footnotes">
        <i>{{noOfCategoriesSelected}} {{'DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_CATEGORY_SELECTED' | translate }}</i>
        <a href="" ng-click="clearCategoriesFilter()" translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.CTRL_CLEAR_CATEGORY"></a>
    </div>
</div>
<div class="col-lg-2-3 col-md-1-1" ng-if="showOwnerClearMessage">
    <div class="footnotes">
        <i>{{noOfOwnersSelected}} {{'DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_OWNER_SELECTED' | translate }}</i>
        <a href="" ng-click="clearOwnersFilter()" translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.CTRL_CLEAR_OWNER"></a>
    </div>
</div>
<div class="col-lg-2-3 col-md-1-1" ng-if="showTagClearMessage">
    <div class="footnotes">
        <i>{{noOfTagsSelected}} {{'DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_TAG_SELECTED' | translate }}</i>
        <a href="" ng-click="clearTagsFilter()" translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.CTRL_CLEAR_TAG"></a>
    </div>
</div>
<div class="col-lg-2-3 col-md-1-1" ng-if="showDateClearMessage">
    <div class="footnotes">
        <i>{{'DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_DATE_RANGE' | translate}} - {{dateFrom}} - {{dateTo}}</i>
        <a href="" ng-click="clearDateFilter()" translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.CTRL_CLEAR_DATE_RANGE"></a>
    </div>
</div>
