
<div class="row">
    <div class="col-1-3">
        <h3 translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_CATEGORY"></h3>

            <div ng-repeat="cat in categories">
                <label for="cat.name">
                    <input type="checkbox" id="category{{$index + 1}}" name="category{{$index + 1}}"
                        ng-model="cat.selected" ng-change="categoriesFilter(cat)" />
                    {{cat.label}}
                </label>
            </div>
    </div>
    <div class="col-1-3">
        <h3 translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_OWNER"></h3>

        <div ng-repeat="owner in owners">
                <label for="cat.name">
                    <input type="checkbox" id="owner{{$index + 1}}" name="owner{{$index + 1}}"
                        ng-model="owner.selected" ng-change="ownersFilter(owner)" />
                    {{owner.name}}
                </label>
        </div>
    </div>

    <div class="col-1-3">
        <h3 translate="DOCUMENT_LIBRARY.DOCUMENT_LISTING.TXT_FILTER_TAGS"></h3>

        <div ng-repeat="tag in tags">
                <label for="tag.name">
                    <input type="checkbox" id="tag{{$index + 1}}" name="tag{{$index + 1}}"
                        ng-model="tag.selected" ng-change="tagsFilter(tag)" />
                    {{tag.name}}
                </label>
        </div>
    </div>
</div>

<br/>
<div class="col-lg-2-3 col-md-1-1" ng-if="showCategoryClearMessage">
    <div class="footnotes">
        <i>{{noOfCategoriesSelected}} {{'LABEL.SELECTED' | translate }}</i>
        <a href="" ng-click="clearCategoriesFilter()" translate="Clear filter"></a>
    </div>
</div>
<div class="col-lg-2-3 col-md-1-1" ng-if="showOwnerClearMessage">
    <div class="footnotes">
        <i>{{noOfOwnersSelected}} {{'LABEL.SELECTED' | translate }}</i>
        <a href="" ng-click="clearOwnersFilter()" translate="Clear filter"></a>
    </div>
</div>
<div class="col-lg-2-3 col-md-1-1" ng-if="showTagClearMessage">
    <div class="footnotes">
        <i>{{noOfTagsSelected}} {{'LABEL.SELECTED' | translate }}</i>
        <a href="" ng-click="clearTagsFilter()" translate="Clear filter"></a>
    </div>
</div>
