<br/>
<h4 translate="FILTERS.BROWSE_METER_READ_TYPE"></h4>
 <div ng-repeat="tempType in meterReadTypes">
 	<div class="form__field form__field--no-margin">
	    <input type="radio" id="tempType.type" name="meter-read-type-select"
	    ng-model="$parent.meterReadType" value="{{tempType.type}}"/>
	    <label for="tempType.type"><span></span>
	        {{tempType.name}}</label>
	</div>
</div>
<br/>
<div class="col-lg-2-3 col-md-1-1" ng-if="showClearMessage">
    <div class="footnotes">
        <a href="" ng-click="clearMeterReadTypeFilter()" translate="FILTERS.CTRL_CLEAR_METER_READ_TYPE"></a>
    </div>
</div>
