<br/>
<h4 translate="FILTERS.BROWSE_ORDER_STATUS"></h4>
<div class="well scrollable">
    <div ng-repeat="status in orderStatuses">
        <label for="status.name" class="form__field form__field--no-margin">
            <input type="checkbox"
                id="status.name"
                name="status.name"
                ng-model="status.selected"
                ng-change="orderStatusFilter(status)"
            />
            {{status.name}}
        </label>
    </div>
</div>
<br/>
<div class="col-lg-2-3 col-md-1-1" ng-if="showClearMessage">
    <div class="footnotes">
        <i>{{noOfSelected}} {{'DEVICE_MAN.COMMON.TXT_ORDER_STATUS_SELECTED' | translate }}</i>
        <a href="" ng-click="clearStatusFilter()" translate="DEVICE_MAN.MANAGE_DEVICES.CTRL_CLEAR_ORDER_STATUS"></a>
    </div>
</div>
