<br/>
<h4 translate="FILTERS.BROWSE_ROLE"></h4>
<div class="well scrollable">
    <div ng-repeat="role in totalRoleList">
        <label for="role.roleId" class="displayBlock">
            <input type="checkbox"
                id="role.roleId"
                name="role.roleId"
                ng-model="role.selected"
                ng-change="roleFilter(role)"
                class="marginR3"
            />
            {{role.description}}
        </label>
    </div>
</div>
<br/>
<div class="col-lg-2-3 col-md-1-1" ng-if="showClearMessage">
    <div class="footnotes">
        <i>{{noOfSelected}} {{'USER.ROLE_SELECTED' | translate }}</i>
        <a href="" ng-click="clearRolesFilter()" translate="USER.CTRL_CLEAR_ROLES"></a>
    </div>
</div>
