<div class="form__field filter--search">
    <div class="row">
        <div class="col-1-5">
            <div selectric class="search-menu"
                    model="column"
                    options="columns"
                    value="field"
                    label="name"
                    on-select="searchByColumn(option)">
            </div>
        </div>
        <div class="col-4-5">
            <div class="row">
                <div class="form__field">
                    <div class="col-lg-11-12 col-md-11-12 col-sm-11-12 col-xs-7-8">
                        <input type="text" model="searchByValue" class="search-box"/>
                        <i class="icon close-icon">X</i>
                    </div>
                    <div class="col-lg-1-12 col-md-1-12 col-sm-1-12 col-xs-1-8">
                        <button class="search"><i class="icon icon--ui icon--search-secondary"></i></i></button> 
                    </div>
                </div>

            </div>
        </div>
         
    </div>
    <div columns-menu></div>
</div>
