<br/>
<h4 translate="FILTERS.BROWSE_SUPPLY_ORDER_TYPE"></h4>
<div class="well scrollable">
	 <div ng-repeat="tempType in supplyOrderTypes">
	 	<label for="tempType" class="form__field form__field--no-margin">
    		<input type="radio" id="tempType" name="supply-type-select"
    		ng-model="$parent.supplyType" value="{{tempType}}"/>
    	    {{tempType}}
       	</label>
	 </div>
</div>
<br/>
    <div class="col-lg-2-3 col-md-1-1" ng-if="supplyType && supplyType !== ''">
        <div class="footnotes">
        	<i>{{'DEVICE_MAN.MANAGE_DEVICES.TXT_FILTER_BY' | translate}}  {{supplyType}}</i>            
        </div>
    </div>
