<div class="page-header">
    <h1 translate="PORTAL_ADMIN.UPDATE_SIEBEL_VALUE" translate-values="{'siebelValue': siebel.actualValue}"></h1>
    <div class="btns">
        <button type="button" class="btn btn--default" ng-click="delete()" translate="PORTAL_ADMIN.DELETE_THIS_SIEBEL_VALUE">
        </button>
    </div>
</div>

<div class="page-content">
    <div class="col-lg-2-3 col-md-1-1">
        <form check-form-valid  class="form" data-form="" name="manageSiebelValue" novalidate>
            <div siebel-fields></div>
        
            <hr/>

            <div siebel-update-buttons></div>
        </form>
    </div>
</div>
