 <div class="btns">
    <button name="cancel"
        class="btn btn--secondary"
        data-js="modalOpen"
        data-target="#cancel"
        translate="PORTAL_ADMIN.ABANDON_SIEBEL_CHANGES"
    ></button>
    
    <button class="btn btn--primary"
        ng-click="manageSiebelValue.$valid && update()"
        translate="PORTAL_ADMIN.SAVE_SIEBEL_CHANGE"
    ></button>

    <div confirm-cancel
        title="PORTAL_ADMIN.TITLE_SIEBEL_ABANDON_MODAL"
        body="PORTAL_ADMIN.BODY_SIEBEL_ABANDON_MODAL"
        cancel="PORTAL_ADMIN.ABANDON_SIEBEL_MODAL_CANCEL"
        confirm="PORTAL_ADMIN.ABANDON_SIEBEL_MODAL_CONFIRM"
        return-path="/siebel"
    ></div>
</div>
