<div class="page-header">
    <h1 translate="PORTAL_ADMIN.SIEBEL_VALUES"></h1>
    <span translate="PORTAL_ADMIN_SECTION.MANAGE_SIEBEL.TXT_MANAGE_SIEBEL_PAR"></span>

    <div class="well" ng-if="showDeleted === true">
        <p translate="PORTAL_ADMIN_SECTION.MANAGE_SIEBEL.TXT_SIEBEL_DELETED"></p>
    </div>
    <div class="well" ng-if="showEditted === true">
        <p translate="PORTAL_ADMIN_SECTION.MANAGE_SIEBEL.TXT_SIEBEL_EDITTED"></p>
    </div>
    <div class="col-1 btns">
        <button type="button" class="btn btn--default" href="" translate="PORTAL_ADMIN.ADD_NEW_SIEBEL_VALUE_BTN"
        	ng-click="goToCreate()"></button>
    </div>
</div>
<div class="page-content">
    <div grid-filter options="filterOptions" params="optionParams"></div>

    <div class="row l-pad-top l-pad-bottom">
        <div class="col-lg-2-3 col-md-1-1">
            <div grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef" total="pagination"></div>
        </div>        
    </div>

    <div class="row">
        <div class="col-1">
            <div print-export-title class="row"  titlestring="PORTAL_ADMIN_SECTION.MANAGE_SIEBEL.TXT_ALL_SIEBEL_CNT"></div>
            <hr />
        </div>
    </div>  

    <div class="alert alert--info" ng-if="gridLoading === true">
	    <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
	        <div class="alert__body">
	             <span translate="GRID.LOADING"></span>
	        </div>
	</div>

	<div class="alert alert--info" ng-if="gridLoading === false && !gridDataCnt">
	    <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
	        <div class="alert__body">
	             <span translate="GRID.EMPTY"></span>
	        </div>
	</div>
	<div ng-if="gridLoading === false && gridDataCnt > 0">
		<div ui-grid="gridOptions" class="table"
            ng-style="gridOptions.getStyle()" ui-grid-auto-resize
             ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-exporter></div>
		<div pagination grid="{{gridOptions}}"></div>
	</div>
</div>
