<fieldset>
    <legend>Additional Information for this Request</legend>

    <div class="form__field">
        <label>Customer Reference ID</label>
        <input name="customerReferenceId" class="" type="text" ng-model="serviceRequest.customerReferenceId" value="" />
    </div>

    <div class="form__field">
        <label>Cost Center</label>
        <input name="costCenter" class="" type="text" ng-model="serviceRequest.costCenter" value="" />
    </div>

    <div class="form__field">
        <label>Description</label>
        <textarea name="addtnlDescription" class="" ng-model="serviceRequest.addtnlDescription"></textarea>
    </div>

    <div class="form__field">
        <label>Requested Effective Date of Change</label>
        <textarea name="requestedEffectiveDate" class="" ng-model="serviceRequest.requestedEffectiveDate"></textarea>
    </div>
</fieldset>
