<div class="page-header">
    <div breadcrumbs map="configure.breadcrumbs"></div>

    <h1 translate="USER_MAN.INVITE_USERS.TXT_INVITE_NEW_USERS"></h1>

    <p translate="USER_MAN.INVITE_USERS.TXT_INVITE_NEW_USERS_PAR"></p>
</div>

<div class="page-content">
    <div ng-hide="isSubmitted">
        <div class="col-lg-2-3 col-md-1-1">
            <form class="form" data-form="" name="inviteUser" novalidate>
                <div user-invite-fields></div>
                <hr/>
                <div user-invite-buttons></div>
            </form>
        </div>
    </div>
</div>

