<div class="row">
    <div class="col-1">
        <h1 translate="USER.INVITE_TITLE"></h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
    </div>

    <form class="form" data-form="" name="newUser" method="post"
          ng-submit="newUser.$valid && continue()" enctype="multipart/form-data" novalidate>

        <div class="col-1">
            <h3 translate="LABEL.USERS"></h3>
            <hr />
            <h4 translate="USER.INVITE_WHO"></h4>
            <div class="col-3-5 left-pad form__field form__field--required">
            	<label translate="USER.EMAILS"></label>
            	<textarea cols="50" rows="6"></textarea>
            </div>
        </div>

        <div class="col-1">
            <h3 translate="ACCOUNT.TITLE"></h3>
            <hr />

            <h4 translate="ACCOUNT.COMPANY_ASSO"></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
            <div class="left-pad">
                <h5 translate='ACCOUNT.ORG_STRUCT' class="text--thick"></h5>
                <div class="row">
                    <div class="col-3-5">
                        <div tree class="well"></div>
                    </div>
                </div>
            </div>

            <h4 translate="USER.ROLE_PERM"></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
            <div class="left-pad form__field form__field--select form__field--required">
                <label translate='USER.BASIC_ROLE'></label>
                <div selectric options="columns" value="id" label="name"
                               placeholder="{{'ROLE.VIEW_OP' | translate}}" class="col-1-3">
                </div>
                <div class="row">
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="left-pad form__field">
                <label translate='USER.ADD_ROLE' class="text--thick"></label>
                <div class="col-2-5 well">
                    <div user-roles></div>
                </div>
            </div>

            <div>
                <h5 translate="USER.PERM" class="text--thick left-pad"></h5>
            </div>

        </div>

        <div confirm-cancel title="SERVICE_REQUEST.TITLE_ABANDON_MODAL" body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
             cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL" confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
             return-path="/delegated_admin"></div>
        <div class="row">
            <div class="col-1">

                <button name="cancel" class="col-1-3 btn btn--secondary" data-js="modalOpen" data-target="#cancel"
                        translate="USER.DISCARD_INVITE"></button>
                <button name="submit" class="col-1-3 btn btn--primary" ng-click="invite()" type="submit"
                        translate="USER.INVITE_USERS"></button>
        </div>
    </form>
</div>
