<h2 translate="USER_MAN.COMMON.TXT_USER_INFORMATION"></h2>
<div class="contact-info">
    <div ng-bind-html="formattedUserContact"></div>
</div>
<br/>
<div class="contact-info">
    <div ng-bind-html="formattedUserAddress"></div>
</div>
<br/>
<h2 translate="USER_MAN.COMMON.TXT_ACCOUNT_ACCESS"></h2>
<h3 translate="USER_MAN.COMMON.TXT_PORTAL_LOGIN"></h3>
<div>
    <label>
        <input type="checkbox"
            id="portalAccess"
            name="portalAccess"
            ng-model="userActive"
        />
        {{'USER_MAN.MANAGE_LXK_USERS.CHK_PORTAL_ACCESS_ENABLED' | translate}}
    </label>
    <input type="hidden" name="isNewUser" ng-model="isNewUser" />
</div>
<br/>
<div lexmark-org-structure></div>
<div lexmark-role-permission></div>


