<div class="page-header">

    <h1 translate="USER.CREATE_TITLE"></h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
</div>

<div class="page-content">
    <div ng-hide="isSubmitted">
        <div class="col-lg-2-3 col-md-1-1">
            <form class="form" data-form="" name="newUser" novalidate>
                <div lexmark-user-fields></div>
            
                <hr/>

                <div lexmark-user-buttons></div>
            </form>
        </div>
    </div>
</div>
