<h3 translate="USER.ROLE_PERM"></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
<div class="form__field form__field--select form__field--required">
    <label translate="USER.BASIC_ROLE"></label>
    <select ng-model="basicRole" name="basicRole" ng-change="setPermissionsForBasic(basicRole)">
        <option value="" translate="LABEL.SELECT"></option>
        <option ng-repeat="option in user.basicRoles" value="{{option.roleId}}" ng-selected="basicRole == option.roleId">
            {{option.description}}
        </option>
    </select>
</div>
<strong><label translate='USER.ADD_ROLE'></label></strong>
<div class="well">
    <div ng-repeat="role in user.addonRoles">
        <label for="role.roleId">
            <input type="checkbox"
                id="role.roleId"
                name="role.roleId"
                ng-model="role.selected"
                ng-change="setPermissions(role)"
            />
            {{role.description}}
        </label>
    </div>
</div>

<strong><label translate="USER.PERM"></label></strong>
<div class="well">
    <div ng-repeat="permission in user.permissions">{{permission}}</div>
</div>



