 <div class="btns">
    <button name="cancel"
        class="btn btn--secondary"
        data-js="modalOpen"
        data-target="#cancel"
        translate="USER_MAN.MANAGE_LXK_USERS.BTN_DISCARD_LXK_USER_CHANGES"
    ></button>
    
    <button type="button" class="Button Button--default btn btn--primary"
            v-busy="isLoading" v-busy-label="{{ 'COMMON.ACTIONS.BTN_LOADING' | translate}}"
            ng-click="newUser.$valid && saveLexmarkUser()">
            <span translate="{{'USER_MAN.MANAGE_LXK_USERS.BTN_UPDATE_LXK_USER' | translate}}"></span>
    </button>

    <div confirm-cancel
        title="USER.TITLE_USER_ABANDON_MODAL"
        body="USER.BODY_USER_ABANDON_MODAL"
        cancel="USER.ABANDON_USER_MODAL_CANCEL"
        confirm="USER.ABANDON_USER_MODAL_CONFIRM"
        return-path="/delegated_admin"
    ></div>
</div>
