<div class="page-header">
    <div breadcrumbs map="configure.breadcrumbs"></div>

    <h1 translate="USER_MAN.CREATE_USER.TXT_CREATE_NEW_USER"></h1>

    <p><span translate="USER_MAN.CREATE_USER.TXT_CREATE_NEW_USER_PAR"></span></p>
    <div error-msg ng-if="errorUser"></div>
</div>

<div class="page-content">
    <div ng-hide="isSubmitted">
        <div class="col-lg-2-3 col-md-1-1">
            <form check-form-valid  class="form" data-form="" name="newUser" novalidate>
                <div user-new-fields></div>
            
                <hr/>

                <div user-form-buttons></div>
            </form>
        </div>
    </div>
</div>
