<div class="page-header">
    <ul class="breadcrumb">
        <li><a href="#root">Root</a> &#62;&nbsp;</li>
        <li><a href="#parent">Parent</a> &#62;&nbsp;</li>
        <li>Child</li>
    </ul>

    <h1 translate="USER.CREATE_TITLE"></h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
</div>

<div class="page-content">
    <div ng-hide="isSubmitted">
        <div class="col-lg-2-3 col-md-1-1">
            <form class="form" data-form="" name="newUser" novalidate>
                <div user-new-fields></div>
            
                <hr/>

                <div user-form-buttons></div>
            </form>
        </div>
    </div>
</div>
