<div class="page-header">
    <div class="col-lg-2-3 col-md-1-1">
        <h1 translate="USER_PROFILE_MAN.UPDATE_EMAIL.TXT_UPDATE_EMAIL"></h1>
        <p><span translate="USER_PROFILE_MAN.UPDATE_EMAIL.TXT_DESC"></span></p>
    </div>
</div>
<div class="page-content">
<div print-export-title
    title="USER_PROFILE_MAN.UPDATE_EMAIL.TXT_UPDATE_EMAIL" print="false" export="false"></div>
    <hr/>
    <div class="col-2-3">
        <div class="form__field">
            <label translate="USER_PROFILE_MAN.UPDATE_EMAIL.CURRENT_EMAIL"></label>
            <input name="email" class="" type="text" ng-model="user.email" value="" disabled/>
        </div>
        <div class="form__field form__field--required">
            <label translate="USER_PROFILE_MAN.UPDATE_EMAIL.NEW_EMAIL"></label>
            <input name="new_email" class="" type="text" ng-model="newEmail" value="" required />
        </div>
    </div>
    <div sr-form-buttons></div>
</div>

