<div class="row">
    <div class="col-1">
        <h1 translate="USER.MANAGE" translate-values="{user_name: userFullName}"></h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
    </div>

    <div class="col-1 label-wrapper-bottom">
        <button name="cancel" class="col-1-3 btn btn--secondary" data-js="modalOpen" data-target="#deactivate"
                translate="USER.DEACTIVATE" disabled></button>
    </div>


    <form class="form" data-form="" name="currentUser" method="post"
          ng-submit="currentUser.$valid && continue()" enctype="multipart/form-data" novalidate>

        <div class="set set--tab" data-js="tab">

            <div class="set__tab-container">
                <div class="col-1-3 set__trigger" data-toggle="userInfo" ng-click="setUserInfo()"
                     ng-class="user_info_active ? 'set--is-active' : ''">
                    <a href="#userInfo" class="text--large text--align-center"
                       translate="USER.INFO"></a>
                </div>
                <div class="col-1-3 set__trigger" data-toggle="accountAccess" ng-click="setAccountAccess()"
                     ng-class="account_access_active ? 'set--is-active' : ''">
                    <a href="#accountAccess" class="text--large text--align-center"
                       translate="ACCOUNT.TITLE"></a>
                </div>
            </div>

            <div ng-if="user_info_active" class="col-1 label-wrapper-top-left">
                <h2 translate="USER.INFO"></h2>
                <hr />
                <h4 translate="USER.WHO"></h4>
                <div class="col-1-3 label-wrapper-left"
                     ng-include="templateUrl('users', 'user-core-fields')"></div>

                <h4 translate="USER.WHERE"></h4>
                <div class="col-1-3 label-wrapper-left"
                     ng-include="templateUrl('users', 'user-location-fields')"></div>
            </div>

            <div ng-if="account_access_active" class="col-1 label-wrapper-top-left">
                <h2 translate="ACCOUNT.TITLE"></h2>
                <hr />
                <h4 translate="ACCOUNT.LOGIN"></h4>
                <div class="col-1-3 label-wrapper-left"
                     ng-include="templateUrl('users', 'user-login-fields')"></div>

                <h4 translate="ACCOUNT.COMPANY_ASSO"></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                <h5 translate='ACCOUNT.ORG_STRUCT' class="text--thick label-wrapper-left"></h5>
                <div class="label-wrapper-top-bottom">
                    <div class="col-1-3 section-wrapper">
                        Some kind of tree structure<br />
                        Brad is working on...
                    </div>
                </div>

                <h4 translate="USER.ROLE_PERM"></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                <div>
                    <h5 translate='USER.BASIC_ROLE'  class="text--thick label-wrapper-left"></h5>
                    <div selectric options="columns" value="id" label="name"
                                   placeholder="{{'ROLE.VIEW_OP' | translate}}" class="col-1-3 label-wrapper-left">
                    </div>
                </div>
                <div class="label-wrapper-top-bottom">
                    <h5 translate='USER.ADD_ROLE'  class="text--thick label-wrapper-left"></h5>
                    <div class="col-1-3 section-wrapper">
                        <div user-roles></div>
                    </div>
                </div>

            <div>
                <h5 translate="USER.PERM" class="text--thick label-wrapper-left"></h5>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1">
                <button name="delete" class="col-1-3 btn btn--secondary" ng-click="delete()"
                        translate="USER.DELETE_CHANGES"></button>
                <button name="submit" class="col-1-3 btn btn--primary" ng-click="save()" type="submit"
                        translate="USER.UPDATE"></button>
        </div>

    </form>

</div>
