<div class="page-header">
	<div class="clearfix">
		<h1 class="pull vertical-space--none"><span translate="USER_MAN.MANAGE_USERS.TXT_CREATE_MANAGE_USER_PROFILE"></span> 
		<span ng-bind="user.fullName"></span></h1>
	</div>
	<br/>
	<p><span translate="USER_MAN.MANAGE_USERS.TXT_CREATE_MANAGE_USER_PROFILE_PAR"></span></p>

	<div class="btns">
	    <button type="button" class="btn btn--default" ng-click="deactivate()" translate="USER_MAN.MANAGE_USERS.BTN_DEACTIVATE_USER" ng-if="userActive">
	    </button>
	    <button type="button" class="btn btn--default" ng-click="update()" translate="USER_MAN.MANAGE_USERS.BTN_ACTIVATE_USER" ng-if="!userActive">
	    </button>
	</div>
</div>
<div class="page-tabs" manage-user-tabs></div>
