<div class="page-header">
    <div breadcrumbs map="breadcrumbs"></div>
	<div class="clearfix">
		<h1 class="pull vertical-space--none"><span translate="USER_MAN.MANAGE_USERS.TXT_CREATE_MANAGE_USER_PROFILE"></span> 
		<span ng-bind="user.fullName"></span></h1>
	</div>
	<br/>
	<p><span translate="USER_MAN.MANAGE_USERS.TXT_CREATE_MANAGE_USER_PROFILE_PAR"></span></p>

	<div class="btns">
		<button type="button" class="Button Button--default btn btn--primary"
            v-busy="isLoading" v-busy-label="{{ 'COMMON.ACTIONS.BTN_LOADING' | translate}}"
            ng-click="verifyDeactivateActivate('deactivate')" ng-if="userActive"><span translate="{{configure.deactive.name}}"></span></button>

        <button type="button" class="Button Button--default btn btn--primary"
            v-busy="isLoading" v-busy-label="{{ 'COMMON.ACTIONS.BTN_LOADING' | translate}}"
            ng-click="verifyDeactivateActivate('activate')" ng-if="!userActive"><span translate="{{configure.active.name}}"></span></button>
	</div>

	<div id="deactivate-confirm-popup" class="modal">
	    <div class="modal__body">
		    <h2 translate="USER_MAN.MANAGE_USERS.WARNING_DEACTIVATE"></h2><hr/>
		    <p>
		    	<span translate="USER_MAN.MANAGE_USERS.IGNORE_WARNING"></span>
		    </p>
		    <button class="btn btn--secondary" ng-click="deactivate()" data-js="modalClose" translate="LABEL.COMMON.YES"></button>
		    <button class="btn btn--primary" data-js="modalClose" translate="LABEL.COMMON.NO"></button>
	    </div>
	</div>
	<div id="activate-confirm-popup" class="modal">
	    <div class="modal__body">
		    <h2 translate="USER_MAN.MANAGE_USERS.WARNING_ACTIVATE"></h2><hr/>
		    <p>
		    	<span translate="USER_MAN.MANAGE_USERS.IGNORE_WARNING"></span>
		    </p>
		    <button class="btn btn--secondary" ng-click="activate()" data-js="modalClose" translate="LABEL.COMMON.YES"></button>
		    <button class="btn btn--primary" data-js="modalClose" translate="LABEL.COMMON.NO"></button>
	    </div>
	</div>
</div>
<div class="page-tabs" manage-user-tabs></div>
