<div class="set" data-js="set">
    <div  class="set__trigger" data-toggle="allUsers">
        <a href="#allUsers" translate="USER_MAN.MANAGE_USERS.TXT_TAB_ALL_USERS"><i class="set__icon"></i></a>
    </div>
    <div class="set__content" id="allUsers">
        <div class="col-1">
            <h2 ng-show="pagination.totalItems() !== -1 && pagination.totalItems() !== undefined" translate="USER_MAN.COMMON.TXT_USERS"
            translate-values="{userCount: pagination.totalItems()}">
            </h2>
            <hr />
        </div>
        <span class="text--thick" translate="USER_MAN.COMMON.TXT_SEARCH"></span>
        <div grid-filter options="filterOptions" params="optionParams"></div>
        <div class="row l-pad-top l-pad-bottom" ng-if="searchDevice">
            <div class="col-lg-2-3 col-md-1-1">
                <div grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef"></div>
            </div>
        </div>

        <div class="col-1">
            <div ui-grid="gridOptions" class="table"
                ng-style="gridOptions.getStyle()" ui-grid-auto-resize
                ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ></div>
            <div pagination grid="{{gridOptions}}"></div>
        </div>
    </div>
    <div  class="set__trigger" data-toggle="invitations">
        <a href="#invitations" translate="USER_MAN..MANAGE_USERS.TXT_TAB_INVITED_USERS"><i class="set__icon"></i></a>
    </div>
    <div class="set__content" id="invitations">
        <h2>section not implemented</h2>
    </div>
</div>
