 <div class="btns">
    <button name="cancel"
        class="btn btn--secondary"
        data-js="modalOpen"
        data-target="#cancel"
        translate="USER_MAN.CREATE_USER.BTN_ABANDON_USER_CREATION"
    ></button>
    
    <button class="Button Button--default btn btn--primary" 
            v-busy="isLoading" v-busy-label="{{ 'COMMON.ACTIONS.BTN_LOADING' | translate}}"
            ng-click="newUser.$valid && save()"><span translate="{{configure.button.name}}"></span></button>

    <div confirm-cancel
        title="USER.TITLE_USER_ABANDON_MODAL"
        body="USER.BODY_USER_ABANDON_MODAL"
        cancel="USER.ABANDON_USER_MODAL_CANCEL"
        confirm="USER.ABANDON_USER_MODAL_CONFIRM"
        return-path="/delegated_admin"
    ></div>
</div>
