<div class="form__field form__field--select form__field--required">
    <label translate="USER_MAN.COMMON.TXT_COUNTRY"></label>
    <div selectric model="user.address.country" options="countryHAL.countries" value="code" label="name"
         placeholder="{{'LABEL.SELECT' | translate}}" required on-select="countrySelected(option)"></div>
</div>

<div class="form__field form__field--required">
    <label translate="USER_MAN.COMMON.TXT_ADDRESS_LINE1"></label>
    <input name="addressLine1" type="text" ng-model="user.address.addressLine1" required/>
</div>

<div class="form__field">
    <label translate="USER_MAN.COMMON.TXT_ADDRESS_LINE2"></label>
    <input name="addressLine2" type="text" ng-model="user.address.addressLine2"  />
</div>

<div class="form__field form__field--required">
    <label translate="USER_MAN.COMMON.TXT_CITY"></label>
    <input name="city" type="text" ng-model="user.address.city" required />
</div>

<div class="form__field form__field--select form__field--required">
    <label translate="USER_MAN.COMMON.TXT_STATE"></label>
    <div selectric options="country.provinces" value="code" label="name" model="user.address.stateCode" required
         placeholder="{{'LABEL.SELECT' | translate}}"></div>
</div>
<div class="row">
    <div class="col-md-1-3">
        <div class="form__field form__field--required">
            <label translate="USER_MAN.COMMON.TXT_ZIPCODE"></label>
            <input type="text" name="zipCode" ng-model="user.address.postalCode" value="" class="" required />
        </div>
    </div>
</div>
