<h3 translate="USER_MAN.COMMON.TXT_ROLE_PERMISSIONS"></h3>
<p><span translate="USER_MAN.COMMON.TXT_ROLE_PERMISSIONS_PAR"></span></p>
<div class="form__field form__field--select form__field--required">
    <label translate='USER_MAN.COMMON.TXT_BASE_ROLE'></label>
    <div selectric model="basicRole" 
        data-required="basicRole{{basicRole.length>0}}"
        options="user.basicRoles" value="description" label="description" placeholder="{{'LABEL.COMMON.SELECT' | translate}}" 
        on-select="setPermissionsForBasic(option)">
    </div>
    <input type="hidden" ng-model="basicRole" required />
</div>
<strong><label translate='USER_MAN.COMMON.TXT_ADDITIONAL_PERMISSIONS'></label></strong>
<div class="well">
    <div ng-repeat="role in user.addonRoles">
        <label for="{{role.roleId}}" class="form__field form__field--no-margin">
            <input type="checkbox"
                id="{{role.roleId}}"
                name="{{role.roleId}}"
                ng-model="role.selected"
                ng-change="setPermissions(role)"
            />
            {{role.description}}
        </label>
    </div>
</div>

<strong><label translate="USER_MAN.COMMON.TXT_PERMISSION_DETAILS"></label></strong>
<div class="well">
    <div ng-repeat="permission in user.permissions">{{permission}}</div>
</div>
