<div class="page-header">
	<div class="col-1">
        <div breadcrumbs map="configure.breadcrumbs"></div>
    </div>
	<div class="clearfix">
		<h1 class="pull vertical-space--none" translate="USER_PROFILE_MAN.RESET_PASSWORD.TXT_RESET_PASSWORD"></h1>
	</div>
	<br/>
	<p><span translate="USER_PROFILE_MAN.RESET_PASSWORD.TXT_DESC"></span></p>
	<div class="alert" ng-if="showUserUpdatedMessage">
        <span translate="USER_PROFILE_MAN.RESET_PASSWORD.CONFIRMATION" class="ng-scope"></span>
    </div>
</div>
<div class="page-tabs">
	<div class="set" data-js="set">
		<div class="set__tab-container">
		    <div class="set__trigger set--is-active">
		        <a href="#userEmailResetTab" translate="USER_PROFILE_MAN.RESET_PASSWORD.TXT_RESET_PASSWORD"><i class="set__icon"></i></a>
		    </div>
		</div>
	    <div class="set__content-container">
	    	<div class="set__content set--is-active" id="userEmailResetTab">
	        	<div class="col-lg-2-3 col-md-1-1">
				    <form check-form-valid  class="form" data-form="" name="userProfile" novalidate autocomplete="off">
						<div class="form__field form__field--required">
						    <label class="inlineBlock" translate="USER_PROFILE_MAN.RESET_PASSWORD.NEW_PASSWORD"></label><span translate="USER_MAN.COMMON.TXT_MIN_PASSWORD_LENGTH"></span>
						    <input password-length-check name="newPassword" type="password" ng-model="new_Password" value="" class="" required />
						</div>
						<div class="form__field form__field--required">
						    <label translate="USER_PROFILE_MAN.SETTINGS.LABEL_CONFIRM_PASSWORD"></label>
						    <input password-length-check confirm-pair-field link-field="new_Password" name="confirmPassword" type="password" ng-model="confirm_Password"  value="" class="" required />
						</div>
						<hr>
						<div user-profile-buttons></div>
					</form>
				</div>
	    	</div>
	    </div>
	</div>
</div>