<h3 translate="USER_MAN.COMMON.TXT_COMPANY_ASSOCIATION"></h3>
<p><span translate="USER_MAN.COMMON.TXT_COMPANY_ASSOCIATION_PAR"></span></p>
<strong translate="USER.FIND_ACCOUNT" ng-if="showAllAccounts"></strong>
<div class="form__field" ng-if="showAllAccounts">
	<input name="accountName" type="text" ng-model="user.accountName" value="" class="" ng-change="setAccounts()"/>
</div>
<div class="well scrollable" ng-if="showAllAccounts">
    <div ng-repeat="account in accountList">
        <div tree tree-type='daAccounts' action='selectLevel' initial-item="account" 
            value="$parent.user.org" previous-items="$parent.accounts">
        </div>
    </div>
</div>
<strong translate="USER.ASSIGNED_ACCOUNTS" translate-values="{'count': accounts.length}" ng-if="showAllAccounts"></strong>
<div class="well" ng-if="showAllAccounts">
    <div ng-repeat="assignedAccount in accounts">
    	{{assignedAccount.name}}
    	<a class="float-right" translate="LABEL.REMOVE" href="" ng-click="removeAccount(assignedAccount)"></a>
    </div>
</div>
<strong translate="USER_MAN.INVITE_USERS.TXT_DEVICE_MANAGEMENT_STRUCTURE" ng-if="!showAllAccounts"></strong>
<div class="well scrollable" ng-if="!showAllAccounts">
    <div ng-repeat="account in accountList">
        <div tree tree-type='daAccounts' action='selectLevel' initial-item="account" 
            value="$parent.user.org" previous-items="$parent.accounts">
        </div>
    </div>
</div>
