<div class="set set--tab" data-js="tab">

    <div class="set__tab-container">
        <div class="col-1-3 set__trigger" data-toggle="allUsers"
             ng-class="allUsersActive ? 'set--is-active' : ''">
            <a href="#allUsers" class="text--large text--align-center" ng-click="setAllUsers()"
               translate="USER.ALL_USER"></a>
        </div>
        <div class="col-1-3 set__trigger" data-toggle="invitations" ng-click="setInvitations()"
             ng-class="invitationsActive ? 'set--is-active' : ''">
            <a href="#invitations" class="text--large text--align-center"
               translate="USER.INVITATION"></a>
        </div>
    </div>

    <div style="padding-top: 15px; padding-left:15px;">
        <h2 ng-if="allUsersActive" translate="USER.COMPANY_USERS"
            translate-values="{companyName: companyName, userCount: users.length}"></h2>
        <h2 ng-if="invitationsActive" translate="USER.INVITED_USERS"
            translate-values="{companyName: companyName, userCount: users.length}"></h2>
        <hr />

        <div>
            <span class="text--thick" translate="USER.SEARCH_USER"></span>
            <div>
                <div class="col-1-5">
                    <div selectric options="columns" value="id" label="name"
                         placeholder="{{'LABEL.SELECT' | translate}}"></div>
                </div>
                <form class="form form--search col-1-3" data-form="">
                    <div class="form__field" style="border-radius: 0;">
                        <input type="text" name="search" id="search" placeholder="Search">
                    </div>
                </form>
                <div class="col-1-1 btn btn--secondary" translate="LABEL.SEARCH"
                     ng-click="search()"></div>
            </div>
        </div>
    </div>

    <div  style="padding-left:15px;">
        <table ng-if="users.length > 0" data-js="responsive-table"
               class="table table--condensed table--even table--responsive text--small">
            <thead>
                <tr>
                    <th translate="LABEL.STATUS"></th>
                    <th translate="LABEL.CREATED_DATE"></th>
                    <th translate="LABEL.USER_ID"></th>
                    <th translate="LABEL.NAME_LAST_FIRST"></th>
                    <th translate="LABEL.EMAIL"></th>
                    <th translate="LABEL.COMPANY_ACCT"></th>
                    <th translate="LABEL.ROLE"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td ng-if="allUsersActive" translate="{{getStatus(user.activeStatus) | translate}}"></td>
                    <td ng-if="invitationsActive" ng-bind="user.invitedStatus"></td>
                    <td ng-bind="user.created"></td>
                    <td ng-bind="user.userId"></td>
                    <td><a href="/delegated_admin/{{user.userId}}/read"
                           ng-click="goToRead(user)">{{user.lastName}},{{user.firstName}}</a></td>
                    <td ng-bind="user.email"></td>
                    <td><div selected-account-list accounts={{user._links.accounts}}></div></td>
                    <td><div selected-role-list roles={{user._links.roles}}></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
