<div class="form__field form__field--required">
    <label translate="LABEL.EMAIL"></label>
    <input name="email" type="text" ng-model="user.email" value="" class="" required />
</div>
<div class="form__field form__field--required">
    <label translate="AUTH.PASSWORD"></label>
    <input name="password" type="text" ng-model="user.password" value="" class="" required />
</div>
<div class="form__field form__field--required">
    <label translate="AUTH.PASSWORD_CONFIRM"></label>
    <input name="passwordConfirm" type="text" value="" class="" required />
</div>
