<fieldset>
    <div class="form__field form__field--checkbox">
        <input type="checkbox" id="reqyest-service" value="" data-js="customInput">
        <label for="reqyest-service"><span></span> {{'ROLE.REQUEST_SERVICE' | translate}}</label>
    </div>
    <div class="form__field form__field--checkbox">
        <input type="checkbox" id="order-hardware" value="" data-js="customInput">
        <label for="order-hardware"><span></span> {{'ROLE.ORDER_HW' | translate}}</label>
    </div>
    <div class="form__field form__field--checkbox">
        <input type="checkbox" id="order-consume" value="" data-js="customInput">
        <label for="order-consume"><span></span> {{'ROLE.ORDER_CSM' | translate}}</label>
    </div>
    <div class="form__field form__field--checkbox">
        <input type="checkbox" id="mdc-basic" value="" data-js="customInput">
        <label for="mdc-basic"><span></span> {{'ROLE.MADC_BASIC' | translate}}</label>
    </div>
    <div class="form__field form__field--checkbox">
        <input type="checkbox" id="mdc-advance" value="" data-js="customInput">
        <label for="mdc-advance"><span></span> {{'ROLE.MADC_ADV' | translate}}</label>
    </div>
    <div class="form__field form__field--checkbox">
        <input type="checkbox" id="manage-doc" value="" data-js="customInput">
        <label for="manage-doc"><span></span> {{'ROLE.MANAGE_DOC' | translate}}</label>
    </div>
    <div class="form__field form__field--checkbox">
        <input type="checkbox" id="view-bill" value="" data-js="customInput">
        <label for="view-bill"><span></span> {{'ROLE.VIEW_BILL' | translate}}</label>
    </div>
    <div class="form__field form__field--checkbox">
        <input type="checkbox" id="manage-user" value="" data-js="customInput">
        <label for="manage-user"><span></span> {{'ROLE.MANAGE_USER' | translate}}</label>
    </div>
</fieldset>
