<div class="form__field form__field--required">
    <label translate="USER_MAN.COMMON.TXT_FIRST_NAME"></label>
    <input name="firstName" type="text" ng-model="user.firstName" value="" class="" required />
</div>
<div class="form__field form__field--required">
    <label translate="USER_MAN.COMMON.TXT_LAST_NAME"></label>
    <input name="lastName" type="text" ng-model="user.lastName" value="" class="" required />
</div>
<div class="form__field form__field--required">
    <label translate="USER_MAN.COMMON.TXT_PHONE_NUMBER"></label>
    <input name="workPhone" type="text" ng-model="user.workPhone" value="" class="" required />
</div>
<div class="form__field form__field--required">
    <label translate="USER_MAN.COMMON.TXT_EMAIL_ADDRESS"></label>
    <input name="email" type="text" ng-model="user.email" value="" class="" required />
</div>
<div class="form__field form__field--select" >
    <label translate="USER_MAN.COMMON.TXT_PREFERRED_LANGUAGE"></label>
                 
    <select ng-model="user.preferredLanguage" name="language">
            <option value="" translate="LABEL.SELECT"></option>
            <option ng-repeat="language in languageOptions" value="{{ language.code }}"  ng-selected="{{user.preferredLanguage === language.code}}">
            {{language.name}}
            </option>
    </select>
</div>
