<div class="page-header">
    <div class="col-1">
        <ul class="breadcrumb">
            <li><a href="/" translate="DASHBOARD.TITLE"></a> >&nbsp;</li>
            <li translate="USER_MAN.MANAGE_USERS.TXT_MANAGE_USERS"></li>
        </ul>
    </div>
    
    <h1 translate="USER_MAN.MANAGE_USERS.TXT_MANAGE_USERS"></h1>
    <p><span translate="USER_MAN.MANAGE_USERS.TXT_MANAGE_USERS_PAR"></span></p>
    <div alert-message title="SERVICE_REQUEST.TITLE_ABANDON_MODAL" 
            body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
            cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL" 
            confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
         return-path="/delegated_admin">
     </div><br/>
    <div ng-show="saved" class="alert">
        <span translate="USER_MAN.MANAGE_USERS.TXT_MSG_USER_CREATED"></span>
        <a href="" translate="USER_MAN.MANAGE_USERS.LNK_MANAGE_USER"  translate-values="{user_name: fullName}" ng-click="view(user)"></a>
    </div>

    <div ng-show="showUserUpdatedMessage" class="alert">
        <span translate="USER_MAN.MANAGE_USERS.TXT_MSG_USER_UPDATED"></span>
    </div>

    <div ng-show="invited" class="alert">
       {{noOfUsersInvited}} <span translate="USER_MAN.INVITE_USERS.TXT_MSG_USER_INVITED"></span>
    </div>

    <div class="btns">
        <button type="button" class="btn btn--default" ng-click="goToCreateUser()" translate="USER_MAN.MANAGE_USERS.BTN_CREATE_NEW_USER"></button>
        <button type="button" class="btn btn--default" ng-click="goToInviteUser()" translate="USER_MAN.MANAGE_USERS.BTN_INVITE_NEW_USER"></button>
        <button type="button" ng-if="lexmarkUserAccess" class="btn btn--default" ng-click="goToLexmrkUser()" translate="USER_MAN.MANAGE_LXK_USERS.TXT_MANAGE_LXK_USERS"></button>
    </div>
</div>
<div class="page-tabs" user-tabs></div>


