<div class="page-header">

    <h1 translate="DELEGATED_ADMIN.TITLE"></h1>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</span>
    <div alert-message title="SERVICE_REQUEST.TITLE_ABANDON_MODAL" body="SERVICE_REQUEST.BODY_ABANDON_MODAL"
         cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL" confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM"
         return-path="/delegated_admin"></div>

    <div class="btns">
        <button type="button" class="btn btn--default" ng-click="goToCreateUser()" translate="USER.CREATE_USER"></button>
        <button type="button" class="btn btn--default" ng-click="goToInviteUser()" translate="USER.INVITE_USER"></button>
        <button type="button" class="btn btn--default" ng-click="goToImportUsers()" translate="USER.IMPORT_USER"></button>
    </div>
</div>
<div class="page-tabs" user-tabs></div>


