/** DASHBOARD MOCK **/
h1, h2, p{
    color: #1d1d25;
}
dt{
    float:left;
}

dd,dt,dl{
    min-height:25px;
}

.well{
    border:none;
    min-height: 100px;
}

textarea{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row.form-action{
    margin-top:24px;
}
.form-action .btn--secondary{
    margin-right:20px;
}

.col-1-3 p {
    margin-bottom: 12px;
}
.primary-contact-action{
    margin-top:24px;
}

a.read-more{
    display: block;
    margin-top: -20px;
}

.action-bar h4 {
    padding: 0;
    margin: 0;
}

.action-bar p {
    padding: 0;
    margin: 0;
}

.action-bar .report-tab {
    border: 1px solid #ccc;
    height: 130px;
}

.dashboard-widget {
    border: 1px solid #ccc;
}
/** END DASHBOARD MOCK **/
