/** DASHBOARD MOCK **/

.dashboard{
    .blue{
         color: @blue1;
    }

    .form__field{
        margin-bottom: 36px;
    }

    .border--right{
        border-right: 1px solid @grey3;
    }

    .card{
        box-shadow: none;
        border: none;

        p{
            color: @white;
        }

        .card__content{
            padding:24px 30px 72px 30px;
        }
    }
}

.primary-contact-action{
    margin-top:24px;
}

a.read-more{
    display: block;
    /*margin-top: -20px;*/
}

.action-bar h4 {
    padding: 0;
    margin: 0;
}

.action-bar p {
    padding: 0;
    margin: 0;
}

.action-bar .report-tab {
    border: 1px solid #ccc;
    height: 130px;
}

.dashboard-widget {
    border: 1px solid #ccc;
}
/** END DASHBOARD MOCK **/

.newsArticle{
    img{
        width: 100%;
        height: 225px;
        border-radius: 10px;
        box-shadow: 0 0 10px grey;
    }
}