.filter--search{

    &.form__field{
        overflow: visible;
    }

    height: 54px;
    border: 1px solid transparent;

    &.focus{
          box-shadow: 0 0 5px 0px #b5cff5;
          border-color: #6ca0eb;
          outline: none;
    }

    .selectric{
        border-right: none;

        &:hover{
            border-right: none;
        }

        &.hover, &.focus{
            border-top: 1px solid @blue1;
            border-right: none;
            border-bottom: 1px solid @blue1;
            border-left:  1px solid @blue1;
        }
    }

    .selectricHover .selectric {
        border-top: 1px solid @blue1;
        border-right: none;
        border-bottom: 1px solid @blue1;
        border-left:  1px solid @blue1;
    }

    .selectricItems {

        li:hover, li:active, li.selected{
            background: @blue1;
            color: #ffffff;
        }

    }

    .search{
        background: #e6e6f0;
        background: -webkit-linear-gradient(@white, @grey2);
        background: -o-linear-gradient(@white, @grey2);
        background: linear-gradient(@white, @grey2);
        border: 1px solid @grey5;
        height: 54px;
        width: 100%;
        border-left: none;
        cursor: pointer;

        &:focus{
            outline: none;
        }

        &.hover, &.focus{
            border-top: 1px solid @blue1;
            border-right: 1px solid @blue1;
            border-bottom: 1px solid @blue1;
            border-left: none;
        }

    }

    .form__field{
        position: relative;
        margin-bottom: 0;

        input.hover, input.focus{
            border-top: 1px solid @blue1;
            border-right: 1px solid @grey5;
            border-bottom: 1px solid @blue1;
            border-left: 1px solid @grey5;
        }

    }

    .close-icon {
        background-color: @grey2;
        color: @grey4;
        font-size: 16px;
        font-style: normal;
        padding-bottom: 3px;
        height: 24px;
        width: 24px;
        position: absolute;
        left: 86%;
        top: 50%;
        margin-top: -13px;
        text-align: center;
        cursor: pointer;

        &:active{
            color: @grey9;
        }
    }

    .search-box:focus {
        outline: none;
    }

    @media @mq-gt-tablet{
 
    }

    @media @mq-lt-desktop{

        .close-icon{
            left: 84.5%
        }
    }

    @media @mq-lt-laptop{

        height: 132px;

        &.focus{
          box-shadow: none;
          border-color: transparent;
          outline: none;
        }

        .search-menu{
            padding-top: 0;
        }

        .selectric{
            border-right: 1px solid @grey5;

            &.hover, &.focus, &:hover{
                border: 1px solid @blue1;
            }
        }

        .form__field {
            margin-top: 24px;
        }

        .close-icon{
            left: 79.5%
        }

        .selectricHover .selectric {
            border: 1px solid @blue1;
        }

        .form__field{

            &.form__field-btn.focus{
                box-shadow: 0 0 5px 0px #b5cff5;
                border-color: #6ca0eb;
                outline: none;
            }

            input.hover, input.focus{
                border: 1px solid @blue1;
            }

        }

    }

}
.scrollable {
    overflow-y: auto;
    max-height: (16)*@base-grid-h;
}
.float-right {
    float: right;
}
