textarea{
    width: 100%;
    box-sizing: border-box;
}

.selectric .form__field__current-option{
    margin-right: (6)*@base-grid-h;
}

.selectricButton {
    height: 52px;
}

.selectricHover .selectric {
    border: 1px solid #0061de;
}
.form__field label:after {
    content: "";
}

label.question{
    font-weight: 300;
}

.selectricItems {
    li:hover, li:active, li.selected{
        background: #0061de;
        color: #ffffff;
    }

}
