textarea{
    width: 100%;
    box-sizing: border-box;
}

.selectric .form__field__current-option{
    margin-right: (6)*@base-grid-h;
}

.selectricButton {
    height: 52px;
}

.selectricHover .selectric {
    border: 1px solid #0061de;
}
.form__field label:after {
    content: "";
}

.form__field--required.form__field label:before {
    content: "";
}

.form__field--required.form__field label:after,
strong.form__field--required:after {
    content: " *";
    color: @red;
}

label.question{
    font-weight: 300;
}

.selectricItems {
    li:hover, li:active, li.selected{
        background: #0061de;
        color: #ffffff;
    }

}
select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #0061de;
    color: #ffffff;
    font-size: inherit;
    overflow: hidden;
    padding: 15px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display:block;
}

input[type='radio'],
input[type='checkbox'] {
    display: inline;
    float: left;
    height: 25px;
    width: 20px;
    margin-bottom: 10px;
}
input[type='radio'] + label,
input[type='checkbox'] + label {
    float: left;
    display: inline;
    /* background-color: green; */
}
.form__field--required_multiple.form__field label:after {
    content: " **";
    color: @red;
}
form.ng-submitted{
    div[data-required$="false"]{
        border-color: @red;
    }
    div[data-required$="false"]{
        .selectric{
            border-color: @red;
        }
    }
	input,select,textarea{
		&.ng-invalid-required,&.ng-valid-required.ng-invalid{
			border-color: @red;
			color: @red;
		}
	}
}