.site-header{
    padding: 0 (4)*@base-grid-h;
    border-top: 5px solid @color-b2;
    border-bottom: 1px solid @color-n4;
    .fn-clearfix();

    .logo{
        padding: (2)*@base-grid-v 0;
        display: block;

        @media @mq-gt-mobile{
            float: left;
        }

        img{
            display: block;
        }
    }

    .util-nav{
        float: right;
        padding: @base-grid-v 0;
    }

    .search-btn{

        .icon{
            font-size: 2rem;
            line-height: 1.4;
            margin-right: 5px;
            vertical-align: bottom;
        }
    }
}

.search{
    padding: @base-grid-v (2)*@base-grid-h;
}
