.call-to-action:hover {
    color: @purple;
}

/** Sprite based icons **/

.icon--mps {
    background-image: url(/etc/resources/img/mps-icons.png);
	cursor: pointer;
    &.icon--bookmark {
        background-position: 0 0;
        height: 22px;
        width: 19px;
        margin: 6px 7px 0 0;
    }

    &.icon--print {
        background-position: -20px 0;
        height: 18px;
        width: 21px;
        margin: 1px 7px 0 0;
    }

    &.icon--download {
        background-position: -41px 0;
        height: 18px;
        width: 21px;
        margin: 3px 2px 0 0;
    }
}

/** Font based icons **/

.icon-16 {
    font-size: 16px;
}

.icon-24 {
    font-size: 24px;
}

[class^="icon-mps"], [class*=" icon-mps"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mps' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@lib-icon-document: "\e90e";
@lib-icon-spreadsheet: "\e90d";
@lib-icon-blank: "\e90f";

.icon-mps-doc:before { content: @lib-icon-document; }
.icon-mps-docx:before { content: @lib-icon-document; }
.icon-mps-pdf:before { content: @lib-icon-document; }

.icon-mps-xls:before { content: @lib-icon-spreadsheet; }
.icon-mps-xlsx:before { content: @lib-icon-spreadsheet; }
.icon-mps-csv:before { content: @lib-icon-spreadsheet; }

.icon-mps-other:before { content: @lib-icon-blank; }

.icon-mps-lbs_map:before {
    content: "\e90c";
}

.icon-mps-location:before {
    content: "\e900";
}
.icon-mps-strategic:before {
    content: "\e901";
}
.icon-mps-requests:before {
    content: "\e902";
}
.icon-mps-report:before {
    content: "\e903";
}
.icon-mps-pin:before {
    content: "\e904";
}
.icon-mps-orders:before {
    content: "\e905";
}
.icon-mps-invoice:before {
    content: "\e906";
}
.icon-mps-global:before {
    content: "\e907";
}
.icon-mps-device:before {
    content: "\e908";
}
.icon-mps-contact:before {
    content: "\e909";
}
.icon-mps-browse:before {
    content: "\e90a";
}
.icon-mps-admin:before {
    content: "\e90b";
}

/** From https://pswgithub.rds.lexmark.com/pages/ClientFramework/controls/icons.html **/

[class^="icon-psw"], [class*=" icon-psw"] {
    font-family: 'Action-Icons-Library';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-psw-disclosure_right_triangle:before {
    content: "\e020";
}

.icon-psw-project:before {
    content: "\e636";
}

.icon-psw-dashboard:before {
    content: "\e63b";
}

.icon-psw-library:before {
    content: "\e654";
}

.icon-psw-error:before {
    content: "\e017";
}

.icon-psw-edit:before {
    content: "\e055";
    cursor: pointer;
}
.icon-psw-delete:before {
    content: "\e02f";
    cursor: pointer;
}

.icon-psw-disclosure_down_triangle:before {
    content: "\e04a";
}

.icon-psw-disclosure_up_triangle:before {
    content: "\e049";
}

.icon-psw-home:before {
    content: "\e62b";
}

.icon-psw-up-arrow:before {
    content: "\e06d";
}

.icon-psw-down-arrow:before {
    content: "\e06e";
}


