.nav-btn{
    display: block;
    padding: @base-grid-v @base-grid-h;

    .icon{
        vertical-align: baseline;
    }
}

.rail-nav{

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li{
        margin: 0;
        padding: 0;
        position: relative;
    }

    a{

    }

    .nav-item{
        display: block;
        padding: @base-grid-v @base-grid-h;
        position: relative;
        border-left: @base-grid-h solid;
        transition: .1s;

        .icon{
            line-height: .95;
        }

        .item-icon{
            font-size: 1.45em;
            padding-right: 5px;
        }
    }

    a.nav-item{

    }

    .sub-nav{
        .nav-item{
            padding: @base-grid-v (2)*@base-grid-h;
        }
    }
}

.top-logo{
    width: 200px;
    height:41px;
    float:left;
    display:inline;
    margin-top: 20px;
    margin-left: 10px;
    @media @mq-lt-medium{
        display:none;
    }
}
.title{
    display:inline;
    float:left;
}

.title h1{
    padding: 0 (2)*@base-grid-h;
    position: absolute;
    top: 18px;

    @media @mq-desktop{
        padding: (1)*@base-grid-v (12.5)*@base-grid-h;
    }
    @media @mq-laptop{
        padding: (1)*@base-grid-v (12.5)*@base-grid-h;
    }
    @media @mq-lt-medium {
        display:none;
    }
}
