.page-header,
.page-content{
    padding: (2)*@base-grid-v (1.2)*@base-grid-h;

    @media @mq-desktop{
        padding: (2)*@base-grid-v (5)*@base-grid-h;
    }
    @media @mq-laptop{
        padding: (2)*@base-grid-v (5)*@base-grid-h;
    }

    .fn-clearfix();
}

.page-header{
    background-color: @grey1;
    font-size: 16px;
    hr {
		border: 0;
		border-top: 2px solid @grey3;
	}

    @media @mq-mobile{
        hr{
            margin-bottom: 24px;
        }
    }
}

.page-content{
    min-height: 600px;
}

.page-content, .page-tabs{
        hr {
        border: 0;
        border-top: 2px solid @grey3;
    }
}

.page-tabs{
    h2{
        display: inline-block;
    }
}

.breakAll {
    word-break: break-all;
}

.paddingR20 {
    padding-right: 20px;
}

.padding10 {
    padding: 0 10px;
}

.marginR3 {
    margin: 0px 3px 0px 0px !important;
}

.displayBlock {
    display: block;
    overflow: hidden;
    padding: 0;
}

.marginLeft50px{
    margin-left: 50px
}

.marginB20{
    margin-bottom: 20px
}

.groupingTable{
    border: 1px solid @grey3;
    .marginB20;
    .firstCol{
        text-align: center;
        padding: 10px;
        border-right: 1px solid @grey3;
    }
    .secondCol{
        padding: 10px;
        margin-left: -1px;
        border-left: 1px solid @grey3;
    }
}

.margin0{
    margin: 0px !important;
    padding: 0px !important;
}

.loadingIcon{
    border-radius: 50%;
    border-color: #fff transparent transparent #fff;
    border-style: solid;
    border-width: 2px;
    content: "";
    display: inline-block;
    height: 0.75em;
    margin-right: 0.5em;
    width: 0.75em;
    animation: 0.75s linear 0s normal none infinite running v-busy-spin;
}