.page-header,
.page-content{
    padding: (2)*@base-grid-v (2)*@base-grid-h;

    @media @mq-desktop{
        padding: (2)*@base-grid-v (5)*@base-grid-h;
    }
    @media @mq-laptop{
        padding: (2)*@base-grid-v (3)*@base-grid-h;
    }

    .fn-clearfix();
}

.page-header{
    background-color: @grey1;
}

.page-content{

}


