.full-circle {
    background-color: #7e7e85;
    height: 80px;
    border-radius: 40px;
    width: 80px;
    text-align: center;
    margin: 0 auto;
}
.empty-chart-text {
    font-size: 36px;
    color: #fff;
    padding-top: 10px;
    margin: 0 auto;
}
