/* <ui-grid> */

.table,  .table-image{

    max-width: 100%;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    font-size:9pt;

   .ui-grid-row:nth-child(odd) {
      border-bottom: 1px solid @grey4;
    }
  .ui-grid-cell-contents {
    padding:0;
    margin:0;
  }
  .ui-grid-canvas {
    position: relative;
    padding-top: 0;
  }
  .ui-grid-header-cell.bookmark-header{
    padding: 10px 0 0 0 !important;
  }
  .ui-grid-header-cell:first-child {
    border-left: 1px solid @grey4;
    padding: 12px 20px;
  }
  .ui-grid-header-cell:last-child {
    border-right: 2px solid @grey4;
  }
  .ui-grid-header-cell {
    font-weight: bold;
    padding: 6px 10px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid @grey4;
    background-color:@grey1;
  }
  .ui-grid-canvas .ui-grid-row-header-cell:first-child {
    padding: 5px 5px 5px 0;
  }
  .ui-grid-row:last-child, tfoot > tr:last-child{
    border-bottom:solid 1px @grey4;
  }
  .ui-grid-cell:first-child, td:first-child{
    border-left: solid 1px @grey4;
  }

  td{
    border-right: solid 1px @grey4;
  }

  .ui-grid-canvas .ui-grid-cell,
  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child{
    text-align: left;
    vertical-align: top;
    padding:12px 10px;
    border-top: none;
    border-right: solid 1px @grey4;
  }
  .ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: @grey1;
    border:@grey4;
  }
  .selection, .bookmark{
    padding: 12px 5px !important;
  }
  .selection {
    border-right:none !important;
  }
  tfoot td{
    background-color:@grey1;
  }
}

.no-border{
    border-left: 0 none !important;
}

.ui-grid-header-cell{
  border-left: solid 1px  @grey4;
}

  div.ui-grid-cell .form__field input{
    background-color: #fff;
    border: 1px solid #7e7e85;
    box-sizing: border-box;
    box-shadow: none;
    color: #1d1d25;
    display: block;
    padding: 0px 20px;
    margin: 0;
    width: 100%;
    font-family: tpHero,Arial,Sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
}
div.ui-grid-cell .form__field--has-alert.form__field input,
div.ui-grid-cell .form__field--has-alert.form__field select {
    border-color: #ea1b3d;
    color: #ea1b3d;
}
.table .ui-grid-canvas .ui-grid-cell:first-child {
  padding-top: 8px;
}
.pagination {
  margin-top:48px;
  button{
    padding: 12px 10px;
    height: 48px;
    width: 44px;
    color: #0061de;
    background-color: #FFFFFF;
    font-weight: bold;
    border:1px solid #d3d3d3;
  }
  .icon{
    margin:0;
  }
  .current{
    border-top: 3px solid #1d1d26;
    border-left: 1px solid #1d1d26;
    border-right: 1px solid #1d1d26;
    margin-top:3px;
    color:black;
  }
  .page-number:visited{
    color:#884fad;
  }
}

.catalog{
    .ui-grid-top-panel {
        background: transparent;
    }
    .ui-grid .ui-grid-row {
      border-top: 0px solid none;
    }
    .ui-grid-row .ui-grid-cell{
      border:none;
    }
    .ui-grid-row .ui-grid-cell:first-child{
      border-left:solid 1px @grey4;
    }
    .ui-grid-row .ui-grid-cell:last-child{
      border-right:solid 1px @grey4;
    }
    /* hover state of row */
    .ui-grid-row:hover .ui-grid-cell,
    .ui-grid-row:last-child:hover .ui-grid-cell{
      border-top: solid 2px @blue1;
      border-bottom: solid 2px @blue1;
    }

   .ui-grid-row:hover .ui-grid-cell:first-child{
      border-left: solid 2px @blue1;
    }
   .ui-grid-row:hover .ui-grid-cell:last-child{
      border-right: solid 2px @blue1;
    }
    /* selected state of row */
    .ui-grid-row-selected .ui-grid-cell{
      border-top: solid 2px @grey4 !important;
      border-bottom: solid 2px @grey4 !important;
    }
    .ui-grid-row-selected .ui-grid-cell:first-child{
      border-left: solid 2px @grey4 !important;
    }
   .ui-grid-row-selected .ui-grid-cell:last-child{
      border-right: solid 2px @grey4 !important;
    }
}
.summary{
  .form__field{
    margin:0px;
  }
}
.total {
  td{
      width:50%;
      background-color:white;
      text-align:right;
  }

}

.catalog, .summary{
  .ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: white;
  }
}


.long-text-wrap .ui-grid-cell-contents{
  overflow: visible;
  word-wrap:break-word;
  word-break:break-word;
  overflow-wrap:break-word;
  white-space:normal !important;
  overflow-wrap: break-word;
}



/* </ui-grid> */
