<div class="page-header">
    <h1 translate="PORTAL_ADMIN.IMPORT_TRANSLATION_TILE"></h1>
    <p translate="MESSAGE.LIPSUM"></p>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-2-3">
            <h2 translate="PORTAL_ADMIN.SELECT_TRANSLATION_FILE"></h2>
            <hr />

            <form check-form-valid   name="languageImportForm" class="col-1 form" enctype="multipart/form-data" novalidate>
                <div attachments></div>

                <div ng-repeat="language in languages">

                    <label class="form__field form__field--no-margin">
                        <input type="radio" id="{{ language.localeCode }}" name="importedFileLanguage" ng-model="$parent.importedFileLanguage" value="{{language.localeCode}}"/>
                        <label for="{{ language.localeCode }}">
                            <span></span>{{ language.language }}
                        </label>
                    </label>
                </div>

                <div class="l-pad-top">
                    <hr />
                    <button name="cancel"
                        class="btn btn--secondary"
                        data-js="modalOpen"
                        data-target="#cancel"
                        translate="PORTAL_ADMIN_SECTION.MANAGE_TRANSLATION.BTN_ABANDON_IMPORT"
                    ></button>
                    <button class="Button Button--default btn btn--primary" type="submit"
                            v-busy="isLoading" v-busy-label="{{ 'COMMON.ACTIONS.BTN_LOADING' | translate}}"
                            ng-click="importLanguage(languageImportForm)">
                            <span translate="{{configure.button.name}}"></span>
                    </button>

                    <div confirm-cancel
                        title="PORTAL_ADMIN_SECTION.MANAGE_TRANSLATION.TITLE_IMPORT_ABANDON_MODAL"
                        body="PORTAL_ADMIN_SECTION.MANAGE_TRANSLATION.BODY_IMPORT_ABANDON_MODAL"
                        cancel="PORTAL_ADMIN_SECTION.MANAGE_TRANSLATION.ABANDON_IMPORT_MODAL_CANCEL"
                        confirm="PORTAL_ADMIN_SECTION.MANAGE_TRANSLATION.ABANDON_IMPORT_MODAL_CONFIRM"
                        return-path="/translations"
                    ></div>
                </div>
            </form>
        </div>
    </div>
</div>
