<h2 translate="PORTAL_ADMIN.NOTIFICATION_DETAILS"></h2>

<div class="well well--no-shadow col-2-3">
    <ul class="info-list">
        <li class="info-list__item">
            <div class="info-list__item-name" translate="PORTAL_ADMIN.TITLE"></div>
            <div class="info-list__item-value" ng-bind="translation.subModule"></div>
        </li>
        <li class="info-list__item">
            <div class="info-list__item-name" translate="PORTAL_ADMIN.MESSAGE"></div>
            <div class="info-list__item-value" ng-bind="translation.actualValue"></div>
        </li>
        <li class="info-list__item">
            <div class="info-list__item-name" translate="PORTAL_ADMIN.URL"></div>
            <div class="info-list__item-value" ng-bind="translation.url"></div>
        </li>
    </ul>
</div>