<h2 translate="PORTAL_ADMIN.LOCALIZATION"></h2>

<div class="col-lg-2-3 col-md-1-1">
    <h3 translate="PORTAL_ADMIN.DISPLAY_VALUE"></h3>

    <div class="form__field">
        <label translate="LANGUAGES.ENGLISH"></label>
        <input name="defaultText" type="text" class="" value="" ng-model="translation.values.EN" />
    </div>

    <div class="form__field">
        <label translate="LANGUAGES.SPANISH"></label>
        <input name="spanish" type="text" class="" value="" ng-model="translation.values.ES" />
    </div>

    <div class="form__field">
        <label translate="LANGUAGES.GERMAN"></label>
        <input name="german" type="text" class="" value="" ng-model="translation.values.DE" />
    </div>

    <div class="form__field">
        <label translate="LANGUAGES.FRENCH"></label>
        <input name="french" type="text" class="" value="" ng-model="translation.values.FR" />
    </div>

    <div class="form__field">
        <label translate="LANGUAGES.CHINESE_SIMPLIFIED"></label>
        <input name="chsimple" type="text" class="" value="" ng-model="translation.values.ZH_CN" />
    </div>

    <div class="form__field">
        <label translate="LANGUAGES.CHINESE_TRADITIONAL"></label>
        <input name="chtraditional" type="text" class="" value="" ng-model="translation.values.ZH_TW" />
    </div>

    <div class="form__field">
        <label translate="LANGUAGES.PORTUGUESE_BRAZIL"></label>
        <input name="por_brazil" type="text" class="" value="" ng-model="translation.values.PT_BR" />
    </div>

    <div class="form__field">
        <label translate="LANGUAGES.PORTUGUESE_PORTUGAL"></label>
        <input name="por_portugal" type="text" class="" value="" ng-model="translation.values.PT_PT" />
    </div>

    <div class="form__field">
        <label translate="LANGUAGES.ITALIAN"></label>
        <input name="italian" type="text" class="" value="" ng-model="translation.values.IT" />
    </div>

    <div class="form__field">
        <label translate="LANGUAGES.KOREAN"></label>
        <input name="korean" type="text" class="" value="" ng-model="translation.values.KO" />
    </div>

    <div class="form__field">
        <label translate="LANGUAGES.JAPANESE"></label>
        <input name="japanese" type="text" class="" value="" ng-model="translation.values.JA" />
    </div>

    <div class="form__field">
        <label translate="LANGUAGES.RUSSIAN"></label>
        <input name="russian" type="text" class="" value="" ng-model="translation.values.RU" />
    </div>

    <div class="form__field">
        <label translate="LANGUAGES.TURKISH"></label>
        <input name="turkish" type="text" class="" value="" ng-model="translation.values.TR" />
    </div>

</div>

