 <div class="btns">
    <button name="cancel"
        class="btn btn--secondary"
        data-js="modalOpen"
        data-target="#cancel"
        translate="PORTAL_ADMIN.ABANDON_TRANSLATION_CHANGES"
    ></button>
    
    <button class="Button Button--default btn btn--primary"
            v-busy="isLoading" v-busy-label="{{ 'COMMON.ACTIONS.BTN_LOADING' | translate}}"
            ng-click="update()">
            <span translate="{{'PORTAL_ADMIN.SAVE_TRANSLATION' | translate}}"></span>
    </button>

    <div confirm-cancel
        title="PORTAL_ADMIN.TITLE_TRANSLATION_ABANDON_MODAL"
        body="PORTAL_ADMIN.BODY_TRANSLATION_ABANDON_MODAL"
        cancel="PORTAL_ADMIN.ABANDON_TRANSLATION_MODAL_CANCEL"
        confirm="PORTAL_ADMIN.ABANDON_TRANSLATION_MODAL_CONFIRM"
        return-path="/translations"
    ></div>
</div>
