<div class="row">
    <div class="action-bar">
        <div class="col-1-3 l-pad report-tab">
            <h4><a href="" title="">30 open</a></h4> 
            <p>Requests For Service (B/F)</p>
            <small><a href="">15 Closed Requests</a></small>
        </div>
        <div class="col-1-3 l-pad report-tab">
            <h4><a href="" title="">100 open</a></h4> 
            <p>Orders</p>
            <small><a href="">15 Closed Requests</a></small>
        </div>
        <div class="col-1-3 l-pad report-tab">
            <h4><a href="" title="">3 open</a></h4> 
            <p>MADC Requests</p>
            <small><a href="">15 Closed Requests</a></small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1-2">
     <div class="dasboard-widget" data-card="">
        <h4>Find a Device</h4>
            <div class="media">
                    <div class="media__body">
                        <form class="form">
                            <div class="form__field">
                                <label>Search By</label>
                                <input name="deviceSearch" type="text" />
                                <button class="btn">Search</button>
                            </div>
                        </form>
                        <p>Morbi leo risus, porta ac ac, vestibulum at eros.  Nullam quis risus eget urna ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 

                        <a href="#more"><u>More</u></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="card dashboard-widget" data-card="">
            <div class="card__content">
                <div class="card__title">Find a Device</div>
                <div class="media">
                    <div class="media__body">
                        <form class="form">
                            <div class="form__field">
                                <label>Search By</label>
                                <input name="deviceSearch" type="text" />
                                <button class="btn">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card dashboard-widget" data-card="">
            <div class="card__content">
                <div draw="piechart" data="{{ madcEvents }}"></div>
            </div>
        </div>
        -->
    </div>
    <div class="col-1-2">
        <div class="card dasboard-widget" data-card="" id="widget-content">
            <div class="card__content">
                <div class="card__title">Content title</div>
                <div class="media">
                    <img class="media__visual" src="http://placecage.com/c/100/100">
                    <div class="media__body">
                        <p>Morbi leo risus, porta ac ac, vestibulum at eros.  Nullam quis risus eget urna ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. <a href="#more"><u>More</u></a>
                        </p>
                    </div>
                </div>
                <hr>
                <div style="border: 1px solid grey; width: 120px; display: inline; padding: 10px; margin: 4px;">
                    Content 1
                </div>
                <div style="border: 1px solid grey; width: 120px; display: inline; padding: 10px; margin: 4px;">
                    Content 2
                </div>
                <div style="border: 1px solid grey; width: 120px; display: inline; padding: 10px; margin: 4px;">
                    Content 3
                </div>
                <div style="border: 1px solid grey; width: 120px; display: inline; padding: 10px; margin: 4px;">
                    Content 4
                </div>
            </div>
        </div>
    </div>
</div>
