<div class="row l-pad">
    <div class="action-bar">
        <div class="col-1-3 l-pad report-tab">
            <h4><a href="" title="">30 open</a></h4> 
            <p>Requests For Service (B/F)</p>
            <small><a href="">15 Closed Requests</a></small>
        </div>
        <div class="col-1-3 l-pad report-tab">
            <h4><a href="" title="">100 open</a></h4> 
            <p>Orders</p>
            <small><a href="">15 Closed Requests</a></small>
        </div>
        <div class="col-1-3 l-pad report-tab">
            <h4><a href="" title="">3 open</a></h4> 
            <p>MADC Requests</p>
            <small><a href="">15 Closed Requests</a></small>
        </div>
    </div>
</div>
<div class="row l-pad">
    <div class="col-1-2 l-alley-after">
        <div class="dashboard-widget l-pad">
            <h4>Find a Device</h4>
            <form class="form form--search" data-form="">
                <div class="form__field">
                    <label for="search" class="l-screenreader-only">Search</label>
                    <i class="icon icon--ui icon--search-secondary"></i>
                    <input type="text" name="search" id="search" placeholder="Search">
                </div>
            </form>
        </div>
        <div class="dashboard-widget l-pad">
            <div draw="barchart" data="{{ barChartSample }}"></div>
        </div>
    </div>
    <div class="col-1-2 dashboard-widget l-pad">
        <div class="media">
            <img class="media__visual" src="http://placecage.com/c/100/100">
            <div class="media__body">
                <h4>Content title</h4>
                <p>Morbi leo risus, porta ac ac, vestibulum at eros.  Nullam quis risus eget urna ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. <a href="#more"><u>More</u></a>
                </p>
            </div>
        </div>
        <hr>
        <div style="border: 1px solid grey; width: 120px; display: inline; padding: 10px; margin: 4px;">
            Content 1
        </div>
        <div style="border: 1px solid grey; width: 120px; display: inline; padding: 10px; margin: 4px;">
            Content 2
        </div>
        <div style="border: 1px solid grey; width: 120px; display: inline; padding: 10px; margin: 4px;">
            Content 3
        </div>
        <div style="border: 1px solid grey; width: 120px; display: inline; padding: 10px; margin: 4px;">
            Content 4
        </div>
    </div>
    </div>
</div>
