<div class="row row--alley-2">
    <div class="col-1">
        <h3>Note: This page is template.  No widget is functional, and design is still under constrction.</h1>

        <div class="card" data-card="" id="widget-overview" style="width: 30%;">
            <div class="card__content">
                <div class="card__title" style="color: blue">30 Open</div>
                <div class="card__sub-title">Requests for Service (B/F)</div>
                <div class="card__author"><br /></div>
                <a class="card__action" href="#closed-requests">15 Closed Requests</a>
            </div>
        </div>

        <div class="card" data-card="" id="widget-overview" style="width: 30%;">
            <div class="card__content">
                <div class="card__title" style="color: blue">100 Open</div>
                <div class="card__sub-title">Orders</div>
                <div class="card__author">(consumables / hardware)</div>
                <a class="card__action" href="#closed-requests">15 Closed Requests</a>
            </div>
        </div>

        <div class="card" data-card="" id="widget-overview" style="width: 30%;">
            <div class="card__content">
                <div class="card__title" style="color: blue">3 Open</div>
                <div class="card__sub-title">MADC Requests</div>
                <div class="card__author"><br /></div>
                <a class="card__action" href="#closed-requests">15 Closed Requests</a>
            </div>
        </div>
    </div>
</div>
<div class="row row--alley-2">
    <div class="col-1">

        <div class="card" data-card="" id="widget-device" style="width: 45%;">
            <div class="card__content">
                <div class="card__title">Find a Device</div><br /><br /><br />
                <label>Search by:</label>
                <select style="float: right;">
                    <option selected="selected">Serial Number</option>
                    <option>Product Model</option>
                    <option>Asset Tag</option>
                    <option>Customer Device Tag</option>
                    <option>Device Hostname</option>
                    <option>IP Address</option>
                    <option>Address Name</option>
                </select><br />
                <input style="width: 100%; float: right;"></input><br />
                <button class="btn btn--secondary" style="float: right;">Search</button>
                <div class="card__summary"><br /><br /><br /><br /></div>
            </div>
        </div>

        <div class="card" data-card="" id="widget-content" style="width: 45%;">
            <div class="card__content">
                <div class="card__title">Content title</div>
                <div class="media">
                    <img class="media__visual" src="http://placecage.com/c/100/100">
                    <div class="media__body">
                        <p>Morbi leo risus, porta ac ac, vestibulum at eros.  Nullam quis risus eget urna ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. <a href="#more"><u>More</u></a>
                        </p>
                    </div>
                </div>
                <hr />
                <div style="border: 1px solid grey; width: 120px; display: inline; padding: 10px; margin: 4px;">
                    Content 1
                </div>
                <div style="border: 1px solid grey; width: 120px; display: inline; padding: 10px; margin: 4px;">
                    Content 2
                </div>
                <div style="border: 1px solid grey; width: 120px; display: inline; padding: 10px; margin: 4px;">
                    Content 3
                </div>
                <div style="border: 1px solid grey; width: 120px; display: inline; padding: 10px; margin: 4px;">
                    Content 4
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row row--alley-2">
    <div class="col-1">

        <div class="card" data-card="" id="widget-contact" style="width: 90%;">
            <div class="card__content">
                <div class="card__title">Contact My Rep</div>
                <table>
                    <tr>
                        <td style="vertical-align: top; width: 40%">
                            <div>
                                <label>Name:</label>
                                <label>Rep Name</label>
                            </div>
                            <div>
                                <label>Phone:</label>
                                <label>000-000-0000</label>
                            </div>
                        </td>
                        <td>
                            <textarea placeholder="Leave a Message for My Rep"
                                      style="width: 400px; height: 200px;"></textarea><br />
                            <button class="btn btn--secondary" style="float: right; margin: 10px;">Send</button>
                            <button class="btn btn--secondary" style="float: right; margin: 10px;">Clear</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>
</div>
