body{

}

.site-wrapper,
.site-header,
.site-nav,
.site-content,
.site-footer{
    .fn-clearfix();
}

.site-nav{
    width: 300px;
}

.site-wrapper{
    min-height: 100%;
    overflow: hidden;
}

.site-header{
    padding: @base-grid-v @base-grid-h;

    .page-title{
        padding: @base-grid-v 0;
        margin: 0;
    }
}

.site-content{
    //box-shadow: inset 3px 0px 10px 0px rgba(0,0,0,0.5);
    overflow-x: auto;
    min-height: 350px;

    > :last-child{
        margin-bottom: 0;
    }

    p a{
        text-decoration: none;
    }
}

.call-to-action--after:after, .call-to-action:before {
    content: ">";
}

.call-to-action:hover {
    color: @purple;
}

.icon--mps {
    background-image: url(/etc/resources/img/mps-icons.png);

    &.icon--bookmark {
        background-position: 0 0;
        height: 22px;
        width: 19px;
        margin: 6px 7px 0 0;
    }

    &.icon--print {
        background-position: -20px 0;
        height: 18px;
        width: 21px;
        margin: 1px 7px 0 0;
    }

    &.icon--download {
        background-position: -41px 0;
        height: 18px;
        width: 21px;
        margin: 3px 2px 0 0;
    }
}

.site-footer{
    padding: @base-grid-v @base-grid-h;

    .logo{
        float: left;
        border-right: 1px solid;

        img{
            display: block;
        }
    }

    .copyright{
        float: left;
        padding: @base-grid-v (2)*@base-grid-h;
    }

    .util-nav{
        float: right;
        padding: @base-grid-v 0;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                float: left;
                padding: 0 @base-grid-h;

                &:last-child{
                    border-right: 0;
                }
            }
        }
    }
}
