<div ng-include="'/js/service_requests/addresses/confirm-cancel.html'"></div>
<button name="back" class="col-1-3 btn btn--secondary" ng-click="back()" translate="LABEL_BACK"></button>
<button name="cancel" class="col-1-3 btn btn--secondary"
        data-js="modalOpen" data-target="#cancel" translate="LABEL_CANCEL"></button>
<button name="submit" class="col-1-3 btn btn--primary" type="submit" ng-click="continue()"
        ng-hide='continueForm' translate="LABLE_CONTINUE"></button>
<button name="submit" class="col-1-3 btn btn--primary" type="submit" ng-click="save()"
        ng-show='continueForm' translate="LABLE_SUBMIT"></button>
