<div class="col-lg-2-3 col-md-1-1">
    <div ng-if="updatedContactAddress" class="alert alert--error">
        <icon class="alert__icon icon icon--small icon--ui icon--error"></icon>
        <div class="alert__body">
            <span translate="CONTACT_SERVICE_REQUEST.UPDATE_MSG_START"></span>
            "<span ng-bind="contact.firstName"></span> <span ng-bind="contact.lastName"></span>"
            <span translate="CONTACT_SERVICE_REQUEST.ADDRESS_UPDATE_NOT_SAVED"></span>
        </div>
    </div>

    <form class="form" data-form="" name="editContact" method="post" ng-submit="editContact.$valid && saveContact('editContact')" novalidate="">

        <h2 class="vertical-space--none" translate="CONTACT_MAN.COMMON.TXT_CONTACT_INFORMATION"></h2>
        <hr/>

        <div class="form__field form__field--required">
            <label translate="CONTACT_MAN.COMMON.TXT_FIRST_NAME"></label>
            <p ng-bind="contact.firstName"></p>
        </div>
        <div class="form__field">
            <label translate="CONTACT_MAN.COMMON.TXT_LAST_NAME"></label>
             <p ng-bind="contact.lastName"></p>
        </div>

        <div class="form__field form__field--required">
            <label translate="CONTACT_MAN.COMMON.TXT_EMAIL"></label>
            <input name="email" type="text" ng-model="contact.email" value="" class="" required email-valid/>
        </div>
        <div class="form__field form__field--required vertical-space--thick">
            <label translate="CONTACT_MAN.COMMON.TXT_PHONE"></label>
            <input name="workPhone" type="text" ng-model="contact.workPhone" value="" class="" required phone-valid/>
        </div>

        <hr class="vertical-space--thick">

        <div confirm-cancel title="SERVICE_REQUEST.TITLE_ABANDON_MODAL" body="SERVICE_REQUEST.BODY_ABANDON_MODAL" cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL" confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM" return-path="/service_requests/contacts/"></div>

        <div class="btns">
            <button name="cancel" class="btn btn--secondary" data-js="modalOpen" data-target="#cancel" 
                translate="CONTACT_MAN.UPDATE_CONTACT.BTN_DISCARD_CHANGES"></button>

            <button name="submit" class="btn btn--primary" type="submit"
                v-busy="isLoading" v-busy-label="{{ 'COMMON.ACTIONS.BTN_LOADING' | translate}}">
                <span translate="{{configure.button.name}}"></span>
                </button>   
        </div>
    </form>
</div>
