<div class="col-lg-2-3 col-md-1-1">
    <div ng-if="updatedContactAddress" class="alert alert--error">
            <icon class="alert__icon icon icon--small icon--ui icon--error"></icon>
            <div class="alert__body">
                <span translate="CONTACT_SERVICE_REQUEST.UPDATE_MSG_START"></span>
                "<span ng-bind="contact.firstName"></span> <span ng-bind="contact.lastName"></span>"
                <span translate="CONTACT_SERVICE_REQUEST.ADDRESS_UPDATE_NOT_SAVED"></span>
            </div>
    </div>

    <form class="form" data-form="" name="editContact" method="post" ng-submit="editContact.$valid && saveContact('editContact')" novalidate="">

        <h2 class="vertical-space--none" translate="CONTACT.INFO"></h2>
        <hr/>

        <div class="form__field form__field--required">
            <label translate="CONTACT.FIRST_NAME"></label>
            <input name="firstName" type="text" ng-model="contact.firstName" value="" class="" required />
        </div>
        <div class="form__field">
            <label translate="CONTACT.MIDDLE_NAME"></label>
            <input name="middleName" type="text" ng-model="contact.middleName" value="" class="" />
        </div>
        <div class="form__field">
            <label translate="CONTACT.LAST_NAME"></label>
            <input name="lastName" type="text" ng-model="contact.lastName" value="" class="" />
        </div>

        <h4 translate="CONTACT_SERVICE_REQUEST.CONTACT_INFO"></h4>
        <div class="form__field form__field--required">
            <label translate="CONTACT.EMAIL"></label>
            <input name="email" type="text" ng-model="contact.email" value="" class="" required />
        </div>
        <div class="form__field form__field--required vertical-space--thick">
            <label translate="CONTACT.WORK_PHONE"></label>
            <input name="workPhone" type="text" ng-model="contact.workPhone" value="" class="" required />
        </div>

        <hr class="vertical-space--thick">

        <div class="btns">
            <button name="cancel" class="btn btn--secondary" ng-click="contacts.goToList()"
                translate="CONTACT_SERVICE_REQUEST.DISCARD_CHANGE_CONTACT_INFO"></button>
            <button name="submit" class="btn btn--primary" ng-click="saveContact('editContact')" type="submit"
                translate="CONTACT_SERVICE_REQUEST.UPDATE_INFO_SUBMIT"></button>
        </div>
    </form>
</div>
