<div class="col-lg-2-3 col-md-1-1">
    <form class="form" data-form="" name="editContact" method="post" ng-submit="editContact.$valid && saveContact('editContact')" novalidate="">

        <div contact-update-address-fields></div>

        <div class="btns">
            <button name="cancel" class="btn btn--secondary" ng-click="contacts.goToList()"
                translate="CONTACT_SERVICE_REQUEST.CANCEL"></button>
            <button name="submit" class="btn btn--primary" ng-click="saveContact('editContact')" type="submit"
                translate="CONTACT_SERVICE_REQUEST.UPDATE_SUBMIT"></button>
        </div>
    </form>
</div>
