<h4>New Contact</h4>
<div class="form__field">
    <label translate="CONTACT.FIRST_NAME"></label>
    <input name="firstName" type="text" ng-model="contact.firstName" value="" class="" />
</div>
<div class="form__field">
    <label translate="CONTACT.MIDDLE_NAME"></label>
    <input name="middleName" type="text" ng-model="contact.middleName" value="" class="" />
</div>
<div class="form__field">
    <label translate="CONTACT.LAST_NAME"></label>
    <input name="lastName" type="text" ng-model="contact.lastName" value="" class="" />
</div>
<div class="form__field">
    <label translate="CONTACT.WORK_PHONE"></label>
    <input name="workPhone" type="text" ng-model="contact.workPhone" value="" class="" />
</div>
<div class="form__field">
    <label translate="CONTACT.ALT_PHONE"></label>
    <input name="alternatePhone" type="text" ng-model="contact.alternatePhone" value="" class="" />
</div>
<div class="form__field">
    <label translate="CONTACT.EMAIL"></label>
    <input name="email" type="text" ng-model="contact.email" value="" class="" />
</div>
