<div class="page-header">
    <div class="col-1">
        <ul class="breadcrumb">
            <li><a href="/" translate="DASHBOARD.TITLE"></a> >&nbsp;</li>
            <li><a href="" ng-click="contacts.goToList()" translate="CONTACT.TITLE"></a> >&nbsp;</li>
            <li translate="CONTACT_MAN.ADD_CONTACT.TXT_ADD_SUPPLIES_CONTACT"></li>
        </ul>
    </div>

    <div class="col-lg-2-3 col-md-1">
        <h1 translate="CONTACT_MAN.ADD_CONTACT.TXT_ADD_SUPPLIES_CONTACT"></h1>
        <p translate="CONTACT_MAN.ADD_CONTACT.TXT_ADD_SUPPLIES_CONTACT_PAR"></p>
    </div>
</div>

<div class="page-content">
    <form class="form" ng-submit="saveContact('newContact')" data-form="" name="newContactForm" novalidate>
        <div class="col-2-3 l-alley-after">
            <div new-contact-fields></div>
        </div>

        <div confirm-cancel title="SERVICE_REQUEST.TITLE_ABANDON_MODAL" body="SERVICE_REQUEST.BODY_ABANDON_MODAL" cancel="SERVICE_REQUEST.ABANDON_MODAL_CANCEL" confirm="SERVICE_REQUEST.ABANDON_MODAL_CONFIRM" return-path="/service_requests/contacts/"></div>

        <div class="btns">
            <button name="cancel" class="btn btn--secondary" data-js="modalOpen" data-target="#cancel"
                translate="CONTACT_MAN.ADD_CONTACT.BTN_ABANDON_CONTACT_ADD"></button>
            <button name="submit" class="btn btn--primary" ng-click="saveContact('newContact')" type="submit"
                translate="CONTACT_MAN.ADD_CONTACT.BTN_CREATE_SUPPLIES_CONTACT"></button>
        </div>
    </form>
</div>
