<div class="row">
    <div class="col-1">
        <h1>Change Request Contacts</h1>
        <h2>Pets At Home / Pets At Home_MSA2010_MPS-UK</h2>
        <h3>Add New Contact</h3>
    </div>

    <form class="form" data-form="" name="newContact" method="post" ng-submit="newContact.$valid && continue()" enctype="multipart/form-data" novalidate>
        <div class="col-1-2 l-alley-after">
            <new-contact-fields></new-contact-fields>
        </div>
        
        <div class="col-1-2">
            <address-new-fields></address-new-fields>
            <address-location-fields></address-location-fields>
        </div>

        <button name="back" class="col-1-3 btn btn--secondary" ng-click="back()"
                translate="LABEL.BACK"></button>
        <button name="cancel" class="col-1-3 btn btn--secondary" ng-click="cancel()"
                translate="LABEL.CANCEL"></button>
        <button name="submit" class="col-1-3 btn btn--primary" ng-click="save()" type="submit"
                translate="LABEL.SUBMIT"></button>
    </form>
</div>
