<div class="page-content">
    <div class="row">
        <div class="col-1">
            <h1 translate="CONTACT_SERVICE_REQUEST.CHANGE"></h1>
            <h2>Pets At Home / Pets At Home_MSA2010_MPS-UK</h2>
            <h1 translate="CONTACT_SERVICE_REQUEST.ADD"></h1>
        </div>

        <form class="form" data-form="" name="newContact" method="post"
              ng-submit="newContact.$valid && continue()" enctype="multipart/form-data" novalidate>

            <div class="col-1-2 l-alley-after">
                <div new-contact-fields></div>
            </div>

            <div class="col-1-2">
                <div address-new-fields></div>
                <div address-location-fields></div>
            </div>

            <button name="cancel" class="col-1-3 btn btn--secondary" ng-click="cancel()"
                    translate="LABEL.CANCEL"></button>
            <button name="submit" class="col-1-3 btn btn--primary" ng-click="save()" type="submit"
                    translate="LABEL.SUBMIT"></button>
        </form>
    </div>
</div>
