<h4>Address Information</h4>
<dl class="row row--alley-4">
    <dt class="col-1-2">Address Name:</dt>
    <dd class="col-1-2">{{address.addName}}</dd>
    <dt class="col-1-2">Store-front Name:</dt>
    <dd class="col-1-2">{{address.storeName}}</dd>
    <dt class="col-1-2">Address Line 1:</dt>
    <dd class="col-1-2">{{address.addrLine1}}</dd>
    <dt class="col-1-2">Address Line 2:</dt>
    <dd class="col-1-2">{{address.addrLine2}}</dd>
    <dt class="col-1-2">Country</dt>
    <dd class="col-1-2">{{address.country}}</dd>
    <dt class="col-1-2">State / Province</dt>
    <dd class="col-1-2">{{address.state}}</dd>
    <dt class="col-1-2">City</dt>
    <dd class="col-1-2">{{address.city}}</dd>
    <dt class="col-1-2">County</dt>
    <dd class="col-1-2">{{address.county}}</dd>
    <dt class="col-1-2">District</dt>
    <dd class="col-1-2">{{address.district}}</dd>
    <dt class="col-1-2">Zip / Postal Code</dt>
    <dd class="col-1-2">{{address.zipCode}}</dd>
</dl>

<div class="row row--alley-2" ng-hide="submitForm">
    <address-navigation-button></address-navigation-button>
</div>
