<h4 translate="CONTACT.INFO"></h4>
<dl class="row row--alley-4">
    <dt class="col-1-2" translate="{{'CONTACT.FIRST_NAME' | translate}}"></dt>
    <dd class="col-1-2" ng-bind="contact.firstName"></dd>

    <dt class="col-1-2"  translate="{{'CONTACT.MIDDLE_NAME' | translate}}"></dt>
    <dd class="col-1-2" ng-bind="contact.middleName"></dd>

    <dt class="col-1-2" translate="{{'CONTACT.LAST_NAME' | translate}}"></dt>
    <dd class="col-1-2" ng-bind="contact.lastName"></dd>

    <dt class="col-1-2" translate="{{'CONTACT.WORK_PHONE' | translate}}"></dt>
    <dd class="col-1-2" ng-bind="contact.workPhone"></dd>

    <dt class="col-1-2" translate="{{'CONTACT.ALT_PHONE' | translate}}"></dt>
    <dd class="col-1-2" ng-bind="contact.alternatePhone"></dd>
 
    <dt class="col-1-2" translate="{{'CONTACT.EMAIL' | translate}}"></dt>
    <dd class="col-1-2" ng-bind="contact.email"></dd>
</dl>

