<div class="page-header">
    <div class="col-lg-2-3 col-md-1">
        <h1 translate="CONTACT_SERVICE_REQUEST.DELETE"></h1>
        <p translate="MESSAGE.LIPSUM"></p>
    </div>
</div>

<div class="page-content">
    <div class="col-1">
        <h2 translate="{{translationPlaceHolder.contactInfo}}"></h2>
        <hr />
    </div>
</div>

<div class="page-content">
    <div class="col-1">
        <h2 translate="{{translationPlaceHolder.requestContactInfo}}"></h2>
        <hr />
    </div>

    <div class="col-1">
        <button name="cancel" class="col-1-3 btn btn--secondary" ng-click="cancel()"
            translate="{{translationPlaceHolder.cancel}}"></button>
        <button name="submit" class="col-1-3 btn btn--primary" ng-click="save()" type="submit"
            translate="{{translationPlaceHolder.submit}}"></button>
    </div>
</div>
