<div class="col-1">
    <h2 class="vertical-space--none" translate="CONTACT.INFO"></h2>
    <hr/>
</div>

<div class="col-1">
    <div>
        <div>
            <span ng-bind="contact.firstName"></span>
            <span ng-bind="contact.lastName"></span>
        </div>
        <div>
            <span ng-bind="contact.email"></span>
        </div>
        <div>
            <span ng-bind="contact.workPhone"></span>
        </div>
    </div>
    <div>
        <div>
            <span ng-bind=""></span>
        </div>
        <div>
            <span ng-bind=""></span>
        </div>
        <div>
            <span ng-bind=""></span>
        </div>
    </div>
</div>

<div class="col-1 l-pad-top">
    <h2 class="vertical-space--none" translate="DEVICE_SERVICE_REQUEST.REQUEST_CONTACT_INFORMATION"></h2>
    <hr />
</div>

<div class="col-1">
    <div>
        <div>
            <span ng-bind=""></span>
        </div>
        <div>
            <span ng-bind=""></span>
        </div>
        <div>
            <span ng-bind=""></span>
        </div>
    </div>
    <div>
        <div>
            <span ng-bind=""></span>
        </div>
        <div>
            <span ng-bind=""></span>
        </div>
        <div>
            <span ng-bind=""></span>
        </div>
    </div>
</div>
