<div class="page-header">
    <div class="col-1">
        <ul class="breadcrumb">
            <li><a href="/" translate="DASHBOARD.TITLE"></a> >&nbsp;</li>
            <li><a ng-click="contacts.goToList()" href="" translate="CONTACT.TITLE"></a> >&nbsp;</li>
            <li translate="CONTACT_SERVICE_REQUEST.UPDATE"></li>
        </ul>
    </div>

    <div class="col-lg-2-3 col-md-1">
        <h1><span translate="CONTACT_MAN.UPDATE_CONTACT.TXT_UPDATE_SUPPLIES_CONTACT"></span> | <span ng-bind="originalContact.firstName"></span> <span ng-bind="originalContact.lastName"></h1>
        <p translate="{{configure.header.translate.body}}"></p>

        <div ng-show="contactAlertMessage === 'saved'" class="alert alert--info">
            <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
            <div class="alert__body">
                "<span ng-bind="contact.firstName"></span> <span ng-bind="contact.lastName"></span>"
                <span translate="CONTACT_MAN.UPDATE_CONTACT.TXT_CONTACT_ADDED"></span>
            </div>
        </div>

        <div ng-show="contactAlertMessage === 'updated'" class="alert alert--info">
            <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
            <div class="alert__body">
                <span translate="CONTACT_SERVICE_REQUEST.UPDATE_MSG_START"></span> 
                "<span ng-bind="contact.firstName"></span> <span ng-bind="contact.lastName"></span>"
                <span translate="CONTACT_SERVICE_REQUEST.UPDATE_MSG_END"></span>
            </div>
        </div>

        <div class="col-1 btns">
            <button type="button" class="btn btn--default" href="" ng-click="goToDelete()"
            translate="CONTACT_MAN.UPDATE_CONTACT.BTN_DELETE_CONTACT"></button>
        </div>
    </div>
</div>

<div class="page-tabs" contact-update-tabs></div>

