<div class="page-header">
    <div class="col-1">
        <ul class="breadcrumb">
            <li><a href="/" translate="DASHBOARD.TITLE"></a> >&nbsp;</li>
            <li><a ng-click="contacts.goToList()" href="" translate="CONTACT.TITLE"></a> >&nbsp;</li>
            <li translate="CONTACT_SERVICE_REQUEST.UPDATE"></li>
        </ul>
    </div>

    <div class="col-lg-2-3 col-md-1">
        <h1 translate="CONTACT_SERVICE_REQUEST.UPDATE"></h1>
        <p translate="MESSAGE.LIPSUM"></p>

        <div class="col-1 btns">
            <button type="button" class="btn btn--default" href="" ng-click="contacts.goToDelete(contacts.item)"
            translate="CONTACT_SERVICE_REQUEST.DELETE"></button>
        </div>
    </div>
</div>

<div class="page-content">
    <div ng-show="contacts.saved" class="alert">
        "<span ng-bind="contacts.item.firstName"></span> <span ng-bind="contacts.item.lastName"></span>"
        <span translate="CONTACT_SERVICE_REQUEST.SAVE_MSG"></span>
    </div>

    <div ng-show="contacts.updated" class="alert">
        "<span ng-bind="contacts.item.firstName"></span> <span ng-bind="contacts.item.lastName"></span>"
        <span translate="CONTACT_SERVICE_REQUEST.UPDATE_MSG"></span>
    </div>
    
    <form class="form" data-form="" name="editContact" method="post" ng-submit="editContact.$valid && continue()"
        enctype="mulitpart/form-data" novalidate ng-hide="reviewing">

        <div class="col-2-3 l-alley-after">
            <div new-contact-fields></div>
        </div>

        <div class="col-1">
            <button name="cancel" class="col-1-3 btn btn--secondary" ng-click="contacts.cancel()"
                translate="CONTACT_SERVICE_REQUEST.CANCEL"></button>
            <button name="submit" class="col-1-3 btn btn--primary" ng-click="contacts.saveContact(editContact)" type="submit"
                translate="CONTACT_SERVICE_REQUEST.UPDATE_SUBMIT"></button>
        </div>  
    </form>
</div>
