<div class="page-header">
    <div class="col-1">
        <ul class="breadcrumb">
            <li><a href="/" translate="DASHBOARD.TITLE"></a> >&nbsp;</li>
            <li translate="CONTACT.TITLE"></li>
        </ul>
    </div>

    <div class="col-lg-2-3 col-md-1">
        <h1 translate="CONTACT.LIST_TITLE"></h1>

        <p class="vertical-space--none" translate="MESSAGE.LIPSUM"></p>
        <a href="/service_requests/learn_more" translate="DEVICE_SERVICE_REQUEST.LEARN_MORE"></a>
        <div class="l-pad-top">
            <button type="button" class="btn btn--default" href="" ng-click="goToCreate()"
            translate="CONTACT_SERVICE_REQUEST.ADD"></button>
        </div>
        <div queue-alert></div>
    </div>
</div>

<div class="page-content">
    <div>
        <div print-export-title title="CONTACT.TITLE_CNT"></div>
    </div>
    <hr />
    <div grid-filter options="filterOptions" params="optionParams"></div>
    <div class="row l-pad-top">
        <div class="col-lg-2-3 col-md-1-1">
            <span class="text--semi-bold" translate="CONTACT.FILTER_LABEL"></span>
        </div>
    </div>

    <div class="row l-pad-bottom" ng-if="searchDevice">
        <div class="col-lg-2-3 col-md-1-1">
            <div grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef" total="pagination"></div>
        </div>

        <div class="col-1-8 l-alley-before-thick">
            <div columnpicker></div>
        </div>
    </div>

    <div class="col-lg-2-3 col-md-1-1">
        <button type="button" class="btn btn--default" href="" ng-click="selectRow()"
            translate="CONTACT_SERVICE_REQUEST.UPDATE" ng-disabled="!isSingleSelected()"></button>
        <button type="button" class="btn btn--default" href="" ng-click="selectRow('delete')"
            translate="CONTACT_SERVICE_REQUEST.DELETE" ng-disabled="!isSingleSelected()"></button>
    </div>

    <div class="col-1">
        <div ui-grid="gridOptions" class="table" ui-grid-exporter ui-grid-move-columns ui-grid-resize-columns ui-grid-selection>
            <div class="alert alert--info" ng-show="gridOptions.showNoResults">
                <icon class="alert__icon icon icon--small icon--ui icon--info"></icon>
                <div class="alert__body">
                    <span translate="GRID.EMPTY"></span>
                </div>
            </div>
        </div>

        <div pagination grid="{{gridOptions}}"></div>
    </div>
</div>
