<fieldset>
    <legend translate="LABEL.ADDITIONAL_INFO"></legend>

    <div class="form__field">
        <label translate="LABEL.CUSTOMER_REF_ID">C</label>
        <input name="customerReferenceId" class="" type="text" ng-model="serviceRequest.customerReferenceId" value="" />
    </div>

    <div class="form__field">
        <label translate="LABEL.COST_CENTER"></label>
        <input name="costCenter" class="" type="text" ng-model="serviceRequest.costCenter" value="" />
    </div>

    <div class="form__field">
        <label translate="LABEL.DESC"></label>
        <textarea name="addtnlDescription" class="" ng-model="serviceRequest.addtnlDescription"></textarea>
    </div>

    <div class="form__field">
        <label translate="LABEL.EFFECTIVE_DATE"></label>
        <textarea name="requestedEffectiveDate" class="" ng-model="serviceRequest.requestedEffectiveDate"></textarea>
    </div>
</fieldset>
