<div class="col-1">
    <div print-export-title title="INVOICE.TITLE_CNT"></div>
    <hr/>
</div>
<div grid-filter options="filterOptions" params="optionParams"></div>
<div class="row l-pad-top l-pad-bottom">
    <div class="col-lg-2-3 col-md-1-1">
        <div grid-search columns="visibleColumns" params="optionParams" search="searchFunctionDef" source='invoices'></div>
    </div>
</div>
<div ui-grid="gridOptions" class="table" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-exporter></div>




