<div class="page-header">
    <div class="col-1">
        <ul class="breadcrumb">
            <li><a href="/" translate="DASHBOARD.TITLE"></a> >&nbsp;</li>
            <li translate="INVOICE.COMMON.TITLE"></li>
        </ul>
    </div>
    
    <h1 translate="INVOICE.COMMON.TITLE"></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      sit amet lacus accumsan et viverra justo commodo.</p>
</div>
<div class="page-tabs" invoice-tabs></div>

