<li class="tree__item">
    <div class="tree__toggle" ng-click="expandCall()">
        <span class="icon icon--lxk-ui" ng-class="{'icon--collapse': item.expanded, 'icon--expand': !item.expanded}"></span>
    </div>

    <div>
        <label for="{{item.accountId}}">
            <input type="checkbox"
                id="{{item.accountId}}"
                name="{{item.accountId}}"
                ng-model="item.selected"
                ng-disabled="item.disabled"
                ng-change="toggleChildren(item)"
            />
            {{item.name}}
        </label>
    </div>

    <ul class="tree" ng-show="item.items.length > 0 && item.expanded">
        <li ng-repeat="child in item.items" tree-item item="child" selected-items="selectedItems" tree-type="{{treeType}}"
            filter-def="filterDef" params="params" action="{{action}}"></li>
    </ul>
</li>
