<!-- commenting until decesion -->
<!-- <div class="tree__controls">
    <button class="btn btn--small" ng-click="bulkAction('expandAll')">Expand All</button>
    <button class="btn btn--small" ng-click="bulkAction('collapseAll')">Collapse All</button>
    <button class="btn btn--small" ng-click="bulkAction('selectAll')">Select All</button>
    <button class="btn btn--small" ng-click="bulkAction('deselectAll')">Deselect All</button>
</div> -->
<ul class="tree">
    <li ng-repeat="item in items" tree-item item="item" tree-type="{{treeType}}"></li>
</ul>
