@dark-bg: @grey7;
@dark-content-bg: @white;
@dark-color: @grey1;
@dark-link: @white;

.theme--dark{
    background: @dark-bg;

    h1, h2, p{
        color: @grey9;
    }

    .title h1 {
        color: @green1;
    }

    h1.heading{
        color: @green3;
    }

    h2.heading{
        color: @grey5;
    }

    a{

    }

    hr.thick{
        border-width: 2px;
    }

    #mobileNav,
    .site-nav,
    .site-header,
    .site-footer{
        background: @dark-bg;
        color: @dark-color;
    }

    .site-nav{
        a{
            color: @dark-link;
        }
    }

    .site-content{
        background: @dark-content-bg;
    }

    .site-header{

    }

    .site-footer{
        a{
            color: @dark-link;

            &:hover,
            &:focus{
                color: @green3;
            }
        }

        .logo{
            border-color: @grey5;
        }

        .util-nav{

        }
    }

    .user__name{
        color: @green3;
    }

    .nav-btn{
        color: @dark-link;
    }

    .top-btn{
        background: @green3;
        color: @white;
    }

    .rail-nav{
        li{
            border-top: 1px solid @grey8;
            border-bottom: 1px solid @grey6;

        }
        .nav-item{
            background: @dark-bg;
            color: @dark-color;
            border-color: @dark-bg;
        }

        a.nav-item{
            &:hover,
            &:focus{
                background: @grey5;
                border-color: @green1;
                color: @white;
            }

            &:active{
                background: @grey8;
                border-color: @green1;
                color: @grey2;
            }

            &.is-active{
                background: @green3;
                border-color: @green1;
                color: @white;
            }
        }

        .sub-nav{
            background: @grey9;

            .nav-item{
                background: @grey9;
                border-color: @grey9;
            }
        }
    }
}
